<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.mantenimientosgenerales.mapper.IBINMapper">

    <sql id="consultaVistaMant">
        SELECT id_bin
             , descripcion_bin
             , es_internacional
             , valor_oif
             , longitud_pan
             , id_institucion
             , descripcion_institucion
             , descripcion_corta_institucion 
             , id_membresia
             , descripcion_membresia
             , id_servicio
             , descripcion_servicio
             , id_moneda_base
             , descripcion_moneda_base
             , id_moneda_alterna
             , descripcion_moneda_alterna
            FROM VIE_MAN_BIN
            ORDER BY id_bin ASC
    </sql>

    <select id="buscarTodos" resultType="BIN" statementType="PREPARED">
       <include refid="consultaVistaMant" />
    </select>
    
    <select id="buscarPorInstituciones" resultType="BIN" statementType="PREPARED">
       <include refid="consultaVistaMant" />
       <if  test="idsInstitucion !=null and idsInstitucion.size()>0">
			WHERE id_institucion IN 
			<foreach item="item" index="index" collection="idsInstitucion" open ="(" separator=","  close=")" >
				#{item}
			</foreach>
		</if>
    </select>

    <select id="buscarBIN" resultType="BIN">
        <include refid="consultaVistaMant" />
            WHERE id_bin = #{idBIN}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL PKG_MAN_GENERALES.PRC_MAN_BIN(
                #{modo,                             jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idBIN,            jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.descripcionBIN,   jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.esInternacional,  jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.valorOIF,         jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.longitudPAN,      jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idInstitucion,    jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idMembresia,      jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idServicio,       jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idMonedaBase,     jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idMonedaAlterna,  jdbcType=NUMERIC, mode=IN},
                #{usuario,                          jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
</mapper>