<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.mantenimientosgenerales.mapper.ICorreoTelefonoMapper">

    <sql id="consultaVistaMant">
        SELECT id_membresia
             , id_correo_telefono
             , descripcion_ind_correo_tel
             , descripcion_membresia
        FROM VIE_MAN_IND_CORREO_TELEFONO
    </sql>
    
    <sql id="orderBy">
    	ORDER BY id_membresia
    		   , id_correo_telefono 
    </sql>

    <select id="buscarTodos" resultType="CorreoTelefono" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orderBy" />
    </select>

    <select id="buscarCorreoTelefono" resultType="CorreoTelefono">
        <include refid="consultaVistaMant"/>
        WHERE id_membresia = #{idMembresia} AND id_correo_telefono = #{idCorreoTelefono}
    </select>

    <select id="buscarCorreosTelefonosPorMembresia" resultType="CorreoTelefono">
        <include refid="consultaVistaMant"/>
        WHERE id_membresia = #{idMembresia}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL PKG_MAN_GENERALES.PRC_MAN_IND_CORREO_TELEFONO(
                #{modo,                                 	jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idMembresia,          	jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idCorreoTelefono,         jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.descripcionIndCorreoTel,  jdbcType=VARCHAR, mode=IN},
                #{usuario,                              	jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
    
</mapper>