<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.mantenimientosgenerales.mapper.IEventosInstitucionMastercardMapper">
	
	<sql id="consulta">
		SELECT *
		FROM VIE_MAN_EVENTO_MC_X_INST
    </sql>
        
    <select id="buscarTodos" resultType="EventosInstitucionMastercard" statementType="PREPARED">
        <include refid="consulta"/>
    </select>
    
     <select id="buscarUno" resultType="EventosInstitucionMastercard" statementType="PREPARED">
        <include refid="consulta"/>
        <where>
        	<if test="objetoMantenido.idEventoMc">
        		ID_EVENTO_MC = #{objetoMantenido.idEventoMc}
        	</if>
        </where>
    </select>
    
    <select id="buscarPorInst" resultType="EventosInstitucionMastercard" parameterType="Integer" statementType="PREPARED">
        <include refid="consulta"/>
        <where>
        	<if test="idInstitucion != null">
        		AND ID_INSTITUCION = #{idInstitucion}
        	</if>
        </where>
    </select>
    
    <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PKG_MAN_GENERALES.PRC_MAN_EVENTO_VISA_X_INST(
                #{modo, 							  			jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idEventoMc,  					jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idInstitucion,  				jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.eventosSeparadosPorComas,   	jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
    
</mapper>
