<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.mantenimientosgenerales.mapper.IInstitucionMapper">

    <sql id="consultaVistaMant">
        SELECT id_institucion
             , descripcion_institucion
             , descripcion_corta
             , razon_social
             , ruc
             , direccion
             , es_banco_administrador
             , tipo_institucion
             , es_procesador
             , cuenta_contable_moneda_base
             , cuenta_contable_moneda_alterna
             , id_institucion_operador
             , descripcion_institucion_ope
            FROM vie_man_institucion
    </sql>

    <select id="buscarTodos" resultType="Institucion"
            statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>
    
    <select id="buscarPorCriterios" resultType="Institucion" parameterType="CriterioBusquedaInstitucion"
            statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <if  test="idInstitucionOperador != null and idInstitucionOperador != null">
       		WHERE
       		<if  test="operador=='LIKE'">
       			id_institucion_operador = #{idInstitucionOperador}
       		</if>
       		<if  test="operador=='NOT LIKE'">
       			id_institucion_operador != #{idInstitucionOperador}
       		</if>
       	</if>
    </select>

    <select id="buscarInstitucion" resultType="Institucion"
            statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        WHERE id_institucion = #{idInstitucion}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL pkg_man_generales.PRC_MAN_INSTITUCION(
                #{modo,                                         jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idInstitucion,                jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.descripcionInstitucion,       jdbcType=VARCHAR, mode=IN },
                #{objetoMantenido.descripcionCorta,             jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.razonSocial,                  jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.ruc,                          jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.direccion,                    jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.esBancoAdministrador,         jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.tipoInstitucion,              jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.esProcesador,                 jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.cuentaContableMonedaBase,     jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.cuentaContableMonedaAlterna,  jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idInstitucionOperador,        jdbcType=NUMERIC, mode=IN},
                #{usuario,                                      jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
</mapper>