<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.mantenimientosgenerales.mapper.IInstitucionMapper">

    <sql id="consultaVistaMant">
        SELECT id_institucion
             , descripcion_institucion
             , descripcion_corta
             , razon_social
             , ruc
             , direccion
             , es_banco_administrador
             , tipo_institucion
             , descripcion_tipo_institucion
             , es_procesador
             , cuenta_contable_moneda_base
             , cuenta_contable_moneda_alterna
             , id_institucion_operador
             , descripcion_institucion_ope
             , tipo_adquirente
             , cuenta_compensacion
             , es_adquirente_atm
             , es_adquirente_ventanilla
             , activo
             , es_miembro_principal_visa
             , es_miembro_principal_mc
             , bid_visa
             , ica_mc_emisor
             , ica_mc_adquirente
             , pcr_credito_visa
             , pcr_debito_visa
             , es_log_antiguo_contable
             , si_aplica_banco_administrador
             , id_institucion_bid_no_propio
             , descripcion_institucion_bid_no_propio
             , si_compensa_ope_soles
             , si_compensa_ope_dolares
             , si_aplica_bid_visa_propio
             , si_compensa_ope_bid_visa
            FROM vie_man_institucion
    </sql>

    <select id="buscarTodos" resultType="Institucion"
            statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>
    
    <select id="buscarPorCriterios" resultType="Institucion" parameterType="CriterioBusquedaInstitucion"
            statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <if  test="idInstitucionOperador != null and idInstitucionOperador != null">
       		WHERE
       		<if  test="operador=='LIKE'">
       			id_institucion_operador = #{idInstitucionOperador}
       			AND cuenta_compensacion = 0
       		</if>
       		<if  test="operador=='NOT LIKE'">
       			id_institucion_operador != #{idInstitucionOperador}
       			AND  tipo_adquirente IN (1,2)
       		</if>
       	</if>
    </select>

    <select id="buscarInstitucion" resultType="Institucion" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        WHERE id_institucion = #{idInstitucion}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL pkg_man_generales.PRC_MAN_INSTITUCION(
                #{modo,                                         jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idInstitucion,                jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.descripcionInstitucion,       jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.descripcionCorta,             jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.razonSocial,                  jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.ruc,                          jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.direccion,                    jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.esBancoAdministrador,         jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.tipoInstitucion,              jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.esProcesador,                 jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.cuentaContableMonedaBase,     jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.cuentaContableMonedaAlterna,  jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idInstitucionOperador,        jdbcType=NUMERIC, mode=IN},
                #{usuario,                                      jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.tipoAdquirente,               jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.cuentaCompensacion,           jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.esAdquirenteAtm,              jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.esAdquirenteVentanilla,       jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.activo,                       jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.esMiembroPrincipalVisa,       jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.esMiembroPrincipalMc,         jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.bidVisa,                      jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.icaMcEmisor,                  jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.icaMcAdquirente,              jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.pcrCreditoVisa,               jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.pcrDebitoVisa,                jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.esLogAntiguoContable,         jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.siAplicaBancoAdministrador,   jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idInstitucionBidNoPropio,     jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.siCompensaOpeSoles,           jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.siCompensaOpeDolares,         jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.siAplicaBidVisaPropio,        jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.siCompensaOpeBidVisa,         jdbcType=NUMERIC, mode=IN}
            )
        }
    </select>
</mapper>