<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.mantenimientosgenerales.mapper.IMembresiaMapper">

    <select id="buscarTodos" resultType="Membresia" statementType="PREPARED">
        SELECT id_membresia
             , descripcion AS descripcion_membresia
            FROM MAE_MEMBRESIA
            ORDER BY 1 ASC
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL PKG_MAN_GENERALES.PRC_MAN_MEMBRESIA(
                #{modo,                                 jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idMembresia,          jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.descripcionMembresia, jdbcType=VARCHAR, mode=IN},
                #{usuario,                              jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
</mapper>
