<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.mantenimientosgenerales.mapper.IProgramaBINMapper">

    <sql id="consultaVistaMant">
        SELECT
            id_programa,
            descripcion_programa,
            id_membresia,
            descripcion_membresia,
            id_producto,
            descripcion_producto,
            id_programa_intercambio,
            descripcion_programa_intercambio
        FROM VIE_MAN_PROGRAMA_BIN
    </sql>
    <sql id="orden">
        ORDER BY id_membresia, id_producto, id_programa
    </sql>

    <select id="buscarTodos" resultType="ProgramaBIN" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>

    <select id="buscarProgramaBIN" resultType="ProgramaBIN">
        <include refid="consultaVistaMant"/>
        WHERE
            id_programa  = #{idPrograma } AND
            id_producto  = #{idProducto } AND
            id_membresia = #{idMembresia}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL PKG_MAN_GENERALES.PRC_MAN_PROGRAMA_BIN(
                #{modo,                                     jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idMembresia,              jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idProducto,               jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idPrograma,               jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.descripcionPrograma,      jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idProgramaIntercambio,    jdbcType=VARCHAR, mode=IN},
                #{usuario,                                  jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
</mapper>