<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.mantenimientosgenerales.mapper.IReglasCompensacionMapper">

	<resultMap id="resultMap" type="ReglasCompensacion">
	  <result property="idDistribucionFondo" column="id_distribucion_fondo"/>
	  <result property="idMembresia" column="id_membresia"/>
	  <result property="descripcionMembresia" column="descripcion_membresia"/>
	  <result property="idServicio" column="id_servicio"/>
	  <result property="descripcionServicio" column="descripcion_servicio"/>
	  <result property="idOrigen" column="id_origen"/>
	  <result property="descripcionOrigen" column="descripcion_origen"/>
	  <result property="idClaseTransaccion" column="id_clase_transaccion"/>
	  <result property="descripcionClaseTransaccion" column="descripcion_clase_transaccion"/>
	  <result property="idCodigoTransaccion" column="id_codigo_transaccion"/>
	  <result property="descripcionCodigoTransaccion" column="descripcion_codigo_transaccion"/>
	  <result property="idCuentaCargoFondo" column="id_cuenta_cargo_fondo"/>
	  <result property="descripcionCuentaCargoFondo" column="descripcion_cuenta_cargo_fondo"/>
	  <result property="idCuentaAbonoFondo" column="id_cuenta_abono_fondo"/>
	  <result property="descripcionCuentaAbonoFondo" column="descripcion_cuenta_abono_fondo"/>
	  <collection javaType="List" ofType="ReglasCompensacionComision" property="comisiones">
			<result property="idDistribucionComision" column="id_distribucion_comision"/>
			<result property="idTipoComision" column="id_tipo_comision"/>
			<result property="descripcionTipoComision" column="descripcion_tipo_comision"/>
			<result property="idCuentaCargoComision" column="id_cuenta_cargo_comision"/>
			<result property="descripcionCuentaCargoComision" column="descripcion_cuenta_cargo_comision"/>
			<result property="idCuentaAbonoComision" column="id_cuenta_abono_comision"/>
			<result property="descripcionCuentaAbonoComision" column="descripcion_cuenta_abono_comision"/>
	  </collection>
	</resultMap>
	
	<sql id="consultaMantView">
		SELECT *
            FROM VIEW_MAN_REGLA_COMPENSACION
	</sql>
	
    <select id="buscarTodosReglasCompensacion" resultMap="resultMap" statementType="PREPARED">
        <include refid="consultaMantView"/>
        ORDER BY 
        	id_membresia ASC, 
        	id_servicio ASC, 
        	id_origen ASC, 
        	id_clase_transaccion ASC, 
        	id_codigo_transaccion ASC,
        	id_tipo_comision ASC
    </select>
    
    <select id="buscarPorIdReglasCompensacion" resultMap="resultMap" parameterType="Integer" statementType="PREPARED">
        <include refid="consultaMantView"/>
        <where>
        	<if test="idReglasCompensacion != null">
        		AND id_distribucion_fondo = #{idReglasCompensacion}
        	</if>
        </where>
    </select>
    
    
</mapper>
