<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.consultasgenerales.mapper.IBINVisaMapper">

    <sql id="consultaVistaMant">
        SELECT *
            FROM VIE_CON_BIN_VISA a
    </sql>
        
    <sql id = "fragmentoWhere">
    	<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		<if  test="idBIN != null and idBIN != ''">
			 AND a.ID_BIN = #{idBIN}
		</if>
		<if  test="binProcesador != null and binProcesador != ''">
			 AND a.BIN_PROCESADOR = #{binProcesador}
		</if>
		<if  test="region != null and region != ''">
			 AND a.REGION = #{region}
		</if>
		<if  test="pais != null and pais.size()>0" >
			AND a.PAIS IN 
				<foreach item="item" index="index" collection="pais" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
	</sql>
	
	<sql id = "filtros">
		<if  test="filtroFechaProceso != null" >
			AND FECHA_PROCESO = #{filtroFechaProceso}
		</if>
		<if  test="filtroIdBIN != null" >
			<bind name="pFiltroIdBIN" value="'%' + filtroIdBIN + '%'" />
			AND ID_BIN LIKE #{pFiltroIdBIN}
		</if>
		<if  test="filtroBinProcesador != null" >
			<bind name="pFiltroBinProcesador" value="'%' + filtroBinProcesador + '%'" />
			AND BIN_PROCESADOR LIKE #{pFiltroBinProcesador}
		</if>
		<if  test="filtroRegion != null" >
			<bind name="pFiltroRegion" value="'%' + filtroRegion + '%'" />
			AND REGION LIKE #{pFiltroRegion}
		</if>
		<if  test="filtroPais != null" >
			<bind name="pFiltroPais" value="'%' + filtroPais + '%'" />
			AND PAIS LIKE #{pFiltroPais}
		</if>
		<if  test="filtroTipoBIN != null" >
			<bind name="pFiltroTipoBIN" value="'%' + filtroTipoBIN + '%'" />
			AND TIPO_BIN LIKE #{pFiltroTipoBIN}
		</if>
		<if  test="filtroParticipacionFlag != null" >
			<bind name="pFiltroParticipacionFlag" value="'%' + filtroParticipacionFlag + '%'" />
			AND PARTICIPATION_FLAG LIKE #{pFiltroParticipacionFlag}
		</if>
		<if  test="filtroVisaDirect != null" >
			<bind name="pFiltroVisaDirect" value="'%' + filtroVisaDirect + '%'" />
			AND VISA_DIRECT LIKE #{pFiltroVisaDirect}
		</if>
		<if  test="filtroBinTifBypassFlag != null" >
			<bind name="pFiltroBinTifBypassFlag" value="'%' + filtroBinTifBypassFlag + '%'" />
			AND BIN_TIF_BYPASS_FLAG LIKE #{pFiltroBinTifBypassFlag}
		</if>
		<if  test="filtroMultinationalMerchantAccept != null" >
			<bind name="pFiltroMultinationalMerchantAccept" value="'%' + filtroMultinationalMerchantAccept + '%'" />
			AND MULTINATIONAL_MERCHANT_ACCEPT LIKE #{pFiltroMultinationalMerchantAccept}
		</if>
		<if  test="filtroDomesticOctPif != null" >
			<bind name="pFiltroDomesticOctPif" value="'%' + filtroDomesticOctPif + '%'" />
			AND DOMESTIC_OCT_PIF LIKE #{pFiltroDomesticOctPif}
		</if>
		<if  test="filtroCrossBorderOctPif != null" >
			<bind name="pFiltroCrossBorderOctPif" value="'%' + filtroCrossBorderOctPif + '%'" />
			AND CROSS_BORDER_OCT_PIF LIKE #{pFiltroCrossBorderOctPif}
		</if>
		<if  test="filtroOctGeoBlocking != null" >
			<bind name="pFiltroOctGeoBlocking" value="'%' + filtroOctGeoBlocking + '%'" />
			AND OCT_GEO_BLOCKING LIKE #{pFiltroOctGeoBlocking}
		</if>
		<if  test="filtroTestIndicator != null" >
			<bind name="pFiltroTestIndicator" value="'%' + filtroTestIndicator + '%'" />
			AND TEST_INDICATOR LIKE #{pFiltroTestIndicator}
		</if>
		<if  test="filtroOboIndicator != null" >
			<bind name="pFiltroOboIndicator" value="'%' + filtroOboIndicator + '%'" />
			AND OBO_INDICATOR LIKE #{pFiltroOboIndicator}
		</if>
	</sql>
	
    <sql id="orden">
    	<if  test="ordenFechaProceso != null" >
			ORDER BY
				FECHA_PROCESO  ${ordenFechaProceso}
		</if>
		<if  test="ordenIdBIN != null" >
			ORDER BY
				ID_BIN  ${ordenIdBIN}
		</if>
		<if  test="ordenBinProcesador != null" >
			ORDER BY
				BIN_PROCESADOR  ${ordenBinProcesador}
		</if>
		<if  test="ordenRegion != null" >
			ORDER BY
				REGION  ${ordenRegion}
		</if>
		<if  test="ordenPais != null" >
			ORDER BY
				PAIS  ${ordenPais}
		</if>
		<if  test="ordenTipoBIN != null" >
			ORDER BY
				TIPO_BIN  ${ordenTipoBIN}
		</if>
		<if  test="ordenParticipacionFlag != null" >
			ORDER BY
				PARTICIPATION_FLAG  ${ordenParticipacionFlag}
		</if>
		<if  test="ordenVisaDirect != null" >
			ORDER BY
				VISA_DIRECT  ${ordenVisaDirect}
		</if>
		<if  test="ordenBinTifBypassFlag != null" >
			ORDER BY
				BIN_TIF_BYPASS_FLAG  ${ordenBinTifBypassFlag}
		</if>
		<if  test="ordenMultinationalMerchantAccept != null" >
			ORDER BY
				MULTINATIONAL_MERCHANT_ACCEPT  ${ordenMultinationalMerchantAccept}
		</if>
		<if  test="ordenDomesticOctPif != null" >
			ORDER BY
				DOMESTIC_OCT_PIF  ${ordenDomesticOctPif}
		</if>
		<if  test="ordenCrossBorderOctPif != null" >
			ORDER BY
				CROSS_BORDER_OCT_PIF  ${ordenCrossBorderOctPif}
		</if>
		<if  test="ordenOctGeoBlocking != null" >
			ORDER BY
				OCT_GEO_BLOCKING  ${ordenOctGeoBlocking}
		</if>
		<if  test="ordenTestIndicator != null" >
			ORDER BY
				TEST_INDICATOR  ${ordenTestIndicator}
		</if>
		<if  test="ordenOboIndicator != null" >
			ORDER BY
				OBO_INDICATOR  ${ordenOboIndicator}
		</if>
    </sql>

    <select id="buscarTodos" resultType="BINVisa" statementType="PREPARED">
       <include refid="consultaVistaMant" />
       <include refid="orden"/>
    </select>
    
	<select id="buscarPorCriterios" parameterType="CriterioBusquedaBINVisa"  resultType="BINVisa" statementType="PREPARED">	
		<include refid="consultaVistaMant" />
		<where>
			<include refid="fragmentoWhere"/>
      	 	<include refid="filtros"/>
		</where>
      	 	<include refid="orden"/>
   	</select>
</mapper>