<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.consultasgenerales.mapper.IEstablecimientoDcpMapper">

    <sql id="consultaVistaMant">
        SELECT *
            FROM VIE_CON_ESTABLECIMIENTO_DCP a
    </sql>

    <sql id = "fragmentoWhere">
        <if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
            a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
        </if>
        <if  test="idEstablecimiento != null and idEstablecimiento != ''">
            AND a.ID_ESTABLECIMIENTO LIKE #{idEstablecimiento}
        </if>
        <if  test="direccion != null and direccion != ''">
        	<bind name="pDireccion" value="'%' + direccion + '%'" />
            AND UPPER(a.DIRECCION) LIKE UPPER(#{pDireccion})
        </if>
        <if  test="ciudad != null and ciudad != ''">
        	<bind name="pCiudad" value="'%' + ciudad + '%'" />
            AND UPPER(a.CIUDAD) LIKE UPPER(#{pCiudad})
        </if>
        <if  test="codigoPostal != null and codigoPostal != ''" >
        	<bind name="pCodigoPostal" value="'%' + codigoPostal + '%'" />
            AND UPPER(a.CODIGO_POSTAL) LIKE UPPER(#{pCodigoPostal})
        </if>
        <if  test="grupo != null and grupo != ''" >
        	<bind name="pGrupo" value="'%' + grupo + '%'" />
            AND UPPER(a.GRUPO) LIKE UPPER(#{pGrupo})
        </if>
    </sql>

    <sql id="filtros">
        <if test="filtroFechaProceso != null">
            AND FECHA_PROCESO = #{filtroFechaProceso}
        </if>
        <if test="filtroIdEstablecimiento != null">
        <bind name="pFiltroIdEstablecimiento" value="'%' + filtroIdEstablecimiento + '%'" />
            AND ID_ESTABLECIMIENTO LIKE #{pFiltroIdEstablecimiento}
        </if>
        <if test="filtroDireccion != null">
        	<bind name="pFiltroDireccion" value="'%' + filtroDireccion + '%'" />
            AND UPPER(DIRECCION) LIKE UPPER(#{pFiltroDireccion})
        </if>
        <if test="filtroCiudad != null">
        	<bind name="pFiltroCiudad" value="'%' + filtroCiudad + '%'" />
            AND UPPER(CIUDAD) LIKE UPPER(#{pFiltroCiudad})
        </if>
        <if test="filtroCodigoPostal != null">
        	<bind name="pFiltroCodigoPostal" value="'%' + filtroCodigoPostal + '%'" />
            AND UPPER(CODIGO_POSTAL) LIKE UPPER(#{pFiltroCodigoPostal})
        </if>
        <if test="filtroGrupo != null">
        	<bind name="pFiltroGrupo" value="'%' + filtroGrupo + '%'" />
            AND UPPER(GRUPO) LIKE UPPER(#{pFiltroGrupo})
        </if>
    </sql>

    <sql id="orden">
        <if test="ordenFechaProceso != null">
            ORDER BY
                FECHA_PROCESO ${ordenFechaProceso}
        </if>
        <if test="ordenIdEstablecimiento != null">
            ORDER BY
                ID_ESTABLECIMIENTO ${ordenIdEstablecimiento}
        </if>
        <if test="ordenDireccion != null">
            ORDER BY
                DIRECCION ${ordenDireccion}
        </if>
        <if test="ordenCiudad">
            ORDER BY
                CIUDAD ${ordenCiudad}
        </if>
        <if test="ordenCodigoPostal != null">
            ORDER BY
                CODIGO_POSTAL ${ordenCodigoPostal}
        </if>
        <if test="ordenGrupo != null">
            ORDER BY
                GRUPO ${ordenGrupo}
        </if>

    </sql>

    <select id="buscarPorCriterios" parameterType="CriterioBusquedaEstablecimientoDcp"  resultType="EstablecimientoDcp" statementType="PREPARED">
        <include refid="consultaVistaMant" />
        <where>
            <include refid="fragmentoWhere"/>
            <include refid="filtros"/>
        </where>
        <include refid="orden"/>
    </select>
</mapper>