<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.consultasgenerales.mapper.IEstablecimientoVisanetMapper">
	
	<sql id="consultaEstablecimientoVisanet" >
		SELECT *
		FROM VIE_CON_ESTABLEC_VISANET a
	</sql>
	
	<sql id = "fragmentoWhere">
		<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		<if  test="idEstablecimiento != null and idEstablecimiento != '' and idEstablecimiento != -1">
			 AND a.ID_ESTABLECIMIENTO = #{idEstablecimiento}
		</if>
		<if  test="idAdquirente != null and idAdquirente !=''">
			 AND a.ID_ADQUIRENTE LIKE #{idAdquirente}
		</if>
		<if  test="ruc != null and ruc !=''">
			 AND a.RUC LIKE #{ruc}
		</if>
		<if  test="ubigeo != null and ubigeo !=''">
			 AND a.UBIGEO LIKE #{ubigeo}
		</if>
	</sql>
	
	<sql id ="fragmentoWhereMultiples">
		<if test="idsGiro !=null and idsGiro.size()>0">
			AND a.ID_GIRO IN 
			<foreach item="item" index="index" collection="idsGiro" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>

	<sql id = "fragmentoFiltrosOrdenaciones">
		<if  test="filtroFechaProceso != null " >
			AND FECHA_PROCESO = #{filtroFechaProceso}
		</if>
		<if  test="filtroIdAdquirente != null " >
			<bind name="pFiltroIdAdquirente" value="'%' + filtroIdAdquirente + '%'" />
			AND ID_ADQUIRENTE LIKE #{pFiltroIdAdquirente}
		</if>
		<if  test="filtroIdEstablecimiento != null " >
			<bind name="pFiltroIdEstablecimiento" value="'%' + filtroIdEstablecimiento + '%'" />
			AND ID_ESTABLECIMIENTO LIKE #{pFiltroIdEstablecimiento}
		</if>
		<if  test="filtroRuc != null " >
			<bind name="pFiltroRuc" value="'%' + filtroRuc + '%'" />
			AND RUC LIKE #{pFiltroRuc}
		</if>
		<if  test="filtroRazonSocial != null " >
			<bind name="pFiltroRazonSocial" value="'%' + filtroRazonSocial + '%'" />
			AND UPPER(RAZON_SOCIAL) LIKE UPPER(#{pFiltroRazonSocial})
		</if>
		<if  test="filtroNombreComercial != null " >
			<bind name="pFiltroNombreComercial" value="'%' + filtroNombreComercial + '%'" />
			AND UPPER(NOMBRE_COMERCIAL) LIKE UPPER(#{pFiltroNombreComercial})
		</if>
		<if  test="filtroIdGiro != null " >
			<bind name="pFiltroIdGiro" value="'%' + filtroIdGiro + '%'" />
			AND CONCAT(UPPER(ID_GIRO), UPPER(DESCRIPCION_GIRO_NEGOCIO)) LIKE UPPER(#{pFiltroIdGiro})
		</if>
		<if  test="filtroDireccion != null " >
			<bind name="pFiltroDireccion" value="'%' + filtroDireccion + '%'" />
			AND UPPER(DIRECCION) LIKE UPPER(#{pFiltroDireccion})
		</if>
		<if  test="filtroUbigeo != null " >
			<bind name="pFiltroUbigeo" value="'%' + filtroUbigeo + '%'" />
			AND UBIGEO LIKE #{pFiltroUbigeo}
		</if>
		<if  test="filtroRecurrente != null " >
			<bind name="pFiltroRecurrente" value="'%' + filtroRecurrente + '%'" />
			AND UPPER(RECURRENTE) LIKE UPPER(#{pFiltroRecurrente})
		</if>
		<if  test="filtroTipoFacturacion != null " >
			<bind name="pFiltroTipoFacturacion" value="'%' + filtroTipoFacturacion + '%'" />
			AND CONCAT(UPPER(TIPO_FACTURACION), UPPER(DESCRIPCION_TIPO_FACTURACION)) LIKE UPPER(#{pFiltroTipoFacturacion})
		</if>
		
		
		<if  test="ordenFechaProceso != null " >
		ORDER BY
			FECHA_PROCESO  ${ordenFechaProceso}
		</if>
		<if  test="ordenIdAdquirente != null " >
		ORDER BY
			ID_ADQUIRENTE  ${ordenIdAdquirente}
		</if>
		<if  test="ordenIdEstablecimiento != null " >
		ORDER BY
			ID_ESTABLECIMIENTO  ${ordenIdEstablecimiento}
		</if>
		<if  test="ordenRuc != null " >
		ORDER BY
			RUC  ${ordenRuc}
		</if>
		<if  test="ordenRazonSocial != null " >
		ORDER BY
			RAZON_SOCIAL  ${ordenRazonSocial}
		</if>
		<if  test="ordenNombreComercial != null " >
		ORDER BY
			NOMBRE_COMERCIAL  ${ordenNombreComercial}
		</if>
		<if  test="ordenIdGiro != null " >
		ORDER BY
			ID_GIRO  ${ordenIdGiro}
		</if>
		<if  test="ordenDireccion != null " >
		ORDER BY
			DIRECCION  ${ordenDireccion}
		</if>
		<if  test="ordenUbigeo != null " >
		ORDER BY
			UBIGEO  ${ordenUbigeo}
		</if>
		<if  test="ordenRecurrente != null " >
		ORDER BY
			RECURRENTE  ${ordenRecurrente}
		</if>
		<if  test="ordenTipoFacturacion != null " >
		ORDER BY
			TIPO_FACTURACION  ${ordenTipoFacturacion}
		</if>
	</sql>
	
	<select id="buscarPorCriterios" parameterType="CriterioBusquedaEstablecimientoVisanet"  resultType="EstablecimientoVisanet" statementType="PREPARED">	
		<include refid="consultaEstablecimientoVisanet" />
		<where>
			<include refid="fragmentoWhere"/> 
			<include refid="fragmentoWhereMultiples"/>
			<include refid="fragmentoFiltrosOrdenaciones" />
		</where>
   	</select>
  	
	<select id="buscarComisionesPorSecuencia" parameterType="CriterioBusquedaEstablecimientoVisanet"  resultType="EstablecimientoVisanetComis" statementType="PREPARED">	
		SELECT *
		FROM VIE_CON_ESTABLEC_VISANET_COMIS a
		<where>
			<if  test="idAdquirente != null">
				AND a.ID_ADQUIRENTE = #{idAdquirente}
			</if>
			<if  test="idEstablecimiento != null">
				AND a.ID_ESTABLECIMIENTO = #{idEstablecimiento}
			</if>
			<if  test="fechaProceso != null">
				AND a.FECHA_PROCESO =  #{fechaProceso}
			</if>
		</where>
   	</select>

</mapper>