<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.generadorconsultas.mapper.ICampoQueryMapper">

	<sql id="consultaVistaMant">
       SELECT ID_TABLA_QUERY
			, ID_CAMPO_QUERY
			, ID_REPORTE
			, ID_TABLA
			, TABLA
			, ID_INSTANCIA_TABLA
			, ID_CAMPO
			, CAMPO
			, ALIAS_CAMPO
			, EN_ORDER_BY
			, ORDEN_ORDER_BY
			, EN_SELECT
			, ID_FUNCION_GRUPO
			, FUNCION_GRUPO
            , ID_TIPO_DATO
			<if  test="permited!= null and permited!= 0">
       			, fun_campo_permitido(ID_CAMPO,#{usuario}) AS "PERMITIDO"
            </if>
		FROM VIE_MAN_REP_CAMPO_QUERY
	</sql>
     <select id="buscarTodos" resultType="CampoQuery" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>
    <select id="buscarPorCriterios" resultType="CampoQuery" parameterType="CriterioBusquedaCampoQuery" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <where>
        <if  test=" idTablaQuery!= null and idTablaQuery != 0 ">
       			AND ID_TABLA_QUERY =#{idTablaQuery}
        </if>
         <if  test="idCampoQuery!= null and idCampoQuery != 0 ">
       			AND ID_CAMPO_QUERY =#{idCampoQuery}
        </if>
        <if  test="idReporte!= null and idReporte != 0 ">
       			AND ID_REPORTE =#{idReporte}
        </if>
        <if  test="idTabla!= null and idTabla != 0">
       			AND ID_TABLA =#{idTabla}
        </if>
        <if  test="permited!= null and permited!= 0 ">
       			AND fun_campo_permitido(ID_CAMPO,#{usuario})  > 0
        </if>
        </where>
        
    </select>
   
    
     <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PKG_MAN_REP.prc_man_rep_campo_query(
                #{modo, 						     jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idCampoQuery,      jdbcType=INTEGER, mode=IN},
                #{objetoMantenido.idTablaQuery,      jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idCampo,  	     jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.enOrderBy,  	     jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.ordenOrderBy,  	 jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.enSelect , 	     jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idFuncionGrupo ,   jdbcType=NUMERIC, mode=IN},
                #{usuario, 						     jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
</mapper>
