<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.generadorconsultas.mapper.ICampoPerfilMapper">

    <sql id="consultaVistaMant">
       SELECT
       	  ID_PERFIL_REP_CAMPO			AS ID_PERFIL_REP_CAMPO,
       	  ID_TABLA      				AS ID_TABLA, 
		  DESCRIPCION_TABLA      		AS TABLA,
		  ID_PERFIL						AS ID_PERFIL,
		  DESCRIPCION_PERFIL			AS PERFIL,
		  ID_CAMPO						AS ID_CAMPO,
		  DESCRIPCION_CAMPO				AS CAMPO
		FROM VIE_MAN_REP_PERFIL_CAMPO
    </sql>

     <select id="buscarTodos" resultType="CampoPerfil"
            statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>
    
    <select id="buscarCamposAsignables" resultType="CampoPerfil">
    	SELECT 
		  A.ID_PERFIL_REP_CAMPO, 
		  A.ID_PERFIL, 
		  A.DESCRIPCION_PERFIL, 
		  B.ID_TABLA,
		  B.TABLA AS TABLA,
		  B.ID_CAMPO, 
		  B.CAMPO AS CAMPO,
		  CASE WHEN A.ID_PERFIL_REP_CAMPO IS NOT NULL THEN 1 ELSE 0 END AS EXISTE_PERMISO
		FROM VIE_MAN_REP_PERFIL_CAMPO A
		RIGHT JOIN VIE_MAN_REP_CAMPO B 
		  ON B.ID_CAMPO = A.ID_CAMPO
		WHERE B.ASIGNABLE = 1
		AND (A.ID_PERFIL = #{idPerfil} OR A.ID_PERFIL IS NULL)
    </select>
    
    <select id="buscarPorCriterios" resultType="CampoPerfil" parameterType="CriterioBusquedaCampoPerfil"
            statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <where>
	        <if  test="perfil != null and  perfil != '' ">
	        	AND DESCRIPCION_PERFIL = #{perfil}
	        </if>
	        <if  test="idTabla != null and  idTabla != '' ">
	        	AND ID_TABLA    = #{idTabla}
	        </if>
	         <if  test="idCampo != null and  idCampo != ''  ">
	        	AND ID_CAMPO    = #{idCampo}
	        </if>
	        <if  test="idPerfil != null and  idPerfil != ''">
	        	AND ID_PERFIL = #{idPerfil}
	        </if>
	        <if  test="idPerfilRepCampo != null and  idPerfilRepCampo != ''">
	        	AND ID_PERFIL_REP_CAMPO = #{idPerfilRepCampo}
	        </if>
        </where>
        
    </select>
    
    <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
         {
        	CALL PKG_MAN_REP.prc_man_rep_perfil_campo	(
      			#{modo, 							  			jdbcType=VARCHAR, mode=IN},
      			#{objetoMantenido.idPerfilRepCampo, 	      	jdbcType=INTEGER, mode=INOUT},
                #{objetoMantenido.idTabla,   	  				jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idCampo, 	          		jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idPerfil, 	          		jdbcType=NUMERIC, mode=IN},
                #{usuario, 						      			jdbcType=VARCHAR, mode=IN}
                
                )
        }
    </select>
    
     <select id="actualizarCamposDePerfil" statementType="CALLABLE">
         {
        	CALL prc_update_campos_perfil (
      			#{idPerfil, 	      	jdbcType=INTEGER, mode=IN},
                #{listaModificacion,   	jdbcType=VARCHAR, mode=IN},
                #{usuario, 				jdbcType=VARCHAR, mode=IN}               
                )
        }
    </select>

</mapper>
