<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.generadorconsultas.mapper.IOperadorTipoDatoMapper">
	
	<resultMap type="OperadoresTipoDato" id="mapReporte">
		<id property="idTipoDato" column="idTipoDato"></id>
		<collection property="listaOperadores" javaType="List" ofType="Operador">
			<result property="idOperador" column="idOperador"></result>
			<result property="simboloOperador" column="simboloOperador"></result>
			<result property="operador" column="operador"></result>
		</collection>
	</resultMap>
	
    <sql id="consultaVistaMant">
       SELECT
           *
		FROM VIE_CON_REP_OPERADOR_TIPO_DATO
    </sql>

    <select id="buscarTodos" resultType="OperadorTipoDato" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>
    
	<select id="buscarPorCriterios" resultType="OperadorTipoDato" parameterType="CriterioBusquedaOperadorTipoDato" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <where>
	        <if  test="idTipoOperador != null and idTipoOperador != ''">
	       			AND ID_TIPO_OPERADOR = #{idTipoOperador}
	        </if>
	        <if  test="idOperador != null and idOperador != ''">
	       			AND ID_OPERADOR = #{idOperador}
	        </if>
	        <if  test="idTipoDato != null and idTipoDato != ''">
	       			AND ID_TIPO_DATO = #{idTipoDato}
	        </if>
	        <if  test="soloBinario != null and soloBinario != ''">
	       			AND ID_TIPO_OPERADOR = 2
	        </if>
        </where>
    </select>
    
    <select id="buscarPorGruposTipoDato" resultMap="mapReporte" parameterType="CriterioBusquedaOperadorTipoDato">
        SELECT 
		    ID_TIPO_DATO AS idTipoDato,
		    ID_OPERADOR AS idOperador,
		    SIMBOLO_OPERADOR AS simboloOperador,
		    OPERADOR AS operador
		FROM VIE_CON_REP_OPERADOR_TIPO_DATO
        <where>
        	<if test="idTipoOperador != null and idTipoOperador != ''">
	       			AND ID_TIPO_OPERADOR = #{idTipoOperador}
	        </if>
        </where>
    </select>

</mapper>
