<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.generadorconsultas.mapper.ITablasForaneasMapper">

    <sql id="consultaVistaMant">
       SELECT
             ID_RELACION_TABLA_FK
           , ID_TABLA
           , TABLA
           , ALIAS_TABLA
           , ID_CAMPO
           , CAMPO
           , ALIAS_CAMPO
           , ID_TABLA_FORANEA
           , TABLA_FORANEA
           , ALIAS_TABLA_FORANEA
           , ID_CAMPO_FORANEO
           , CAMPO_FORANEO
           , ALIAS_CAMPO_FORANEO
        <if  test=" permited!= null ">
       	   , fun_campo_permitido(ID_CAMPO_FORANEO,#{usuario}) AS "PERMITIDO"
        </if>
		FROM VIE_REP_TABLAS_FORANEAS
    </sql>

     <select id="buscarTodos" resultType="TablasForaneas" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>
	<select id="buscarPorCriterios" resultType="TablasForaneas" parameterType="CriterioBusquedaTablasForaneas" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        WHERE
       			ID_RELACION_TABLA_FK > 0
        <if  test="idTabla!= null and idTabla != ''">
       			AND ID_TABLA =#{idTabla}
        </if>
        <if  test=" permited!= null  and permited!= 0 ">
       			AND fun_campo_permitido(ID_CAMPO_FORANEO,#{usuario})  > 0
        </if>
         <if  test=" idRelacionTablaFk != null ">
       			AND ID_RELACION_TABLA_FK=#{idRelacionTablaFk}
        </if>
    </select>
   
    
     <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PKG_MAN_REP.prc_man_rep_rel_tabla_foranea(
                #{modo, 						  jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idRelacionTablaFk,jdbcType=INTEGER, mode=INOUT},           
                #{objetoMantenido.idTabla,  	  jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idCampo,        jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idTablaForanea, jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idCampoForaneo, jdbcType=NUMERIC, mode=IN},
                #{usuario, 						  jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
    
    

</mapper>
