<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.tarifarios.mapper.IEsquemaTarifarioMapper">

    <sql id="consultaVistaMant">
        SELECT id_esquema
             , descripcion_esquema
        FROM vie_man_esquema_tarifario
    </sql>
    
    <select id="buscarTodos" resultType="EsquemaTarifario"
            statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PKG_MAN_GENERALES.PRC_MAN_ESQUEMA_TARIFARIO(
                #{modo, 							  jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idEsquema, 	      jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.descripcionEsquema, jdbcType=VARCHAR, mode=IN},
                #{usuario, 						      jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>

</mapper>