<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.tarifarios.mapper.ITarifarioSurchargeMapper">
	
	<sql id="consultaVistaMant">
        SELECT id_tarifario_surcharge
             , id_institucion
             , descripcion_institucion
             , tipo_atm
             , nivel
             , rango_inicial
             , rango_final
             , id_moneda
             , descripcion_moneda
             , tarifa_flat
             , tarifa_porcentual
             , aplica_igv
        FROM VIE_MAN_TARIFARIO_SURCHARGE
    </sql>

    <select id="buscarTodos" resultType="TarifarioSurcharge" statementType="PREPARED">
       <include refid="consultaVistaMant" />
    </select>

    <select id="buscarTarifarioSurcharge" resultType="TarifarioSurcharge">
        <include refid="consultaVistaMant" />
            WHERE id_tarifario_surcharge = #{idTarifarioSurcharge}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL PKG_MAN_TARIFARIO.PRC_MAN_TARIFARIO_SURCHARGE (
                #{modo,                             		jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idTarifarioSurcharge,		jdbcType=INTEGER, mode=INOUT},
                #{objetoMantenido.idInstitucion,        	jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.tipoTarifa,         		jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.nivel,					jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.rangoInicial,				jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.rangoFinal,				jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idMoneda,					jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.tarifaFlat,				jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.tarifaPorcentual,			jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.aplicaIGV,				jdbcType=NUMERIC, mode=IN},
                #{usuario,                          		jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
</mapper>
