<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.conciliacion.mapper.ICampoMatchingMapper">

    <sql id="consultaVistaMant">
        SELECT id_campo_matching
        	 , id_conc_tabla
        	 , nombre_procedimiento
        	 , campo_archivo_conc_a
             , campo_archivo_conc_b
             , tipo_rango
             , rango_lim_inferior
             , rango_lim_superior
        FROM VIE_MAN_CNC_CAMPO_MATCHING
    </sql>
    
    <sql id="orden">
    	ORDER BY id_conc_tabla, id_campo_matching
    </sql>

    <select id="buscarTodos" resultType="CampoMatching" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>

    <select id="buscarCampoMatching" resultType="CampoMatching">
        <include refid="consultaVistaMant"/>
        WHERE
                id_campo_matching  = #{idCampoMatching}
            AND id_conc_tabla = #{idConcTabla}
    </select>

    <select id="buscarCampoMatchingPorConciliacionTablas" resultType="CampoMatching">
        <include refid="consultaVistaMant"/>
        WHERE
            id_conc_tabla = #{idConcTabla}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PKG_MAN_CONCILIACION.PRC_MAN_CAMPO_MATCHING(
                #{modo, 								jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idCampoMatching, 	   	jdbcType=INTEGER, mode=INOUT},
                #{objetoMantenido.idConcTabla, 	  		jdbcType=INTEGER, mode=IN},
                #{objetoMantenido.campoArchivoConcA,	jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.campoArchivoConcB,	jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.tipoRango, 	  		jdbcType=INTEGER, mode=IN},
                #{objetoMantenido.rangoLimInferior,		jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.rangoLimSuperior,		jdbcType=VARCHAR, mode=IN},
                #{usuario, 								jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>

</mapper>
