<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.conciliacion.mapper.IConciliacionMapper">

    <sql id="consultaVistaMant">
        SELECT id_conciliacion
             , id_paquete
             , nombre_paquete
             , descripcion_conciliacion
             , nombre_procedimiento
        FROM VIE_MAN_CNC_CONCILIACION
    </sql>
    
    <sql id="orden">
    	ORDER BY id_paquete, id_conciliacion
    </sql>

    <select id="buscarTodos" resultType="Conciliacion" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>

    <select id="buscarConciliacion" resultType="Conciliacion">
        <include refid="consultaVistaMant"/>
        WHERE
                id_conciliacion  = #{idConciliacion}
            AND id_paquete = #{idPaquete}
    </select>

    <select id="buscarConciliacionPorPaquete" resultType="Conciliacion">
        <include refid="consultaVistaMant"/>
        WHERE
            id_paquete = #{idPaquete}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PKG_MAN_CONCILIACION.PRC_MAN_CONCILIACION(
                #{modo, 								  	jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idConciliacion, 	       	jdbcType=INTEGER, mode=INOUT},
                #{objetoMantenido.idPaquete, 	          	jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.descripcionConciliacion,	jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.nombreProcedimiento, 	   	jdbcType=VARCHAR, mode=IN},
                #{usuario, 								   	jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>

</mapper>
