<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.visualizacionpan.IVisualizacionPANMapper">
	
	<select id="puedeVisualizarPAN" resultType="boolean" statementType="PREPARED">
		SELECT visualiza_pan
			FROM vie_seg_visualiza_pan
			WHERE UPPER(username) = UPPER(#{username})
			  AND codigo_audiencia = #{codigoAudiencia}
	</select>

</mapper>
