<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.generadorconsultas.mapper.ICampoQueryMapper">

	<sql id="consultaVistaMant">
       SELECT 
		  MOV_CAMPO_QUERY.ID_QUERY              AS ID_QUERY,
          MOV_QUERY.NOMBRE                      AS QUERY,
		  MOV_CAMPO_QUERY.ID_TABLA              AS ID_TABLA,
          MAE_TABLA.TABLA                       AS TABLA,
		  MOV_CAMPO_QUERY.ID_INSTANCIA          AS ID_INSTANCIA,
          MOV_TABLA_QUERY.INSTANCIA             AS INSTANCIA,
          MOV_CAMPO_QUERY.ID_CAMPO              AS ID_CAMPO,
          MOV_CAMPO_QUERY.CAMPO                 AS CAMPO,
          MOV_CAMPO_QUERY.ID_TABLA_FROM         AS ID_TABLA_FROM,
          MOV_CAMPO_QUERY.ID_CAMPO_FROM         AS ID_CAMPO_FROM,
          MOV_CAMPO_QUERY.ALIAS_CAMPO           AS ALIAS_CAMPO,
          MOV_CAMPO_QUERY.ORDER_BY              AS ORDER_BY,
          MOV_CAMPO_QUERY.EN_SELECT             AS EN_SELECT,
          MOV_CAMPO_QUERY.EN_GROUP_BY           AS EN_GROUP_BY,
          MOV_CAMPO_QUERY.FUNCION_GRUPO         AS FUNCION_GRUPO,
          MOV_CAMPO_QUERY.USUARIO_ADICION       AS USUARIO_ADICION,
          MOV_CAMPO_QUERY.USUARIO_MODIFICACION  AS USUARIO_MODIFICACION,
          MOV_CAMPO_QUERY.FECHA_ADICION         AS FECHA_ADICION,
          MOV_CAMPO_QUERY.FECHA_MODIFICACION    AS FECHA_MODIFICACION
		FROM 
            MOV_CAMPO_QUERY 
        INNER JOIN  
            MOV_TABLA_QUERY ON MOV_CAMPO_QUERY.ID_QUERY     = MOV_TABLA_QUERY.ID_QUERY AND 
                               MOV_CAMPO_QUERY.ID_TABLA     = MOV_TABLA_QUERY.ID_TABLA AND 
                               MOV_CAMPO_QUERY.ID_INSTANCIA = MOV_TABLA_QUERY.ID_INSTANCIA
        INNER JOIN
            MOV_QUERY       ON MOV_TABLA_QUERY.ID_QUERY     = MOV_QUERY.ID_QUERY
        INNER JOIN
            MAE_TABLA       ON MOV_TABLA_QUERY.ID_TABLA     = MAE_TABLA.ID_TABLA

     <select id="buscarTodos" resultType="CampoQuery" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>
    
</mapper>
