<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.generadorconsultas.mapper.ICampoMapper">


    <select id="buscarTodos" resultType="Campo" statementType="PREPARED">
         SELECT 
          ID_TABLA	   		AS ID_TABLA,
          TABLA		   		AS TABLA,
		  ID_CAMPO     		AS ID_CAMPO,
		  CAMPO   	   		AS CAMPO,
		  ALIAS		   		AS ALIAS,
		  ID_TIPO_DATO		AS ID_TIPO_DATO,
		  ID_TABLA_FK		AS ID_TABLA_FK,
		  TRUNCABLE			AS TRUNCABLE,
		  LLAVE_ASOCIADA	AS LLAVE_ASOCIADA
		FROM VIE_MAN_REP_CAMPO
    </select>
    
     <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PKG_MAN_REP.prc_man_rep_campo(
            #{pi_modo                   IN VARCHAR2
    		#{objetoMantenido.id_tabla               jdbcType=NUMERIC, mode=IN},
    		#{objetoMantenido.id_campo               jdbcType=NUMERIC, mode=IN},
    		#{objetoMantenido.nombre                 jdbcType=VARCHAR, mode=IN},
    		#{objetoMantenido.alias             	 jdbcType=VARCHAR, mode=IN},
    		#{objetoMantenido.id_tipo_dato           jdbcType=VARCHAR, mode=IN},
    		#{objetoMantenido.id_tabla_fk            jdbcType=NUMERIC, mode=IN},
    		#{objetoMantenido.truncable              jdbcType=NUMERIC, mode=IN},
    		#{objetoMantenido.usuario				 jdbcType=VARCHAR, mode=IN},
            )
        }
    </select>
    
</mapper>
