<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.generadorconsultas.mapper.ICampoPerfilMapper">

    <sql id="consultaVistaMant">
       SELECT
       	  ID_PERFIL_REP_CAMPO			AS ID_PERFIL_REP_CAMPO,
       	  ID_TABLA      				AS ID_TABLA, 
		  DESCRIPCION_TABLA      		AS TABLA,
		  ID_PERFIL						AS ID_PERFIL,
		  DESCRIPCION_PERFIL			AS PERFIL,
		  ID_CAMPO						AS ID_CAMPO,
		  DESCRIPCION_CAMPO				AS CAMPO
		FROM VIE_MAN_REP_PERFIL_CAMPO
    </sql>

     <select id="buscarTodos" resultType="CampoPerfil"
            statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>
    
    <select id="buscarPorCriterios" resultType="CampoPerfil" parameterType="CriterioBusquedaCampoPerfil"
            statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <if  test="perfil != null and  perfil != '' and  idTabla == null and  idTabla == ''  ">
        	WHERE
       			DESCRIPCION_PERFIL = #{perfil}
        </if>
        <if  test="idTabla != null and  idTabla != '' and perfil == null and  perfil == '' ">
        	WHERE
       			ID_TABLA    = #{idTabla}
        </if>
        <if  test="perfil != null and  perfil != '' and  idTabla != null and  idTabla != ''  ">
        	WHERE
       			DESCRIPCION_PERFIL = #{perfil}
       		AND ID_TABLA    = #{idTabla}
        </if>
    </select>
    
    <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
        	CALL PKG_MAN_REP.prc_man_rep_perfil_campo 	(
      			#{modo, 							  			jdbcType=VARCHAR, mode=IN},
      			#{objetoMantenido.id_perfil_rep_campo, 	      	jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.id_tabla,   	  				jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.id_campo, 	          		jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.id_perfil_rep, 	          	jdbcType=NUMERIC, mode=IN},
                #{usuario, 						      			jdbcType=VARCHAR, mode=IN}
        }
    </select>

</mapper>
