<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.generadorconsultas.mapper.ICampoQueryMapper">

	<sql id="consultaVistaMant">
       SELECT 
          ID_REPORTE			AS ID_REPORTE,
          ID_TABLA				AS ID_TABLA,
          TABLA					AS TABLA,
          ID_INSTANCIA_TABLA	AS ID_INSTANCIA_TABLA,
          ID_CAMPO				AS ID_CAMPO,
          CAMPO					AS CAMPO,
          ID_TABLA_FROM			AS ID_TABLA_FROM,
          ID_CAMPO_FROM			AS ID_CAMPO_FROM,
          ORDER_BY				AS ORDER_BY,
          EN_SELECT				AS EN_SELECT,
          EN_GROUP_BY			AS EN_GROUP_BY,
          FUNCION_GRUPO			AS FUNCION_GRUPO
		FROM VIE_MAN_REP_CAMPO_QUERY
	</sql>
     <select id="buscarTodos" resultType="CampoQuery" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>
    <select id="buscarPorCriterios" resultType="CampoQuery" parameterType="CriterioBusquedaCampoQuery" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <if  test=" (idTabla== null and idTabla == '') and (idReporte!= null and idReporte != '') ">
       			WHERE
       			ID_REPORTE =#{idReporte}
        </if>
        <if  test=" (idTabla!= null and idTabla != '') and (idReporte== null and idReporte == '') ">
       			WHERE
       			ID_TABLA =#{idTabla}
        </if>
        
        <if  test="(idTabla!= null and idTabla != '') and (idReporte!= null and idReporte != '') ">
        	WHERE
        	    ID_REPORTE =#{idReporte}
       			AND ID_TABLA =#{idTabla}
        </if>
    </select>
   
    
     <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PKG_MAN_REP.prc_man_rep_campo_query(
                #{modo, 						  jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.id_reporte,     jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.id_tabla,  	  jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.id_instancia,   jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.id_campo,  	  jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.id_tabla_from,  jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.id_campo_from,  jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.order_by,  	  jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.en_select , 	  jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.en_group_by ,   jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.funcion_grupo , jdbcType=VARCHAR, mode=IN},
                #{usuario, 						  jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
</mapper>
