<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.generadorconsultas.mapper.IPermisoUsuarioMapper">

	<sql id="consultaVistaMant">
       SELECT 
		  ID_PERMISO_USUARIO    AS ID_PERMISO_USUARIO,
		  ID_PERFIL_REP_CAMPO   AS ID_PERFIL_REP_CAMPO,
		  ID_PERFIL_REP_USUARIO AS ID_PERFIL_REP_USUARIO,
          ID_USUARIO            AS ID_USUARIO,
          USUARIO               AS USUARIO,
          ID_PERFIL             AS ID_PERFIL,
          PERFIL                AS PERFIL,
          ID_TABLA              AS ID_TABLA,
          TABLA                 AS TABLA,
          ID_CAMPO              AS ID_CAMPO,
          CAMPO                 AS CAMPO,
          VER_TRUNCADO          AS VER_TRUNCADO
		FROM VIE_MAN_REP_PERMISO_USUARIO
    </sql>

     <select id="buscarTodos" resultType="PermisoUsuario" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>
	<select id="buscarPorCriterios" resultType="PermisoUsuario" parameterType="CriterioBusquedaPermisoUsuario" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <if  test="(tabla != null and tabla != '' ) or ( usuario!=null and usuario!='')">
        	WHERE
       			TABLA = #{tabla}
       		<if  test=" usuario!=null and usuario!=''">
       			AND USUARIO =#{usuario}
        	</if>
        </if>
    </select>
   
    
     <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PKG_MAN_REP.prc_man_rep_permiso_usuario(
                #{modo, 							      jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.id_permiso_usuario,     jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.id_perfil_rep_usuario,  jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.id_perfil_rep_campo, 	  jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.ver_truncado , 	      jdbcType=NUMERIC, mode=IN},
                #{usuario, 						          jdbcType=NUMERIC, mode=IN}
            )
        }
    </select>
    
</mapper>
