<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.generadorconsultas.mapper.IUltimoSecuenciaMapper">

    
    <select id="obtenerUltimoSecuencia" parameterType="UltimoSecuencia" statementType="CALLABLE">
        {
            CALL GET_ULTIMO_DE_SECUENCIA(
                #{claseSecuencia,       		  jdbcType=VARCHAR, mode=IN},
                #{valor,     					  jdbcType=INTEGER, mode=OUT}
            )
        }
    </select>
    
</mapper>
