<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.generadorconsultas.mapper.IUsuarioMapper">


    <select id="buscarTodos" resultType="Usuario" statementType="PREPARED">
         SELECT 
	         USERNAME AS USERNAME,
	         NOMBRES AS NOMBRES,
	         APELLIDOS AS APELLIDOS
         FROM SEG_USUARIO
    </select>

</mapper>
