<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.generadorconsultas.mapper.IOperadorMapper">

    <select id="buscarOperadorPorTipoDato" resultType="Operador">
        SELECT
              ID_OPERADOR
            , ID_TIPO_OPERADOR 
            , SIMBOLO                   AS SIMBOLO_OPERADOR
            , DESCRIPCION               AS DESCRIPCION_OPERADOR
            FROM MAE_OPERADOR
            WHERE ID_OPERADOR IN
            (
                SELECT ID_OPERADOR FROM MAE_OPERADOR_TIPODATO
                WHERE
                    ID_TIPO_DATO = #{tipoDato}
            )
    </select>

</mapper>
