<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.generadorconsultas.mapper.IParametroRepMapper">

	<sql id="consultaVistaMant">
       SELECT 
		  ID_PARAMETRO    AS ID_PARAMETRO,
          TIPO_DATO_VALOR AS TIPO_DATO_VALOR,
          DESCRIPCION     AS DESCRIPCION,
          VALOR           AS VALOR
		FROM VIE_MAN_REP_PARAMETRO
    </sql>

     <select id="buscarTodos" resultType="ParametroRep" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>
	<select id="buscarPorCriterios" resultType="ParametroRep" parameterType="CriterioBusquedaParametroRep" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <if  test="idParametro != null and idParametro != ''">
        	WHERE
       			ID_PARAMETRO = #{idParametro}
        </if>
         <if  test="tipoDatoValor != null and tipoDatoValor != ''">
        	WHERE
       			TIPO_DATO_VALOR = #{tipoDatoValor}
        </if>
    </select>
   
    
     <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PKG_MAN_REP.prc_man_rep_parametro(
                #{modo, 							      jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idParametro,     	  jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.descripcion,  		  jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.tipoDatoValor, 	  	  jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.valor , 	     		  jdbcType=VARCHAR, mode=IN},
                #{usuario, 						          jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
    
</mapper>
