<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.mantenimientosgenerales.mapper.ICodigoRespuestaSwitchMapper">

    <select id="buscarTodos" resultType="CodigoRespuestaSwitch"
            statementType="PREPARED">
        SELECT id_codigo_rpta_switch       AS idcodigorespuestaswitch
             , descripcion                 AS descripcioncodigorespuestaswitch
        FROM MAE_CODIGO_RPTA_SWITCH
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL pkg_man_generales.PRC_MAN_CODIGO_RPTA_SWITCH(
                #{modo, 								              jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idCodigoRespuestaSwitch, 	          jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.descripcionCodigoRespuestaSwitch,   jdbcType=VARCHAR, mode=IN},
                #{usuario, 								              jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>

</mapper>
