<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.mantenimientosgenerales.mapper.IOrigenMapper">

    <select id="buscarTodos" resultType="Origen"
            statementType="PREPARED">
        SELECT id_origen
             , descripcion AS descripcion_origen
        FROM MAE_ORIGEN
    </select>

    <select id="buscarUno" resultType="Origen"
            statementType="PREPARED">
        SELECT id_origen
             , descripcion AS descripcion_origen
        FROM MAE_ORIGEN
        WHERE id_origen = #{idOrigen}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL PKG_MAN_GENERALES.PRC_MAN_ORIGEN(
                #{modo, 								              jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idOrigen, 	                      jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.descripcionOrigen,                  jdbcType=VARCHAR, mode=IN},
                #{usuario, 								              jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>

</mapper>
