<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IBulkfileMapper">
	
	<!-- CONSULTA DEL LOG CONTABLE GENERAL PARA LA GRILLA -->
	
	<sql id="consultaBulkfile" >
		SELECT *
		FROM VIE_CON_BULK_FILE a
	</sql>
	
	<sql id = "fragmentoWhere">
		<if  test="fechaTransaccionInicio != null and fechaTransaccionFin != null">
			 a.TRANSACTION_DATE BETWEEN #{fechaTransaccionInicio}  AND #{fechaTransaccionFin}
		</if>
		<if  test="accountNumber != null">
			 AND a.ACCOUNT_NUMBER = #{accountNumber}
		</if>
		<if  test="traceNumber != null">
			 AND a.TRACE_NUMBER = #{traceNumber}
		</if>
		<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		<if  test="messageTypeInd != null">
			 a.MESSAGE_TYPE_IND = #{messageTypeInd}
		</if>
		<if  test="traceNumbe != null">
			 AND a.TRACE_NUMBER = #{traceNumbe}
		</if>
	</sql>
	
	<sql id ="fragmentoWhereMultiples">
		<if test="responsesCode !=null andresponsesCode.size()>0">
			AND a.RESPONSE_CODEIN 
			<foreach item="item" index="index" collection="responsesCode" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>
	
	<select id="buscarPorCriterios" parameterType="CriterioBusquedaBulkfile"  resultType="Bulkfile" statementType="PREPARED">	
		<include refid="consultaBulkfile" />
			WHERE
		<include refid="fragmentoWhere"/> 
		<include refid="fragmentoWhereMultiples"/>
   	</select>
   	
   	
   	
   	
   	<!-- CONSULTA DEL BULKFILE GENERAL PARA EL DETALLE -->
     	
   	<sql id="consultaBulkfileDetalle" >
		SELECT *
		FROM VIE_CON_BULK_FILE_DETALLE a
	</sql>
	
	<sql id = "fragmentoWhereDetalle">
		<if  test="fechaTransaccionInicio != null and fechaTransaccionFin != null">
			 a.TRANSACTION_DATE BETWEEN #{fechaTransaccionInicio}  AND #{fechaTransaccionFin}
		</if>
		<if  test="accountNumber != null">
			 AND a.ACCOUNT_NUMBER = #{accountNumber}
		</if>
		<if  test="traceNumbe != null">
			 AND a.TRACE_NUMBER = #{traceNumbe}
		</if>
	</sql>
	
	<select id="buscarDetalle" parameterType="CriterioBusquedaBulkfile"  resultType="BulkfileDetalle" statementType="PREPARED">	
		<include refid="consultaBulkfileDetalle" />
			WHERE
		<include refid="fragmentoWhereDetalle"/>
   	</select>

</mapper>