<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IIncomingVisaTCRXMapper">
	<select id = "buscarTodosTCR0" statementType="CALLABLE" 
		parameterType="CriterioPaginacion">		
			{call PKG_CON_REPORTES.PCR_CON_INCOMING_VISA_TCR0
			(
				#{criterioBusqueda.idSecuenciaIncoming, jdbcType=INTEGER, mode = IN},
				#{criterioBusqueda.transactionCode, jdbcType=VARCHAR, mode = IN},
				#{criterioBusqueda.accountNumber, jdbcType=VARCHAR, mode = IN},
				#{criterioBusqueda.acquirerRefNumber, jdbcType=VARCHAR, mode = IN},
				#{criterioBusqueda.purchaseDate, jdbcType=DATE, mode = IN},
				#{criterioBusqueda.destinationAmount, jdbcType=INTEGER, mode = IN},
				#{criterioBusqueda.merchantName, jdbcType=VARCHAR, mode = IN},
				#{criterioBusqueda.merchantCountryCode, jdbcType=VARCHAR, mode = IN},
				#{criterioBusqueda.authorizationCode, jdbcType=VARCHAR, mode = IN},
				#{criterioBusqueda.entryMode, jdbcType=VARCHAR, mode = IN},
				#{start, jdbcType=INTEGER, mode = IN},
				#{length, jdbcType=INTEGER, mode = IN},
				#{orderExpression, jdbcType=VARCHAR, mode = IN}, 
				#{resultados, jdbcType = CURSOR, mode = OUT, resultMap = mapIncomingVisaTCR0}
			)
		}
	</select>
	
	<resultMap type="IncomingVisaTCR0" id="mapIncomingVisaTCR0">
		<result property="idSecuenciaIncoming" column="id_secuencia_incoming"></result>
		<result property="transactionCode" column="transaction_code"></result>
		<result property="transCodeQualifier" column="trans_code_qualifier"></result>
		<result property="accountNumber" column="account_number"></result>
		<result property="floorLimitIndicator" column="floor_limit_indicator"></result>
		<result property="crbExceptionFileInd" column="crb_exception_file_ind"></result>
		<result property="pcasIndicator" column="pcas_indicator"></result>
		<result property="acquirerRefNumber" column="acquirer_ref_number"></result>
		<result property="acquirerBusinessId" column="acquirer_business_id"></result>		
		<result property="fechaTransmision" column="purchase_date"></result>
		<result property="purchaseDate" column="destination_amount"></result>
		<result property="destCurrencyCode" column="dest_currency_code"></result>
		<result property="sourceAmount" column="source_amount"></result>
		<result property="sourceCurrencyCode" column="source_currency_code"></result>
		<result property="merchantName" column="merchant_name"></result>
		<result property="merchantCity" column="merchant_city"></result>
		<result property="merchantCountryCode" column="merchant_country_code"></result>
		<result property="merchantCategoryCode" column="merchant_category_code"></result>
		<result property="merchantZipCode" column="merchant_zip_code"></result>
		<result property="merchantStateCode" column="merchant_state_code"></result>
		<result property="requestPaymentServ" column="request_payment_serv"></result>
		<result property="numberPaymentForms" column="number_payment_forms"></result>
		<result property="reasonCode" column="reason_code"></result>
		<result property="usageCode" column="usage_code"></result>
		<result property="settlementFlag" column="settlement_flag"></result>
		<result property="authorizationIndicator" column="authorization_indicator"></result>
		<result property="authorizationCode" column="authorization_code"></result>
		<result property="posTerminalCapability" column="pos_terminal_capability"></result>
		<result property="cardholderIdMethod" column="cardholder_id_method"></result>
		<result property="collectionOnlyFlag" column="collection_only_flag"></result>
		<result property="entryMode" column="entry_mode"></result>
		<result property="centralProcessingDate" column="central_processing_date"></result>
		<result property="reimbursementAttribute" column="reimbursement_attribute"></result>
		<result property="fechaProceso" column="fecha_proceso"></result>
		<result property="totalFilas" column="total"></result>
	</resultMap>
	
   
</mapper>
