<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.mantenimientosgenerales.mapper.IATMRedUnicardMapper">

    <sql id="consultaVistaMant">
        SELECT id_atm
             , id_institucion
             , ind_propio
             , nombre
             , direccion
             , descripcion_institucion
        FROM VIE_MAN_ATM_RED_UNICARD
    </sql>
    
    <sql id="orden">
        ORDER BY  id_institucion ASC, id_atm ASC
    </sql>

    <select id="buscarTodos" resultType="ATMRedUnicard" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>

    <select id="buscarATMRedUnicard" resultType="ATMRedUnicard" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        WHERE
            id_atm  = #{idATM}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PKG_MAN_GENERALES.PRC_MAN_ATM(
                #{modo,                           jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.tipo,           jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idATM,          jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idInstitucion,  jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.indPropio,      jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.nombre,         jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.direccion,      jdbcType=VARCHAR, mode=IN},
                #{usuario,                        jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>

</mapper>
