<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.mantenimientosgenerales.mapper.IDistribucionVisaTC10Mapper">

    <resultMap id="mapDistribucionVisaTC10" type="DistribucionVisaTC10">
        <id column="fecha_Proceso" property="fechaProceso"></id>
        <id column="secuencia_Agrupada" property="secuenciaAgrupada"></id>
        <id column="id_Membresia" property="idMembresia"></id>
        <id column="descripcion_Membresia" property="descripcionMembresia"></id>
        <id column="id_Servicio" property="idServicio"></id>
        <id column="descripcion_Servicio" property="descripcionServicio"></id>
        <id column="id_Origen" property="idOrigen"></id>
        <id column="descripcion_Origen" property="descripcionOrigen"></id>
        <id column="id_clase_Transaccion" property="idClaseTransaccion"></id>
        <id column="id_codigo_Transaccion" property="idCodigoTransaccion"></id>
        <id column="descripcion_Transaccion" property="descripcionTransaccion"></id>
        <id column="id_Moneda" property="idMoneda"></id>
        <id column="descripcion_Moneda" property="descripcionMoneda"></id>
        <id column="valor_transaccion_Total" property="valorTransaccionTotal"></id>
        <id column="codigo_Respuesta" property="codigoRespuesta"></id>
        <id column="origen_Archivo" property="origenArchivo"></id>
        <id column="entity_Type" property="entityType"></id>
        <id column="entity_Id" property="entityId"></id>
        <id column="indicador_Compensacion" property="indicadorCompensacion"></id>
        <id column="numero_Trace" property="numeroTrace"></id>
        <id column="fecha_Transaccion" property="fechaTransaccion"></id>
        <collection property="listaDistribucion" javaType="List" ofType="DistribucionVisaTC10Detalle">
            <id column="secuencia" property="secuencia"></id>
            <id column="id_Institucion" property="idInstitucion"></id>
            <id column="descripcion_Institucion"></id>
            <result column="valor_transaccion_Inst" property="valorTransaccionInst"></result>
        </collection>
    </resultMap>

    <sql id="consultaVistaDistribucion">
        SELECT FECHA_PROCESO,
               SECUENCIA_AGRUPADA,
               ID_MEMBRESIA,
               DESCRIPCION_MEMBRESIA,
               ID_SERVICIO,
               DESCRIPCION_SERVICIO,
               ID_ORIGEN,
               DESCRIPCION_ORIGEN,
               ID_CLASE_TRANSACCION,
               ID_CODIGO_TRANSACCION,
               DESCRIPCION_TRANSACCION,
               ID_MONEDA,
               DESCRIPCION_MONEDA,
               CODIGO_RESPUESTA,
               ORIGEN_ARCHIVO,
               ENTITY_TYPE,
               ENTITY_ID,
               INDICADOR_COMPENSACION,
               NUMERO_TRACE,
               FECHA_TRANSACCION,
               VALOR_TRANSACCION_TOTAL,
               VALOR_TRANSACCION_INST,
               ID_INSTITUCION,
               DESCRIPCION_INSTITUCION
        FROM VIE_DIST_VISA_TC10_PORC
    </sql>

    <select id="buscarRegistrosDistribucionVisaTC10" resultMap="mapDistribucionVisaTC10">
        <include refid="consultaVistaDistribucion" />
    </select>

    <select id="buscarRegistroDistribucionVisaTC10" resultMap="mapDistribucionVisaTC10">
        <include refid="consultaVistaDistribucion" />
        WHERE SECUENCIA_AGRUPADA = #{secuenciaAgrupada}
    </select>

    <delete id="eliminarDistribucionVisaTC10">
        DELETE FROM MOV_FACTURACION_VISA_TC10_DIST
        WHERE SECUENCIA_AGRUPADA = #{secuenciaAgrupada}
    </delete>

    <insert id="registrarDistribucionVisaTC10">
        INSERT INTO MOV_FACTURACION_VISA_TC10_DIST
        (FECHA_PROCESO, SECUENCIA_AGRUPADA, SECUENCIA, ID_INSTITUCION, VALOR_TRANSACCION_INST)
        VALUES (#{fechaProceso},
                #{secuenciaAgrupada},
                #{secuencia},
                #{idInstitucion},
                #{valorTransaccionInst})
    </insert>



</mapper>