<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.mantenimientosgenerales.mapper.IGiroNegocioMapper">

    <sql id="consultaVistaMant">
        SELECT *
        FROM VIE_MAN_GIRO_NEGOCIO
    </sql>
    
    <sql id="orden">
    	ORDER BY ID_GIRO_NEGOCIO
    </sql>

    <select id="buscarTodosGiroNegocio" resultType="GiroNegocio">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>

    <select id="buscarGiroNegocioPorMembresia" resultType="GiroNegocio">
        <include refid="consultaVistaMant"/>
        WHERE id_membresia = #{idMembresia}
        <include refid="orden"/>
    </select>

    
</mapper>