<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.mantenimientosgenerales.mapper.IPaisMapper">

    <sql id="consultaVistaMant">
       SELECT  
       	 id_pais
		,codigo_iso3
		,nombre
		,continente
		,moneda_iso
       FROM vie_man_pais
    </sql>
    
    <sql id="orden">
    	ORDER BY id_pais ASC
    </sql>

   	<select id="buscarTodos" resultType="Pais"
            statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>
    
</mapper>
