<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.mantenimientosgenerales.mapper.IParametroSistemaMapper">

	<sql id="consultaVistaMant">
		SELECT * 	        	
        FROM VIE_MAN_PARAMETRO_SISTEMA
	</sql>
	
    <select id="buscarTodos" resultType="ParametroSistema" statementType="PREPARED">
        <include refid="consultaVistaMant" />
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL PKG_MAN_GENERALES.PRC_MAN_PARAMETRO_SISTEMA(
                #{modo,                                 jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.fechaProceso,         jdbcType=DATE, 	  mode=IN},
                #{objetoMantenido.idInstitucion, 		jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.idMonedaProcesador,	jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.porcentajeIGV,		jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.porcentajeRenta,		jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.porcentajeDetraccion,	jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.limiteDetraccion, 	jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.cuentaDetraccion,		jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.fechaAfectacion,		jdbcType=DATE, mode=IN},
                #{usuario,                              jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
</mapper>
