<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.mantenimientosgenerales.mapper.IRespuestaMarcaIntMapper">

    <sql id="consultaVistaMant">
        SELECT id_membresia
             , id_respuesta
             , descripcion_respuesta
             , descripcion_membresia
        FROM VIE_MAN_RESPUESTA_MARCA_INT
    </sql>

    <select id="buscarTodos" resultType="RespuestaMarcaInt" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>

    <select id="buscarRespuestaMarcaInt" resultType="RespuestaMarcaInt">
        <include refid="consultaVistaMant"/>
        WHERE id_membresia = #{idMembresia} AND id_respuesta = #{idRespuesta}
    </select>

    <select id="buscarRespuestasMarcasIntPorMembresia" resultType="RespuestaMarcaInt">
        <include refid="consultaVistaMant"/>
        WHERE id_membresia = #{idMembresia}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL PKG_MAN_GENERALES.PRC_MAN_RESPUESTA_MARCA_INT(
                #{modo,                                 jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idMembresia,          jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idRespuesta,     		jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.descripcionRespuesta,	jdbcType=VARCHAR, mode=IN},
                #{usuario,                              jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
</mapper>