<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.mantenimientosgenerales.mapper.ITipoComisionMapper">

    <sql id="consultaVistaMant">
        SELECT	id_tipo_comision
        	,	descripcion			AS descripcion_tipo_comision
        	,	abreviatura  
        FROM MAE_TIPO_COMISION
    </sql>
    
    <sql id="orden">
    	ORDER BY id_tipo_comision
    </sql>

    <select id="buscarTodos" resultType="TipoComision" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>
    
    <select id="buscarUno" resultType="TipoComision" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <where>
        	<if test="objetoMantenido.idTipoComision != null">
        		id_tipo_comision = #{objetoMantenido.idTipoComision}	
        	</if>
        </where>
        <include refid="orden"/>
    </select>

</mapper>