<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.conciliacion.mapper.ICampoDiferenciaMapper">

    <sql id="consultaVistaMant">
        SELECT id_campo_diferencia
        	 , id_conc_tabla
        	 , nombre_procedimiento
        	 , campo_observado_conc
             , campo_observado_des
             , resp_code_conc
        FROM VIE_MAN_CNC_CAMPO_DIFERENCIA
    </sql>
    
    <sql id="orden">
    	ORDER BY id_conc_tabla, id_campo_diferencia
    </sql>

    <select id="buscarTodos" resultType="CampoDiferencia" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>

    <select id="buscarCampoDiferencia" resultType="CampoDiferencia">
        <include refid="consultaVistaMant"/>
        WHERE
                id_campo_diferencia  = #{idCampoDiferencia}
            AND id_conc_tabla = #{idConcTabla}
    </select>

    <select id="buscarCampoDiferenciaPorConciliacionTablas" resultType="CampoDiferencia">
        <include refid="consultaVistaMant"/>
        WHERE
            id_conc_tabla = #{idConcTabla}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PKG_MAN_CONCILIACION.PRC_MAN_CAMPO_DIFERENCIA(
                #{modo, 								jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idCampoDiferencia, 	jdbcType=INTEGER, mode=INOUT},
                #{objetoMantenido.idConcTabla, 	  		jdbcType=INTEGER, mode=IN},
                #{objetoMantenido.campoObservadoConc,	jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.campoObservadoDes,	jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.respCodeConc, 		jdbcType=INTEGER, mode=IN},
                #{usuario, 								jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>

</mapper>
