<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.tarifarios.mapper.ITarifarioMiembroMapper">

    <sql id="consultaVistaMant">
        SELECT id_tarifario                         AS id_tarifario_miembro
             , id_membresia
             , descripcion_membresia
             , id_producto
             , descripcion_producto
             , id_institucion_emisora
             , descripcion_institucion_emisora
             , id_institucion_receptora
             , descripcion_institucion_receptora
             , id_clase_transaccion
             , id_codigo_transaccion
             , descripcion_transaccion
             , es_atm_propio
             , es_transaccion_aprobada
             , tarifa_porcentaje
             , id_moneda
             , descripcion_moneda
             , tarifa_flat
        FROM VIE_MAN_TARIFARIO_MIEMBRO
    </sql>

    <select id="buscarTodos" resultType="TarifarioMiembro" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
    </select>

    <select id="buscarTarifarioMiembro" resultType="TarifarioMiembro" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        WHERE id_tarifario = #{idTarifarioMiembro}
    </select>

    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL PKG_MAN_TARIFARIO.PRC_MAN_TARIFARIO_MIEMBRO(

                #{modo,                                         jdbcType=VARCHAR , mode=IN    },
                #{objetoMantenido.idTarifarioMiembro,           jdbcType=INTEGER , mode=INOUT },
                #{objetoMantenido.idMembresia,         			jdbcType=VARCHAR , mode=IN    },
                #{objetoMantenido.idProducto,      				jdbcType=INTEGER , mode=IN    },
                #{objetoMantenido.idInstitucionEmisora,        	jdbcType=INTEGER , mode=IN    },
                #{objetoMantenido.idInstitucionReceptora,     	jdbcType=INTEGER , mode=IN    },
                #{objetoMantenido.idClaseTransaccion, 			jdbcType=INTEGER , mode=IN	  },
                #{objetoMantenido.idCodigoTransaccion, 			jdbcType=INTEGER , mode=IN	  },
                #{objetoMantenido.esAtmPropio, 					jdbcType=INTEGER , mode=IN	  },
                #{objetoMantenido.esTransaccionAprobada, 	    jdbcType=INTEGER , mode=IN	  },
                #{objetoMantenido.tarifaPorcentaje, 			jdbcType=INTEGER , mode=IN	  },
                #{objetoMantenido.idMoneda, 					jdbcType=INTEGER , mode=IN	  },
                #{objetoMantenido.tarifaFlat, 					jdbcType=INTEGER , mode=IN	  },
                #{usuario,                                      jdbcType=VARCHAR , mode=IN    }
            )
        }
    </select>
</mapper>
