<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IBulkfileMapper">
	
	<!-- CONSULTA DEL  BULKFILE PARA LA GRILLA -->
	
	<sql id="consultaBulkfile" >
		SELECT *
		FROM VIE_CON_BULK_FILE a
	</sql>
	
	<sql id = "fragmentoWhere">
		<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		<if  test="fechaTransaccionInicio != null and fechaTransaccionFin != null">
			 AND a.TRANSACTION_DATE BETWEEN #{fechaTransaccionInicio}  AND #{fechaTransaccionFin}
		</if>
		<if  test="accountNumber != null and accountNumber != ''">
			 AND a.ACCOUNT_NUMBER = #{accountNumber}
		</if>
		<if  test="traceNumber != null and traceNumber != ''">
			 AND a.TRACE_NUMBER = #{traceNumber}
		</if>
	</sql>
	
	<sql id ="fragmentoWhereMultiples">
		<if test="responsesCode !=null and responsesCode.size()>0">
			AND a.RESPONSE_CODE IN 
			<foreach item="item" index="index" collection="responsesCode" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="currencysCodeTran != null and currencysCodeTran.size()>0">
			AND a.CURRENCY_CODE_TRAN IN
			<foreach item="item" index="index" collection="currencysCodeTran" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="messagesTypeInd != null and messagesTypeInd.size()>0">
			AND a.MESSAGE_TYPE_IND IN
			<foreach item="item" index="index" collection="messagesTypeInd" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>
	
	<sql id="fragmentoFiltrosOrdenaciones">
		<if  test="filtroFechaProceso != null" >
			AND FECHA_PROCESO = #{filtroFechaProceso}
		</if>
		<if  test="filtroTraceNumber != null" >
			<bind name="pFiltroTraceNumber" value="'%' + filtroTraceNumber + '%'" />
			AND TRACE_NUMBER LIKE #{pFiltroTraceNumber}
		</if>
		<if  test="filtroMessageTypeInd != null" >
		<bind name="pFiltroMessageTypeInd" value="'%' + filtroMessageTypeInd + '%'" />
			AND CONCAT(UPPER(MESSAGE_TYPE_IND),UPPER(DESCRIPCION_MESSAGE_TYPE_IND)) LIKE UPPER(#{pFiltroMessageTypeInd})
		</if>
		<if  test="filtroAccountNumber != null" >
			<bind name="pFiltroAccountNumber" value="'%' + filtroAccountNumber + '%'" />
			AND ACCOUNT_NUMBER LIKE #{pFiltroAccountNumber}
		</if>
		<if  test="filtroTransactionDate != null" >
			AND TRANSACTION_DATE = #{filtroTransactionDate}
		</if>
		<if  test="filtroTransactionTime != null" >
			<bind name="pFiltroTransactionTime" value="'%' + filtroTransactionTime + '%'" />
			AND TRANSACTION_TIME LIKE #{pFiltroTransactionTime}
		</if>
		<if  test="filtroIdProceso != null" >
			<bind name="pFiltroIdProceso" value="'%' + filtroIdProceso + '%'" />
			AND CONCAT(ID_PROCESO, UPPER(DESCRIPCION_PROCESO)) LIKE UPPER(#{pFiltroIdProceso})
		</if>
		<if  test="filtroCurrencyCodeTran != null" >
			<bind name="pFiltroCurrencyCodeTran" value="'%' + filtroCurrencyCodeTran + '%'" />
			AND CONCAT(CURRENCY_CODE_TRAN, UPPER(DESCRIPCION_CURRENCY_CODE_TRAN)) LIKE UPPER(#{pFiltroCurrencyCodeTran})
		</if>
		<if  test="filtroTerminalId != null" >
			<bind name="pFiltroTerminalId" value="'%' + filtroTerminalId + '%'" />
			AND TERMINAL_ID LIKE #{pFiltroTerminalId}
		</if>
		<if  test="filtroResponseCode != null" >
			<bind name="pFiltroResponseCode" value="'%' + filtroResponseCode + '%'" />
			AND CONCAT(RESPONSE_CODE, UPPER(DESCRIPCION_RESPONSE_CODE)) LIKE UPPER(#{pFiltroResponseCode})
		</if>
		<if  test="filtroAuthorizationId != null" >
			<bind name="pFiltroAuthorizationId" value="'%' + filtroAuthorizationId + '%'" />
			AND AUTHORIZATION_ID LIKE #{pFiltroAuthorizationId}
		</if>
		<if  test="filtroIdEmisor != null" >
			<bind name="pFiltroIdEmisor" value="'%' + filtroIdEmisor + '%'" />
			AND CONCAT(ID_EMISOR, UPPER(DESCRIPCION_EMISOR)) LIKE UPPER(#{pFiltroIdEmisor})
		</if>
		<if  test="filtroIdReceptor != null" >
			<bind name="pFiltroIdReceptor" value="'%' + filtroIdReceptor + '%'" />
			AND CONCAT(ID_RECEPTOR, UPPER(DESCRIPCION_RECEPTOR)) LIKE UPPER(#{pFiltroIdReceptor})
		</if>
		<if  test="filtroAccessFeeLocInd != null" >
			<bind name="pFiltroAccessFeeLocInd" value="'%' + filtroAccessFeeLocInd + '%'" />
			AND ACCESS_FEE_LOC_IND LIKE #{pFiltroAccessFeeLocInd}
		</if>
		<if  test="filtroCurrencyCodeSett != null" >
			<bind name="pFiltroCurrencyCodeSett" value="'%' + filtroCurrencyCodeSett + '%'" />
			AND CONCAT(CURRENCY_CODE_SETT, UPPER(DESCRIPCION_CURRENCY_CODE_SETT)) LIKE UPPER(#{pFiltroCurrencyCodeSett})
		</if>
		<if  test="filtroInterchangeFeeInd != null" >
			<bind name="pFiltroInterchangeFeeInd" value="'%' + filtroInterchangeFeeInd + '%'" />
			AND INTERCHANGE_FEE_IND LIKE #{pFiltroInterchangeFeeInd}
		</if>
		<if  test="filtroInterchangeFee != null" >
			<bind name="pFiltroInterchangeFee" value="'%' + filtroInterchangeFee + '%'" />
			AND INTERCHANGE_FEE LIKE #{pFiltroInterchangeFee}
		</if>
		<if  test="filtroIdBulkFileMc != null" >
			<bind name="pFiltroIdBulkFileMc" value="'%' + filtroIdBulkFileMc + '%'" />
			AND ID_BULK_FILE_MC LIKE #{pFiltroIdBulkFileMc}
		</if>
		<if  test="filtroIdMembresia != null " >
			<bind name="pFiltroIdMembresia" value="'%' + filtroIdMembresia + '%'" />
			AND CONCAT(UPPER(ID_MEMBRESIA), UPPER(DESCRIPCION_MEMBRESIA)) LIKE UPPER(#{pFiltroIdMembresia})
		</if>
		<if  test="filtroIdServicio != null " >
			<bind name="pFiltroIdServicio" value="'%' + filtroIdServicio + '%'" />
			AND CONCAT(UPPER(ID_SERVICIO), UPPER(DESCRIPCION_SERVICIO)) LIKE UPPER(#{pFiltroIdServicio})
		</if>
		<if  test="filtroIdOrigen != null " >
			<bind name="pFiltroIdOrigen" value="'%' + filtroIdOrigen + '%'" />
			AND CONCAT(ID_ORIGEN, UPPER(DESCRIPCION_ORIGEN)) LIKE UPPER(#{pFiltroIdOrigen})
		</if>
		<if  test="filtroIdClaseTransaccion != null " >
			<bind name="pFiltroIdClaseTransaccion" value="'%' + filtroIdClaseTransaccion + '%'" />
			AND CONCAT(ID_CLASE_TRANSACCION, UPPER(DESCRIPCION_CLASE_TRANSACCION)) LIKE UPPER(#{pFiltroIdClaseTransaccion})
		</if>
		<if  test="filtroIdCodigoTransaccion != null " >
			<bind name="pFiltroIdCodigoTransaccion" value="'%' + filtroIdCodigoTransaccion + '%'" />
			AND CONCAT(ID_CODIGO_TRANSACCION, UPPER(DESCRIPCION_CODIGO_TRANSACCION)) LIKE UPPER(#{pFiltroIdCodigoTransaccion})
		</if>
		<if  test="filtroIdInstitucionEmisora != null " >
			<bind name="pFiltroIdInstitucionEmisora" value="'%' + filtroIdInstitucionEmisora + '%'" />
			AND CONCAT(ID_INSTITUCION_EMISORA, UPPER(DESCRIPCION_INSTITUCION_EMISORA)) LIKE UPPER(#{pFiltroIdInstitucionEmisora})
		</if>
		<if  test="filtroIdInstitucionReceptora != null " >
			<bind name="pFiltroIdInstitucionEmisora" value="'%' + filtroIdInstitucionReceptora + '%'" />
			AND CONCAT(ID_INSTITUCION_RECEPTORA, UPPER(DESCRIPCION_INSTITUCION_RECEPTORA)) LIKE UPPER(#{filtroIdInstitucionReceptora})
		</if>
		<if  test="rangoAmountTransactionLocMin != null and rangoAmountTransactionLocMax != null" >
			AND AMOUNT_TRANSACTION_LOC BETWEEN #{rangoAmountTransactionLocMin} AND #{rangoAmountTransactionLocMax}
		</if>
		<if  test="rangoAmountSettlementMin != null and rangoAmountSettlementMax != null" >
			AND AMOUNT_SETTLEMENT BETWEEN #{rangoAmountSettlementMin} AND #{rangoAmountSettlementMax}
		</if>
		<if  test="ordenFechaProceso != null" >
			ORDER BY
				FECHA_PROCESO  ${ordenFechaProceso}
		</if>
		<if  test="ordenTraceNumber != null" >
			ORDER BY
				TRACE_NUMBER   ${ordenTraceNumber}
		</if>
		<if  test="ordenAccountNumber != null" >
			ORDER BY
				ACCOUNT_NUMBER   ${ordenAccountNumber}
		</if>
		<if  test="ordenMessageTypeInd != null" >
			ORDER BY
				MESSAGE_TYPE_IND   ${ordenMessageTypeInd}
		</if>
		<if  test="ordenTransactionDate != null" >
			ORDER BY
				TRANSACTION_DATE   ${ordenTransactionDate}
		</if>
		<if  test="ordenTransactionTime != null" >
			ORDER BY
				TRANSACTION_TIME   ${ordenTransactionTime}
		</if>
		<if  test="ordenCurrencyCodeTran != null" >
			ORDER BY
				CURRENCY_CODE_TRAN   ${ordenCurrencyCodeTran}
		</if>
		<if  test="ordenAmountTransactionLoc != null" >
			ORDER BY
				AMOUNT_TRANSACTION_LOC   ${ordenAmountTransactionLoc}
		</if>
		<if  test="ordenIdProceso != null" >
			ORDER BY
				ID_PROCESO   ${ordenIdProceso}
		</if>
		<if  test="ordenTerminalId != null" >
			ORDER BY
				TERMINAL_ID    ${ordenTerminalId}
		</if>
		<if  test="ordenResponseCode != null" >
			ORDER BY
				RESPONSE_CODE    ${ordenResponseCode}
		</if>
		<if  test="ordenAuthorizationId != null" >
			ORDER BY
				AUTHORIZATION_ID   ${ordenAuthorizationId}
		</if>
		<if  test="ordenIdEmisor != null" >
			ORDER BY
				ID_EMISOR   ${ordenIdEmisor}
		</if>
		<if  test="ordenIdReceptor != null" >
			ORDER BY
				ID_RECEPTOR   ${ordenIdReceptor}
		</if>
		<if  test="ordenAccessFeeLocInd != null" >
			ORDER BY
				ACCESS_FEE_LOC_IND    ${ordenAccessFeeLocInd}
		</if>
		<if  test="ordenAccessFeeLoc != null" >
			ORDER BY
				ACCESS_FEE_LOC    ${ordenAccessFeeLoc}
		</if>
		<if  test="ordenCurrencyCodeSett != null" >
			ORDER BY
				CURRENCY_CODE_SETT     ${ordenCurrencyCodeSett}
		</if>
		<if  test="ordenAmountSettlement != null" >
			ORDER BY
				AMOUNT_SETTLEMENT      ${ordenAmountSettlement}
		</if>
		<if  test="ordenInterchangeFeeInd != null" >
			ORDER BY
				INTERCHANGE_FEE_IND       ${ordenInterchangeFeeInd}
		</if>
		<if  test="ordenInterchangeFee != null" >
			ORDER BY
				INTERCHANGE_FEE        ${ordenInterchangeFee}
		</if>
		<if  test="ordenIdBulkFileMc != null" >
			ORDER BY
				ID_BULK_FILE_MC        ${ordenIdBulkFileMc}
		</if>
		<if  test="ordenIdMenbresia != null" >
			ORDER BY
				ID_MEMBRESIA        ${ordenIdMenbresia}
		</if>
		<if  test="ordenIdServicio != null" >
			ORDER BY
				ID_SERVICIO        ${ordenIdServicio}
		</if>
		<if  test="ordenIdOrigen != null" >
			ORDER BY
				ID_ORIGEN        ${ordenIdOrigen}
		</if>
		<if  test="ordenIdClaseTransaccion != null" >
			ORDER BY
				ID_CLASE_TRANSACCION        ${ordenIdClaseTransaccion}
		</if>
		<if  test="ordenIdCodigoTransaccion != null" >
			ORDER BY
				ID_CODIGO_TRANSACCION        ${ordenIdCodigoTransaccion}
		</if>
		<if  test="ordenIdInstitucionEmisora != null" >
			ORDER BY
				ID_INSTITUCION_EMISORA        ${ordenIdInstitucionEmisora}
		</if>
		<if  test="ordenIdInstitucionReceptora != null" >
			ORDER BY
				ID_INSTITUCION_RECEPTORA        ${ordenIdInstitucionReceptora}
		</if>
		
	</sql>
	
	<select id="buscarPorCriterios" parameterType="CriterioBusquedaBulkfile"  resultType="Bulkfile" statementType="PREPARED">	
		<include refid="consultaBulkfile" />
		<where>
			<include refid="fragmentoWhere"/> 
			<include refid="fragmentoWhereMultiples"/>
			<include refid="fragmentoFiltrosOrdenaciones"/>
		</where>
   	</select>
   	  	
   	
   	<!-- CONSULTA DEL BULKFILE PARA EL DETALLE -->
     	
   	<sql id="consultaBulkfileDetalle" >
		SELECT *
		FROM VIE_CON_BULK_FILE_DETALLE a
	</sql>
	
	<sql id = "fragmentoWhereDetalle">
		<if  test="fechaProceso != null">
			 a.FECHA_PROCESO =  #{fechaProceso}
		</if>
		<if  test="idBulkfileMC != null and idBulkfileMC != ''">
			 AND a.ID_BULK_FILE_MC = #{idBulkfileMC}
		</if>
	</sql>
	
	<select id="buscarDetalle" parameterType="CriterioBusquedaBulkfile"  resultType="BulkfileDetalle" statementType="PREPARED">	
		<include refid="consultaBulkfileDetalle" />
		<where>
			<include refid="fragmentoWhereDetalle"/>
		</where>
   	</select>

</mapper>