<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IBulkfileMapper">
	
	<!-- CONSULTA DEL  BULKFILE PARA LA GRILLA -->
	
	<sql id="consultaBulkfile" >
		SELECT *
		FROM VIE_CON_BULK_FILE a
	</sql>
	
	<sql id = "fragmentoWhere">
		<if  test="fechaProcesoInicio != null and fechaProcesoFin != null and fechaProcesoInicio != '' and fechaProcesoFin != ''">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		<if  test="fechaTransaccionInicio != null and fechaTransaccionFin != null and fechaTransaccionInicio != '' and fechaTransaccionFin != ''">
			 AND a.TRANSACTION_DATE BETWEEN #{fechaTransaccionInicio}  AND #{fechaTransaccionFin}
		</if>
		<if  test="accountNumber != null and accountNumber != ''">
			 AND a.ACCOUNT_NUMBER = #{accountNumber}
		</if>
		<if  test="traceNumber != null and traceNumber != ''">
			 AND a.TRACE_NUMBER = #{traceNumber}
		</if>
	</sql>
	
	<sql id ="fragmentoWhereMultiples">
		<if test="responsesCode !=null and responsesCode.size()>0">
			AND a.RESPONSE_CODE IN 
			<foreach item="item" index="index" collection="responsesCode" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="currencysCodeTran != null and currencysCodeTran.size()>0">
			AND a.CURRENCY_CODE_TRAN IN
			<foreach item="item" index="index" collection="currencysCodeTran" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="messagesTypeInd != null and messagesTypeInd.size()>0">
			AND a.MESSAGE_TYPE_IND IN
			<foreach item="item" index="index" collection="messagesTypeInd" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>
	
	<sql id="fragmentoFiltrosOrdenaciones">
		<if  test="filtroFechaProceso != null" >
			AND FECHA_PROCESO = #{filtroFechaProceso}
		</if>
		<if  test="filtroTraceNumber != null" >
			<bind name="pFiltroTraceNumber" value="'%' + filtroTraceNumber + '%'" />
			AND TRACE_NUMBER LIKE #{pFiltroTraceNumber}
		</if>
		<if  test="filtroAccountNumber != null" >
			<bind name="pFiltroAccountNumber" value="'%' + filtroAccountNumber + '%'" />
			AND ACCOUNT_NUMBER LIKE #{pFiltroAccountNumber}
		</if>
		<if  test="filtroTransactionDate != null" >
			AND TRANSACTION_DATE = #{filtroTransactionDate}
		</if>
		<if  test="filtroTransaccionTime != null" >
			<bind name="pFiltroTransaccionTime" value="'%' + filtroTransaccionTime + '%'" />
			AND TRANSACTION_TIME LIKE #{pFiltroTransaccionTime}
		</if>
		<if  test="filtroCurrencyCodeTran != null" >
			<bind name="pFiltroCurrencyCodeTran" value="'%' + filtroCurrencyCodeTran + '%'" />
			AND CURRENCY_CODE_TRAN LIKE #{pFiltroCurrencyCodeTran}
		</if>
		<if  test="filtroProcessingCode != null" >
			<bind name="pFiltroProcessingCode" value="'%' + filtroProcessingCode + '%'" />
			AND PROCESSING_CODE LIKE #{pFiltroProcessingCode}
		</if>
		<if  test="filtroTerminalId != null" >
			<bind name="pFiltroTerminalId" value="'%' + filtroTerminalId + '%'" />
			AND TERMINAL_ID LIKE #{pFiltroTerminalId}
		</if>
		<if  test="filtroResponseCode != null" >
			<bind name="pFiltroResponseCode" value="'%' + filtroResponseCode + '%'" />
			AND RESPONSE_CODE LIKE #{pFiltroResponseCode}
		</if>
		<if  test="filtroAuthorizationId != null" >
			<bind name="pFiltroAuthorizationId" value="'%' + filtroAuthorizationId + '%'" />
			AND AUTHORIZATION_ID LIKE #{pFiltroAuthorizationId}
		</if>
		<if  test="filtroAccessFeeLocInd != null" >
			<bind name="pFiltroAccessFeeLocInd" value="'%' + filtroAccessFeeLocInd + '%'" />
			AND ACCESS_FEE_LOC_IND LIKE #{pFiltroAccessFeeLocInd}
		</if>
		<if  test="filtroAccessFeeLoc != null" >
			<bind name="pFiltroAccessFeeLoc" value="'%' + filtroAccessFeeLoc + '%'" />
			AND ACCESS_FEE_LOC LIKE #{pFiltroAccessFeeLoc}
		</if>
		<if  test="filtroCurrencyCodeSett != null" >
			<bind name="pFiltroCurrencyCodeSett" value="'%' + filtroCurrencyCodeSett + '%'" />
			AND CURRENCY_CODE_SETT LIKE #{pFiltroCurrencyCodeSett}
		</if>
		<if  test="filtroAmountSettlement != null" >
			<bind name="pFiltroAmountSettlement" value="'%' + filtroAmountSettlement + '%'" />
			AND AMOUNT_SETTLEMENT LIKE #{pFiltroAmountSettlement}
		</if>
		<if  test="filtroInterchangeFeeInd != null" >
			<bind name="pFiltroInterchangeFeeInd" value="'%' + filtroInterchangeFeeInd + '%'" />
			AND INTERCHANGE_FEE_IND LIKE #{pFiltroInterchangeFeeInd}
		</if>
		<if  test="filtroInterchangeFee != null" >
			<bind name="pFiltroInterchangeFee" value="'%' + filtroInterchangeFee + '%'" />
			AND INTERCHANGE_FEE LIKE #{pFiltroInterchangeFee}
		</if>
		<if  test="ordenFechaProceso != null" >
			ORDER BY
				FECHA_PROCESO  ${ordenFechaProceso}
		</if>
		<if  test="ordenTraceNumber != null" >
			ORDER BY
				TRACE_NUMBER   ${ordenTraceNumber}
		</if>
		<if  test="ordenAccountNumber != null" >
			ORDER BY
				ACCOUNT_NUMBER   ${ordenAccountNumber}
		</if>
		<if  test="ordenTransactionDate != null" >
			ORDER BY
				TRANSACTION_DATE   ${ordenTransactionDate}
		</if>
		<if  test="ordenTransaccionTime != null" >
			ORDER BY
				TRANSACTION_TIME   ${ordenTransaccionTime}
		</if>
		<if  test="ordenCurrencyCodeTran != null" >
			ORDER BY
				CURRENCY_CODE_TRAN   ${ordenCurrencyCodeTran}
		</if>
		<if  test="ordenProcessingCode != null" >
			ORDER BY
				PROCESSING_CODE   ${ordenProcessingCode}
		</if>
		<if  test="ordenTerminalId != null" >
			ORDER BY
				TERMINAL_ID    ${ordenTerminalId}
		</if>
		<if  test="ordenResponseCode != null" >
			ORDER BY
				RESPONSE_CODE    ${ordenResponseCode}
		</if>
		<if  test="ordenAuthorizationId != null" >
			ORDER BY
				AUTHORIZATION_ID   ${AuthorizationId}
		</if>
		<if  test="ordenAccessFeeLocInd != null" >
			ORDER BY
				ACCESS_FEE_LOC_IND    ${ordenAccessFeeLocInd}
		</if>
		<if  test="ordenAccessFeeLoc != null" >
			ORDER BY
				ACCESS_FEE_LOC    ${ordenAccessFeeLoc}
		</if>
		<if  test="ordenCurrencyCodeSett != null" >
			ORDER BY
				CURRENCY_CODE_SETT     ${ordenCurrencyCodeSett}
		</if>
		<if  test="ordenAmountSettlement != null" >
			ORDER BY
				AMOUNT_SETTLEMENT      ${ordenAmountSettlement}
		</if>
		<if  test="ordenInterchangeFeeInd != null" >
			ORDER BY
				INTERCHANGE_FEE_IND       ${ordenInterchangeFeeInd}
		</if>
		<if  test="ordenInterchangeFee != null" >
			ORDER BY
				INTERCHANGE_FEE        ${ordenInterchangeFee}
		</if>
	</sql>
	
	<select id="buscarPorCriterios" parameterType="CriterioBusquedaBulkfile"  resultType="Bulkfile" statementType="PREPARED">	
		<include refid="consultaBulkfile" />
		<where>
			<include refid="fragmentoWhere"/> 
			<include refid="fragmentoWhereMultiples"/>
			<include refid="fragmentoFiltrosOrdenaciones"/>
		</where>
   	</select>
   	  	
   	
   	<!-- CONSULTA DEL BULKFILE PARA EL DETALLE -->
     	
   	<sql id="consultaBulkfileDetalle" >
		SELECT *
		FROM VIE_CON_BULK_FILE_DETALLE a
	</sql>
	
	<sql id = "fragmentoWhereDetalle">
		<if  test="fechaTransaccion != null and fechaTransaccion != ''">
			 a.TRANSACTION_DATE =  #{fechaTransaccion}
		</if>
		<if  test="accountNumber != null and accountNumber != ''">
			 AND a.ACCOUNT_NUMBER = #{accountNumber}
		</if>
		<if  test="traceNumber != null and traceNumber != ''">
			 AND a.TRACE_NUMBER = #{traceNumber}
		</if>
	</sql>
	
	<select id="buscarDetalle" parameterType="CriterioBusquedaBulkfile"  resultType="BulkfileDetalle" statementType="PREPARED">	
		<include refid="consultaBulkfileDetalle" />
		<where>
			<include refid="consultaBulkfileDetalle"/>
		</where>
   	</select>

</mapper>