<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.ICompensacionMapper">
	
	<!-- CONSULTA DEL LOG CONTABLE GENERAL PARA LA GRILLA -->
	
	<sql id="consultaCompensacion" >
		SELECT *
		FROM VIE_CON_COMPENSACION a
	</sql>
	
	<sql id = "fragmentoWhere">
		<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		<if  test="fechaTransaccionInicio != null and fechaTransaccionFin != null">
			 AND a.FECHA_TRANSACCION BETWEEN #{fechaTransaccionInicio}  AND #{fechaTransaccionFin}
		</if>
		<if  test="idSecuencia != null and idSecuencia != '' and idSecuencia != -1">
			 AND a.ID_SECUENCIA = #{idSecuencia}
		</if>
		<if  test="numeroTarjeta != null and numeroTarjeta !=''">
			 AND a.NUMERO_TARJETA LIKE #{numeroTarjeta}
		</if>
		
		<if  test="valorCompensacion != null and valorCompensacion != -1">
			 AND a.VALOR_COMPENSACION = #{valorCompensacion}
		</if>
		<if  test="numeroTrace != null and numeroTrace != ''">
			 AND a.NUMERO_TRACE = #{numeroTrace}
		</if>
	</sql>
	
	<sql id ="fragmentoWhereMultiples">
		<if test="membresias !=null and membresias.size()>0">
			AND a.ID_MEMBRESIA IN 
			<foreach item="item" index="index" collection="membresias" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="servicios !=null and servicios.size()>0">
			AND a.ID_SERVICIO IN 
			<foreach item="item" index="index" collection="servicios" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="origenes !=null and origenes.size()>0">
			AND a.ID_ORIGEN IN 
			<foreach item="item" index="index" collection="origenes" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="clasesTransaccion !=null and clasesTransaccion.size()>0">
			AND a.ID_CLASE_TRANSACCION IN 
			<foreach item="item" index="index" collection="clasesTransaccion" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="codigosTransaccion !=null and codigosTransaccion.size()>0">
			AND a.ID_CODIGO_TRANSACCION IN 
			<foreach item="item" index="index" collection="codigosTransaccion" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="canales !=null and canales.size()>0">
			AND a.ID_CANAL IN 
			<foreach item="item" index="index" collection="canales" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="instituciones !=null and instituciones.size()>0">
			AND a.ID_INSTITUCION_EMISORA IN 
			<foreach item="item" index="index" collection="instituciones" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="institucionesReceptoras !=null and institucionesReceptoras.size()>0">
			AND a.ID_INSTITUCION_RECEPTORA IN 
			<foreach item="item" index="index" collection="institucionesReceptoras" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="bines !=null and bines.size()>0">
			AND a.BIN IN 
			<foreach item="item" index="index" collection="bines" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="codigosRespuesta !=null and codigosRespuesta.size()>0">
			AND a.CODIGO_RESPUESTA IN 
			<foreach item="item" index="index" collection="codigosRespuesta" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="monedasCompensacion !=null and monedasCompensacion.size()>0">
			AND a.ID_MONEDA_COMPENSACION IN 
			<foreach item="item" index="index" collection="monedasCompensacion" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>

	<sql id = "fragmentoFiltrosOrdenaciones">
		<if  test="filtroFechaProceso != null " >
			AND FECHA_PROCESO = #{filtroFechaProceso}
		</if>
		<if  test="filtroIdSecuencia != null " >
			<bind name="pFiltroIdSecuencia" value="'%' + filtroIdSecuencia + '%'" />
			AND ID_SECUENCIA LIKE #{pFiltroIdSecuencia}
		</if>
		<if  test="filtroIdMembresia != null " >
			<bind name="pFiltroIdMembresia" value="'%' + filtroIdMembresia + '%'" />
			AND CONCAT(ID_MEMBRESIA, DESC_MEMBRESIA) LIKE #{pFiltroIdMembresia} 
		</if>
		<if  test="filtroIdServicio != null " >
			<bind name="pFiltroIdServicio" value="'%' + filtroIdServicio + '%'" />
			AND CONCAT(ID_SERVICIO, DESC_SERVICIO) LIKE #{pFiltroIdServicio}
		</if>
		<if  test="filtroIdOrigen != null " >
			<bind name="pFiltroIdOrigen" value="'%' + filtroIdOrigen + '%'" />
			AND CONCAT(ID_ORIGEN, DESC_ORIGEN) LIKE #{pFiltroIdOrigen}
		</if>
		<if  test="filtroIdTransaccion != null " >
			<bind name="pFiltroIdTransaccion" value="'%' + filtroIdTransaccion + '%'" />
			AND CONCAT(ID_TRANSACCION, DESC_CODIGO_TRANSACCION) LIKE #{pFiltroIdTransaccion}
		</if>
	
		<if  test="filtroIdCanal != null " >
			<bind name="pFiltroIdCanal" value="'%' + filtroIdCanal + '%'" />
			AND CONCAT(ID_CANAL, DESC_CANAL) LIKE #{pFiltroIdCanal}
		</if>
		<if  test="filtroIdInstitucionEmisora != null " >
			<bind name="pFiltroIdInstitucionEmisora" value="'%' + filtroIdInstitucionEmisora + '%'" />
			AND CONCAT(ID_INSTITUCION_EMISORA, DESC_INSTITUCION_EMISORA) LIKE #{pFiltroIdInstitucionEmisora}
		</if>
		<if  test="filtroIdInstitucionReceptora != null " >
			<bind name="pFiltroIdInstitucionReceptora" value="'%' + filtroIdInstitucionReceptora + '%'" />
			AND CONCAT(ID_INSTITUCION_RECEPTORA, DESC_INSTITUCION_RECEPTORA) LIKE #{pFiltroIdInstitucionReceptora}
		</if>
		<if  test="filtroNumeroTarjeta != null " >
			<bind name="pFiltroNumeroTarjeta" value="'%' + filtroNumeroTarjeta + '%'" />
			AND NUMERO_TARJETA LIKE #{pFiltroNumeroTarjeta}
		</if>
		<if  test="filtroBin != null " >
			<bind name="pFiltroBin" value="'%' + filtroBin + '%'" />
			AND CONCAT(BIN, DESC_BIN) LIKE #{pFiltroBin}
		</if>
		<if  test="filtroIdMonedaCompensacion != null " >
			<bind name="pFiltroIdMonedaCompensacion" value="'%' + filtroIdMonedaCompensacion + '%'" />
			AND CONCAT(ID_MONEDA_COMPENSACION, DESC_MONEDA_COMPENSACION) LIKE #{pFiltroIdMonedaCompensacion}
		</if>
		<if  test="filtroValorCompensacion != null " >
			<bind name="pFiltroValorCompensacion" value="'%' + filtroValorCompensacion + '%'" />
			AND VALOR_COMPENSACION LIKE #{pFiltroValorCompensacion}
		</if>
		<if  test="filtroFechaTransaccion != null " >
			AND FECHA_TRANSACCION = #{filtroFechaTransaccion}
		</if>
		<if  test="filtroHoraTransaccion != null " >
			<bind name="pFiltroHoraTransaccion" value="'%' + filtroHoraTransaccion + '%'" />
			AND HORA_TRANSACCION LIKE #{pFiltroHoraTransaccion}
		</if>
		<if  test="filtroCodigoRespuesta != null " >
			<bind name="pFiltroCodigoRespuesta" value="'%' + filtroCodigoRespuesta + '%'" />
			AND CONCAT(CODIGO_RESPUESTA, DESC_CODIGO_RESPUESTA) LIKE #{pFiltroCodigoRespuesta}
		</if>
		<if  test="filtroNumeroTrace != null " >
			<bind name="pFiltroNumeroTrace" value="'%' + filtroNumeroTrace + '%'" />
			AND NUMERO_TRACE LIKE #{pFiltroNumeroTrace}
		</if>
		<if  test="filtroCodigoAutorizacion != null " >
			<bind name="pFiltroCodigoAutorizacion" value="'%' + filtroCodigoAutorizacion + '%'" />
			AND CODIGO_AUTORIZACION LIKE #{pFiltroCodigoAutorizacion}
		</if>
		<if  test="filtroReferenciaIntercambio != null " >
			<bind name="pFiltroReferenciaIntercambio" value="'%' + filtroReferenciaIntercambio + '%'" />
			AND REFERENCIA_INTERCAMBIO LIKE #{pFiltroReferenciaIntercambio}
		</if>
		<if  test="filtroGiroNegocio != null " >
			<bind name="pFiltroGiroNegocio" value="'%' + filtroGiroNegocio + '%'" />
			AND CONCAT(GIRO_NEGOCIO, DESC_GIRO_NEGOCIO) LIKE #{pFiltroGiroNegocio}
		</if>
		<if  test="filtroNombreAdquirente != null " >
			<bind name="pFiltroNombreAdquirente" value="'%' + filtroNombreAdquirente + '%'" />
			AND NOMBRE_ADQUIRENTE LIKE #{pFiltroNombreAdquirente}
		</if>
		
		<if  test="filtroPaisAdquirente != null " >
			<bind name="pFiltroPaisAdquirente" value="'%' + filtroPaisAdquirente + '%'" />
			AND CONCAT(PAIS_ADQUIRENTE, DESC_PAIS_ADQUIRENTE) LIKE #{pFiltroPaisAdquirente}
		</if>
		<if  test="ordenFechaProceso != null " >
		ORDER BY
			FECHA_PROCESO  ${ordenFechaProceso}
		</if>
		<if  test="ordenIdSecuencia != null " >
		ORDER BY
			ID_SECUENCIA  ${ordenIdSecuencia}
		</if>
		<if  test="ordenIdMembresia != null " >
		ORDER BY
			ID_MEMBRESIA  ${ordenIdMembresia}
		</if>
		<if  test="ordenIdServicio != null " >
		ORDER BY
			ID_SERVICIO  ${ordenIdServicio}
		</if>
		<if  test="ordenIdOrigen != null " >
		ORDER BY
			ID_ORIGEN  ${ordenIdOrigen}
		</if>
		<if  test="ordenIdTransaccion != null " >
		ORDER BY
			ID_TRANSACCION  ${ordenIdTransaccion}
		</if>
		
		
		<if  test="ordenIdCanal != null " >
		ORDER BY
			ID_CANAL  ${ordenIdCanal}
		</if>
		<if  test="ordenIdInstitucionEmisora != null " >
		ORDER BY
			ID_INSTITUCION_EMISORA  ${ordenIdInstitucionEmisora}
		</if>
		<if  test="ordenIdInstitucionReceptora != null " >
		ORDER BY
			ID_INSTITUCION_RECEPTORA  ${ordenIdInstitucionReceptora}
		</if>
		<if  test="ordenNumeroTarjeta != null " >
		ORDER BY
			NUMERO_TARJETA  ${ordenNumeroTarjeta}
		</if>
		<if  test="ordenBin != null " >
		ORDER BY
			BIN  ${ordenBin}
		</if>
		<if  test="ordenIdMonedaCompensacion != null " >
		ORDER BY
			ID_MONEDA_COMPENSACION  ${ordenIdMonedaCompensacion}
		</if>
		<if  test="ordenValorCompensacion != null " >
		ORDER BY
			VALOR_COMPENSACION  ${ordenValorCompensacion}
		</if>
		<if  test="ordenFechaTransaccion != null " >
		ORDER BY
			FECHA_TRANSACCION  ${ordenFechaTransaccion}
		</if>
		<if  test="ordenHoraTransaccion != null " >
		ORDER BY
			HORA_TRANSACCION  ${ordenHoraTransaccion}
		</if>
		<if  test="ordenCodigoRespuesta != null " >
		ORDER BY
			CODIGO_RESPUESTA  ${ordenCodigoRespuesta}
		</if>
		<if  test="ordenNumeroTrace != null " >
		ORDER BY
			NUMERO_TRACE  ${ordenNumeroTrace}
		</if>
		<if  test="ordenCodigoAutorizacion != null " >
		ORDER BY
			CODIGO_AUTORIZACION  ${ordenCodigoAutorizacion}
		</if>
		<if  test="ordenReferenciaIntercambio != null " >
		ORDER BY
			REFERENCIA_INTERCAMBIO  ${ordenReferenciaIntercambio}
		</if>
		<if  test="ordenGiroNegocio != null " >
		ORDER BY
			GIRO_NEGOCIO  ${ordenGiroNegocio}
		</if>
		<if  test="ordenNombreAdquirente != null " >
		ORDER BY
			NOMBRE_ADQUIRENTE  ${ordenNombreAdquirente}
		</if>
		
		<if  test="ordenPaisAdquirente != null " >
		ORDER BY
			PAIS_ADQUIRENTE  ${ordenPaisAdquirente}
		</if>
	</sql>
	
	<select id="buscarPorCriterios" parameterType="CriterioBusquedaCompensacion"  resultType="Compensacion" statementType="PREPARED">	
		<include refid="consultaCompensacion" />
		<where>
			<include refid="fragmentoWhere"/> 
			<include refid="fragmentoWhereMultiples"/>
			<include refid="fragmentoFiltrosOrdenaciones" />
		</where>
   	</select>
   	
   	
   	<!-- CONSULTA DEL LOG CONTABLE GENERAL PARA EL DETALLE -->
     	
   	<sql id="consultaCompensacionDetalle" >
		SELECT *
		FROM VIE_CON_COMPENSACION_DETALLE a
	</sql>
	
	<sql id = "fragmentoWhereDetalle">
		<if  test="idSecuencia != null">
			  a.ID_SECUENCIA = #{idSecuencia}
		</if>
		<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 AND a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>	
	</sql>
	
	<select id="buscarPorSecuencia" parameterType="CriterioBusquedaCompensacion"  resultType="CompensacionDetalle" statementType="PREPARED">	
		<include refid="consultaCompensacionDetalle" />
		<where>
			<include refid="fragmentoWhereDetalle"/>
		</where>
   	</select>
   	  	
	<select id="buscarComisionesPorSecuencia" parameterType="CriterioBusquedaCompensacion"  resultType="ComisCompensacion" statementType="PREPARED">	
		SELECT *
		FROM VIE_CON_COMPENSACION_COMISION a
		<where>
			<if  test="idSecuencia != null">
				  a.ID_SECUENCIA = #{idSecuencia}
			</if>
		</where>
   	</select>

</mapper>