<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IDcinChargeMapper">

    <sql id="consultaDcin">
        SELECT *
		FROM VIE_CON_MOV_DCIN_CHARGE a
    </sql>
	
	<sql id = "fragmentoWhere" >
		<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		<if  test="chargeDateInicio != null and chargeDateFin != null ">
			AND a.CHARGE_DATE BETWEEN #{chargeDateInicio}  AND #{chargeDateFin}
		</if>
		<if  test="cardNumber != null  and cardNumber != '' ">
			AND a.CARD_NUMBER = #{cardNumber}  
		</if>
		<if  test="cardPresentIndicator != null and cardPresentIndicator !=''">
			AND a.CARD_PRESENT_INDICATOR = #{cardPresentIndicator}  
		</if>
		<if  test="cardType != null and cardType != ''">
			AND a.CARD_TYPE = #{cardType}  
		</if>
		<if  test="authorizationNumber != null and authorizationNumber !='' ">
			AND a.AUTHORIZATION_NUMBER = #{authorizationNumber}  
		</if>
	</sql>
	
	<sql id ="fragmentoWhereMultiples">
		<if test="merchantClasificationCode !=null and merchantClasificationCode.size()>0">
			AND a.MERCHANT_CLASIFICATION_CODE IN 
			<foreach item="item" index="index" collection="merchantClasificationCode" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>
	
	<sql id= "fragmentoFiltrosOrdenaciones" >
		<if test="filtroIdDcin != null ">
			<bind name="pFiltroIdDcin" value="'%' + filtroIdDcin + '%'"/>
			AND ID_DCIN LIKE #{pFiltroIdDcin}
		</if>
		<if test="filtroSendingInstitution != null ">
			<bind name="pFiltroSendingInstitution" value="'%' + filtroSendingInstitution + '%'"/>
			AND SENDING_INSTITUTION LIKE #{pFiltroSendingInstitution}
		</if>
		<if test="filtroReceivingInstitution != null ">
			<bind name="pFiltroReceivingInstitution" value="'%' + filtroReceivingInstitution + '%'"/>
			AND RECEIVING_INSTITUTION LIKE #{pFiltroReceivingInstitution}
		</if>
		<if  test="filtroCardNumber != null " >
			<bind name="pFiltroCardNumber" value="'%' + filtroCardNumber + '%'" />
			AND CARD_NUMBER LIKE #{pFiltroCardNumber}
		</if>
		<if test="filtroChargeDate != null ">
			AND CHARGE_DATE = #{filtroChargeDate}
		</if>
		<if  test="filtroDateType != null " >
			<bind name="pFiltroDateType" value="'%' + filtroDateType + '%'" />
			AND DATE_TYPE LIKE #{pFiltroDateType}
		</if>
		<if  test="filtroChargeType != null " >
			<bind name="pFiltroChargeType" value="'%' + filtroChargeType + '%'" />
			AND CHARGE_TYPE LIKE #{pFiltroChargeType}
		</if>
		<if  test="filtroEstablishmentName != null " >
			<bind name="pFiltroEstablishmentName" value="'%' + filtroEstablishmentName + '%'" />
			AND ESTABLISHMENT_NAME LIKE #{pFiltroEstablishmentName}
		</if>
		<if  test="filtroEstablishmentCity != null " >
			<bind name="pFiltroEstablishmentCity" value="'%' + filtroEstablishmentCity + '%'" />
			AND ESTABLISHMENT_CITY LIKE #{pFiltroEstablishmentCity}
		</if>
		<if  test="filtroGeographicAreaCode != null " >
			<bind name="pFiltroGeographicAreaCode" value="'%' + filtroGeographicAreaCode + '%'" />
			AND GEOGRAPHIC_AREA_CODE LIKE #{pFiltroGeographicAreaCode}
		</if>
		<if  test="filtroActionCode != null " >
			<bind name="pFiltroActionCode" value="'%' + filtroActionCode + '%'" />
			AND ACTION_CODE LIKE #{pFiltroActionCode}
		</if>
		<if  test="filtroTypeCharge != null " >
			<bind name="pFiltroTypeCharge" value="'%' + filtroTypeCharge + '%'" />
			AND TYPE_CHARGE LIKE #{pFiltroTypeCharge}
		</if>
		<if  test="filtroReferenceNumber != null " >
			<bind name="pFiltroReferenceNumber" value="'%' + filtroReferenceNumber + '%'" />
			AND REFERENCE_NUMBER LIKE #{pFiltroReferenceNumber}
		</if>
		<if  test="filtroAuthorizationNumber != null " >
			<bind name="pFiltroAuthorizationNumber" value="'%' + filtroAuthorizationNumber + '%'" />
			AND AUTHORIZATION_NUMBER LIKE #{pFiltroAuthorizationNumber}
		</if>
		<if  test="filtroMerchantClasificationCode != null " >
			<bind name="pFiltroMerchantClasificationCode" value="'%' + filtroMerchantClasificationCode + '%'" />
			AND CONCAT(MERCHANT_CLASIFICATION_CODE,UPPER(DESCRIPCION_GIRO_NEGOCIO)) LIKE #{pFiltroMerchantClasificationCode}
		</if>
		<if  test="filtroCardHolderPresentIndicator != null " >
			<bind name="pFiltroCardHolderPresentIndicator" value="'%' + filtroCardHolderPresentIndicator + '%'" />
			AND CONCAT(UPPER(CARD_HOLDER_PRESENT_INDICATOR),UPPER(DESC_CARD_HOLDER_PRESENT_INDICATOR)) LIKE #{pFiltroCardHolderPresentIndicator}
		</if>
		<if  test="filtroCardPresentIndicator != null " >
			<bind name="pFiltroCardPresentIndicator" value="'%' + filtroCardPresentIndicator + '%'" />
			AND CONCAT(UPPER(CARD_PRESENT_INDICATOR),UPPER(DESC_CARD_PRESENT_INDICATOR)) LIKE #{pFiltroCardPresentIndicator}
		</if>
		<if  test="filtroCardInputDataMethod != null " >
			<bind name="pFiltroCardInputDataMethod" value="'%' + filtroCardInputDataMethod + '%'" />
			AND CONCAT(UPPER(CARD_INPUT_DATA_METHOD),UPPER(DESC_CARD_INPUT_DATA_METHOD)) LIKE #{pFiltroCardInputDataMethod}
		</if>
		<if  test="filtroCardDataInputCapability != null " >
			<bind name="pFiltroCardDataInputCapability" value="'%' + filtroCardDataInputCapability + '%'" />
			AND CONCAT(UPPER(CARD_DATA_INPUT_CAPABILITY),UPPER(DESC_CARD_DATA_INPUT_CAPABILITY)) LIKE #{pFiltroCardDataInputCapability}
		</if>
		<if  test="filtroAcquirerGeographicAreaCode != null " >
			<bind name="pFiltroAcquirerGeographicAreaCode" value="'%' + filtroAcquirerGeographicAreaCode + '%'" />
			AND ACQUIRER_GEOGRAPHIC_AREA_CODE LIKE #{pFiltroAcquirerGeographicAreaCode}
		</if>
		<if  test="filtroCardType != null " >
			<bind name="pFiltroCardType" value="'%' + filtroCardType + '%'" />
			AND CARD_TYPE LIKE #{pFiltroCardType}
		</if>
		<if test="filtroFechaProceso != null ">
			AND FECHA_PROCESO = #{filtroFechaProceso}
		</if>
		<if  test="filtroIdOrigenArchivo != null " >
			<bind name="pFiltroIdOrigenArchivo" value="'%' + filtroIdOrigenArchivo + '%'" />
			AND CONCAT(UPPER(ID_ORIGEN_ARCHIVO),UPPER(DESCRIPCION_ORIGEN_ARCHIVO)) LIKE #{pFiltroIdOrigenArchivo}
		</if>
		<if  test="filtroIdMembresia != null " >
			<bind name="pFiltroIdMembresia" value="'%' + filtroIdMembresia + '%'" />
			AND CONCAT(UPPER(ID_MEMBRESIA),UPPER(DESCRIPCION_MEMBRESIA)) LIKE #{pFiltroIdMembresia}
		</if>
		<if  test="filtroIdServicio != null " >
			<bind name="pFiltroIdServicio" value="'%' + filtroIdServicio + '%'" />
			AND CONCAT(UPPER(ID_SERVICIO),UPPER(DESCRIPCION_SERVICIO)) LIKE #{pFiltroIdServicio}
		</if>
		<if  test="filtroIdOrigen != null " >
			<bind name="pFiltroIdOrigen" value="'%' + filtroIdOrigen + '%'" />
			AND CONCAT(ID_ORIGEN,UPPER(DESCRIPCION_ORIGEN)) LIKE #{pFiltroIdOrigen}
		</if>
		<if  test="filtroIdClaseTransaccion != null " >
			<bind name="pFiltroIdClaseTransaccion" value="'%' + filtroIdClaseTransaccion + '%'" />
			AND CONCAT(ID_CLASE_TRANSACCION,UPPER(DESCRIPCION_CLASE_TRANSACCION)) LIKE #{pFiltroIdClaseTransaccion}
		</if>
		<if  test="filtroIdCodigoTransaccion != null " >
			<bind name="pFiltroIdCodigoTransaccion" value="'%' + filtroIdCodigoTransaccion + '%'" />
			AND CONCAT(ID_CODIGO_TRANSACCION,UPPER(DESCRIPCION_CODIGO_TRANSACCION)) LIKE #{pFiltroIdCodigoTransaccion}
		</if>
		<if  test="filtroIdInstitucionEmisora != null " >
			<bind name="pFiltroIdInstitucionEmisora" value="'%' + filtroIdInstitucionEmisora + '%'" />
			AND CONCAT(ID_INSTITUCION_EMISORA,UPPER(DESCRIPCION_INSTITUCION_EMISORA)) LIKE #{pFiltroIdInstitucionEmisora}
		</if>
		<if  test="filtroIdInstitucionReceptora != null " >
			<bind name="pFiltroIdInstitucionReceptora" value="'%' + filtroIdInstitucionReceptora + '%'" />
			AND CONCAT(ID_INSTITUCION_RECEPTORA,UPPER(DESCRIPCION_INSTITUCION_RECEPTORA)) LIKE #{pFiltroIdInstitucionReceptora}
		</if>
		
		<if  test="rangoChargeAmountMin != null and rangoChargeAmountMax != null" >
			AND CHARGE_AMOUNT BETWEEN #{rangoChargeAmountMin} AND #{rangoChargeAmountMax}
		</if>
		
		<if  test="ordenIdDcin != null " >
			ORDER BY
				ID_DCIN ${ordenIdDcin}
		</if>
		<if  test="ordenSendingInstitution != null " >
			ORDER BY
				SENDING_INSTITUTION ${ordenSendingInstitution}
		</if>
		<if  test="ordenReceivingInstitution != null " >
			ORDER BY
				RECEIVING_INSTITUTION ${ordenReceivingInstitution}
		</if>
		<if  test="ordenCardNumber != null " >
			ORDER BY
				CARD_NUMBER ${ordenCardNumber}
		</if>
		<if  test="ordenChargeAmount != null " >
			ORDER BY
				CHARGE_AMOUNT ${ordenChargeAmount}
		</if>
		<if  test="ordenChargeDate != null " >
			ORDER BY
				CHARGE_DATE ${ordenChargeDate}
		</if>
		<if  test="ordenDateType != null " >
			ORDER BY
				DATE_TYPE ${ordenDateType}
		</if>
		<if  test="ordenChargeType != null " >
			ORDER BY
				CHARGE_TYPE ${ordenChargeType}
		</if>
		<if  test="ordenEstablishmentName != null " >
			ORDER BY
				ESTABLISHMENT_NAME ${ordenEstablishmentName}
		</if>
		<if  test="ordenEstablishmentCity != null " >
			ORDER BY
				ESTABLISHMENT_CITY ${ordenEstablishmentCity}
		</if>
		<if  test="ordenGeographicAreaCode != null " >
			ORDER BY
				GEOGRAPHIC_AREA_CODE ${ordenGeographicAreaCode}
		</if>
		<if  test="ordenActionCode != null " >
			ORDER BY
				ACTION_CODE ${ordenActionCode}
		</if>
		<if  test="ordenTypeCharge != null " >
			ORDER BY
				TYPE_CHARGE ${ordenTypeCharge}
		</if>
		<if  test="ordenReferenceNumber != null " >
			ORDER BY
				REFERENCE_NUMBER ${ordenReferenceNumber}
		</if>
		<if  test="ordenAuthorizationNumber != null " >
			ORDER BY
				AUTHORIZATION_NUMBER ${ordenAuthorizationNumber}
		</if>
		<if  test="ordenMerchantClasificationCode != null " >
			ORDER BY
				MERCHANT_CLASIFICATION_CODE ${ordenMerchantClasificationCode}
		</if>
		<if  test="ordenCardHolderPresentIndicator != null " >
			ORDER BY
				CARD_HOLDER_PRESENT_INDICATOR ${ordenCardHolderPresentIndicator}
		</if>
		<if  test="ordenCardPresentIndicator != null " >
			ORDER BY
				CARD_PRESENT_INDICATOR ${ordenCardPresentIndicator}
		</if>
		<if  test="ordenCardInputDataMethod != null " >
			ORDER BY
				CARD_INPUT_DATA_METHOD ${ordenCardInputDataMethod}
		</if>
		<if  test="ordenCardDataInputCapability != null " >
			ORDER BY
				CARD_DATA_INPUT_CAPABILITY ${ordenCardDataInputCapability}
		</if>
		<if  test="ordenAcquirerGeographicAreaCode != null " >
			ORDER BY
				ACQUIRER_GEOGRAPHIC_AREA_CODE ${ordenAcquirerGeographicAreaCode}
		</if>
		<if  test="ordenCardType != null " >
			ORDER BY
				CARD_TYPE ${ordenCardType}
		</if>
		<if  test="ordenFechaProceso != null " >
			ORDER BY
				FECHA_PROCESO ${ordenFechaProceso}
		</if>
		<if  test="ordenIdOrigenArchivo != null " >
			ORDER BY
				ID_ORIGEN_ARCHIVO ${ordenIdOrigenArchivo}
		</if>
		<if  test="ordenIdMembresia != null " >
			ORDER BY
				ID_MEMBRESIA ${ordenIdMembresia}
		</if>
		<if  test="ordenIdServicio != null " >
			ORDER BY
				ID_SERVICIO ${ordenIdServicio}
		</if>
		<if  test="ordenIdOrigen != null " >
			ORDER BY
				ID_ORIGEN ${ordenIdOrigen}
		</if>
		<if  test="ordenIdClaseTransaccion != null " >
			ORDER BY
				ID_CLASE_TRANSACCION ${ordenIdClaseTransaccion}
		</if>
		<if  test="ordenIdCodigoTransaccion != null " >
			ORDER BY
				ID_CODIGO_TRANSACCION ${ordenIdCodigoTransaccion}
		</if>
		<if  test="ordenIdInstitucionEmisora != null " >
			ORDER BY
				ID_INSTITUCION_EMISORA ${ordenIdInstitucionEmisora}
		</if>
		<if  test="ordenIdInstitucionReceptora != null " >
			ORDER BY
				ID_INSTITUCION_RECEPTORA ${ordenIdInstitucionReceptora}
		</if>
	</sql>
   	
   	<select id="buscarPorCriterios" parameterType="CriterioBusquedaDcinCharge"  resultType="DcinCharge" statementType="PREPARED">	
		<include refid="consultaDcin" />
		<where>
			<include refid="fragmentoWhere"/> 
			<include refid="fragmentoWhereMultiples"/>
			<include refid="fragmentoFiltrosOrdenaciones"/>
		</where>
   	</select>
   	
   	<!-- CONSULTA DEL DCIN PARA EL DETALLE -->
     	
   	<sql id="consultaDcinDetalle" >
		SELECT *
		FROM VIE_CON_MOV_DCIN_CHARGE_DET a
	</sql>
	
	<sql id = "fragmentoWhereDetalle">
		<if  test="fechaProceso != null">
			 a.FECHA_PROCESO =  #{fechaProceso}
		</if>
		<if  test="idDcin != null and idDcin != ''">
			 AND a.ID_DCIN = #{idDcin}
		</if>
	</sql>
	
	<select id="buscarDetalle" parameterType="CriterioBusquedaDcinCharge"  resultType="DcinChargeDetalle" statementType="PREPARED">	
		<include refid="consultaDcinDetalle" />
		<where>
			<include refid="fragmentoWhereDetalle"/>
		</where>
   	</select>
   	
</mapper>