<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IFacturaVisaMapper">
    <sql id="consultaFactura">
        SELECT *
            FROM VIE_CON_MOV_FACTURA_VISA a
    </sql>
    
    <sql id = "fragmentoWhere">
		<if  test="fechaAfectacionVisaInicio != null and fechaAfectacionVisaFin != null">
			AND  a.FECHA_AFECTACION_VISA BETWEEN #{fechaAfectacionVisaInicio}  AND #{fechaAfectacionVisaFin}
		</if>
		<if  test="invoiceDateInicio != null and invoiceDateFin != null">
			AND  a.INVOICE_DATE BETWEEN #{invoiceDateInicio}  AND #{invoiceDateFin}
		</if>
		<if  test="billingLine != null and billingLine != ''" >
			AND  a.BILLING_LINE = #{billingLine}
		</if>
	</sql>

 	<sql id ="fragmentoWhereMultiples">
 	
 		<if test="instituciones !=null and instituciones.size()>0">
			AND a.ID_INSTITUCION IN 
			<foreach item="item" index="index" collection="instituciones" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="entitiesType !=null and entitiesType.size()>0">
			AND a.ENTITY_TYPE IN 
			<foreach item="item" index="index" collection="entitiesType" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
 	 </sql>
 	 
 	 <sql id = "fragmentoFiltrosOrdenaciones">
 	 	<if  test="filtroFechaAfectacionVisa != null " >
			AND FECHA_AFECTACION_VISA = #{filtroFechaAfectacionVisa}
		</if>
		<if  test="filtroIdRegistroVisa != null " >
			AND ID_REGISTRO_VISA LIKE #{filtroIdRegistroVisa}
		</if>
		<if  test="filtroBillingPeriod != null " >
			<bind name="pFiltroBillingPeriod" value="'%' + filtroBillingPeriod + '%'"/>
			AND BILLING_PERIOD LIKE #{pFiltroBillingPeriod}
		</if>
		<if  test="filtroInvoiceDate != null " >
			AND INVOICE_DATE = #{filtroInvoiceDate}
		</if>
		<if  test="filtroInvoiceAccount != null " >
			<bind name="pFiltroInvoiceAccount" value="'%' + filtroInvoiceAccount + '%'"/>
			AND INVOICE_ACCOUNT LIKE #{pFiltroInvoiceAccount}
		</if>
		<if  test="filtroName != null " >
			AND NAME LIKE #{filtroName}
		</if>
		<if  test="filtroInvoiceId != null " >
			<bind name="pFiltroInvoiceId" value="'%' + filtroInvoiceId + '%'"/>
			AND INVOICE_ID LIKE #{pFiltroInvoiceId}
		</if>
		<if  test="filtroSubInvoice != null " >
			<bind name="pFiltroSubInvoice" value="'%' + filtroSubInvoice + '%'"/>
			AND SUB_INVOICE LIKE #{pFiltroSubInvoice}
		</if>
		<if  test="filtroEntityType != null " >
			<bind name="pFiltroEntityType" value="'%' + filtroEntityType + '%'"/>
			AND ENTITY_TYPE LIKE #{pFiltroEntityType}
		</if>
		<if  test="filtroEntityId != null " >
			<bind name="pFiltroEntityId" value="'%' + filtroEntityId + '%'"/>
			AND ENTITY_ID LIKE #{pFiltroEntityId}
		</if>
		<if  test="filtroBinMap != null " >
			<bind name="pFiltroBinMap" value="'%' + filtroBinMap + '%'"/>
			AND BIN_MAP LIKE #{pFiltroBinMap}
		</if>
		<if  test="filtroSettlementId != null " >
			<bind name="pFiltroSettlementId" value="'%' + filtroSettlementId + '%'"/>
			AND SETTLEMENT_ID LIKE #{pFiltroSettlementId}
		</if>
		<if  test="filtroDescription != null " >
			<bind name="pFiltroDescription" value="'%' + filtroDescription + '%'"/>
			AND DESCRIPTION LIKE #{pFiltroDescription}
		</if>
		<if  test="filtroBillingLine != null " >
			<bind name="pFiltroBillingLine" value="'%' + filtroBillingLine + '%'"/>
			AND BILLING_LINE LIKE #{pFiltroBillingLine}
		</if>
		<if  test="filtroType != null " >
			<bind name="pFiltroType" value="'%' + filtroType + '%'"/>
			AND TYPE LIKE #{pFiltroType}
		</if>
		<if  test="filtroRateType != null " >
			<bind name="pFiltroRateType" value="'%' + filtroRateType + '%'"/>
			AND RATE_TYPE LIKE #{pFiltroRateType}
		</if>
		<if  test="filtroUnits != null " >
			<bind name="pFiltroUnits" value="'%' + filtroUnits + '%'"/>
			AND UNITS LIKE #{pFiltroUnits}
		</if>
		<if  test="filtroRateCur != null " >
			<bind name="pFiltroRateCur" value="'%' + filtroRateCur + '%'"/>
			AND RATE_CUR LIKE #{pFiltroRateCur}
		</if>
		<if  test="filtroRate != null " >
			<bind name="pFiltroRate" value="'%' + filtroRate + '%'"/>
			AND RATE LIKE #{pFiltroRate}
		</if>
		<if  test="filtroForeignExchange != null " >
			<bind name="pFiltroForeignExchange" value="'%' + filtroForeignExchange + '%'"/>
			AND FOREIGN_EXCHANGE_RATE LIKE #{pFiltroForeignExchange}
		</if>
		<if  test="filtroBillingCurrency != null " >
			<bind name="pFiltroBillingCurrency" value="'%' + filtroBillingCurrency + '%'"/>
			AND BILLING_CURRENCY LIKE #{pFiltroBillingCurrency}
		</if>
		<if  test="filtroTotal != null " >
			<bind name="pFiltroTotal" value="'%' + filtroTotal + '%'"/>
			AND TOTAL LIKE #{pFiltroTotal}
		</if>
		<if  test="filtroInstitucion != null " >
			<bind name="pFiltroIdTransaccion" value="'%' + filtroIdTransaccion + '%'" />
			AND CONCAT(ID_INSTITUCION, UPPER(DESC_ID_INSTITUCION)) LIKE UPPER(#{pFiltroIdTransaccion})
		</if>
		
		<if  test="ordenInstitucion != null " >
		ORDER BY
			FECHA_AFECTACION_VISA  ${ordenInstitucion}
		</if>
		<if  test="ordenIdRegistroVisa != null " >
		ORDER BY
			ID_REGISTRO_VISA  ${ordenIdRegistroVisa}
		</if>
		<if  test="ordenBillingPeriod != null " >
		ORDER BY
			BILLING_PERIOD  ${ordenBillingPeriod}
		</if>
		<if  test="ordenInvoiceDate != null " >
		ORDER BY
			INVOICE_DATE  ${ordenInvoiceDate}
		</if>
		<if  test="ordenInvoiceAccount != null " >
		ORDER BY
			INVOICE_ACCOUNT  ${ordenInvoiceAccount}
		</if>
		<if  test="ordenName != null " >
		ORDER BY
			NAME  ${ordenName}
		</if>
		<if  test="ordenInvoiceId != null " >
		ORDER BY
			INVOICE_ID  ${ordenInvoiceId}
		</if>
		<if  test="ordenSubInvoice != null " >
		ORDER BY
			SUB_INVOICE  ${ordenSubInvoice}
		</if>
		<if  test="ordenEntityType != null " >
		ORDER BY
			ENTITY_TYPE  ${ordenEntityType}
		</if>
		<if  test="ordenEntityId != null " >
		ORDER BY
			ENTITY_ID  ${ordenEntityId}
		</if>
		<if  test="ordenBinMap != null " >
		ORDER BY
			BIN_MAP  ${ordenBinMap}
		</if>
		<if  test="ordenSettlementId != null " >
		ORDER BY
			SETTLEMENT_ID  ${ordenSettlementId}
		</if>
		<if  test="ordenDescription != null " >
		ORDER BY
			DESCRIPTION  ${ordenDescription}
		</if>
		<if  test="ordenBillingLine != null " >
		ORDER BY
			BILLING_LINE  ${ordenBillingLine}
		</if>
		<if  test="ordenType != null " >
		ORDER BY
			TYPE  ${ordenType}
		</if>
		<if  test="ordenRateType != null " >
		ORDER BY
			RATE_TYPE  ${ordenRateType}
		</if>
		<if  test="ordenUnits != null " >
		ORDER BY
			UNITS  ${ordenUnits}
		</if>
		<if  test="ordenRateCur != null " >
		ORDER BY
			RATE_CUR  ${ordenRateCur}
		</if>
		<if  test="ordenRate != null " >
		ORDER BY
			RATE  ${ordenRate}
		</if>
		<if  test="ordenForeignExchange != null " >
		ORDER BY
			FOREIGN_EXCHANGE_RATE  ${ordenForeignExchange}
		</if>
		<if  test="ordenBillingCurrency != null " >
		ORDER BY
			BILLING_CURRENCY  ${ordenBillingCurrency}
		</if>
		<if  test="ordenTotal != null " >
		ORDER BY
			TOTAL  ${ordenTotal}
		</if>
		<if  test="ordenInstitucion != null " >
		ORDER BY
			ID_INSTITUCION  ${ordenInstitucion}
		</if>
		
		
 	 </sql>
 	 
 	 
 	 	<select id="buscarPorCriterios" parameterType="CriterioBusquedaFacturaVisa"  resultType="FacturaVisa" statementType="PREPARED">	
		<include refid="consultaFactura" />
		<where>
			<include refid="fragmentoWhere"/> 
			<include refid="fragmentoWhereMultiples"/>
			<include refid="fragmentoFiltrosOrdenaciones" />
		</where>
   	</select>
 
</mapper>