<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IIncomingVisaTC10Mapper">
			
	<sql id="consultaPorCriteriosTCR0" >
		SELECT *
		FROM VIE_CON_MOV_INC_TC10 a
	</sql>
	
	<sql id = "fragmentoWhereGet" >
		<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		
	</sql>
	
	<sql id ="fragmentoWhereGetMultiples" >
		<if  test="transactionsCodes !=null and transactionsCodes.size()>0">
			AND a.TRANSACTION_CODE IN 
				<foreach item="item" index="index" collection="transactionsCodes" open ="(" separator="," close=")">
					#{item}
				</foreach> 
		</if>
		<if  test="reasonsCodes != null and reasonsCodes.size()>0"  >
			AND a.REASON_CODE IN 
				<foreach item="item" index="index" collection="reasonsCodes" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="destCurrenciesCodes != null and destCurrenciesCodes.size()>0" >
			AND a.DEST_CURRENCY_CODE IN 
				<foreach item="item" index="index" collection="destCurrenciesCodes" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		
	</sql>
	
	<select id="buscarPorCriteriosTCR0" parameterType="CriterioBusquedaIncomingVisaTC10"  resultType="IncomingVisaTC10TCR0Det" statementType="PREPARED">	
		<include refid="consultaPorCriteriosTCR0" />
			WHERE
		<include refid="fragmentoWhereGet" /> 
		<include refid="fragmentoWhereGetMultiples" />
   	</select>
   	
   	
   	
   	<sql id="framentoSelectTCR0" >
		SELECT 
			*
		FROM VIE_CON_MOV_INC_TC10_TCR0 a
	</sql>
	
	 <select id="buscarPorIdSecuenciaTCR0" parameterType="CriterioBusquedaIncomingVisa" resultType="IncomingVisaTC10TCR0Det" statementType="PREPARED">		
		<include refid="framentoSelectTCR0" />
  		WHERE 
  		<if  test="idSecuenciaIncoming != null " >
			SECUENCIA_INCOMING = #{idSecuenciaIncoming}
		</if>
   	</select>
   	
   	<select id="buscarPorCriteriosTCR0Aggrid" parameterType="CriterioBusquedaIncomingVisaTC10"  resultType="IncomingVisaTC10TCR0" statementType="PREPARED">	
		<include refid="consultaPorCriteriosTCR0" /> 
		WHERE
		<include refid="fragmentoWhereGet" /> 
		<include refid="fragmentoWhereGetMultiples" />
			<if  test="filtroSecuenciaIncoming != null " >
			<bind name="pFiltroSecuenciaIncoming" value="'%' + filtroSecuenciaIncoming + '%'" />
				AND SECUENCIA_INCOMING LIKE #{pFiltroSecuenciaIncoming}
			</if>
			<if  test="filtroFechaProceso != null " >
			<bind name="pFiltroFechaProceso" value="'%' + filtroFechaProceso + '%'" />
				AND FECHA_PROCESO = #{pFiltroFechaProceso}
			</if>
			<if  test="filtroDestinationBin != null " >
			<bind name="pFiltroDestinationBin" value="'%' + filtroDestinationBin + '%'" />
				AND DESTINATION_BIN = #{pFiltroDestinationBin}
			</if>
			<if  test="filtroSourceBin != null " >
			<bind name="pFiltroSourceBin" value="'%' + filtroSourceBin + '%'" />
				AND SOURCE_BIN = #{pFiltroSourceBin}
			</if>
			<if  test="filtroReasonCode != null " >
			<bind name="pFiltroReasonCode" value="'%' + filtroReasonCode + '%'" />
				AND REASON_CODE = #{pFiltroReasonCode}
			</if>
			<if  test="filtroDestinationAmount != null " >
			<bind name="pfiltroDestinationAmount" value="'%' + filtroDestinationAmount + '%'" />
				AND DESTINATION_AMOUNT = #{pfiltroDestinationAmount}
			</if>
			<if  test="filtroSourceAmount != null " >
			<bind name="pFiltroSourceAmount" value="'%' + filtroSourceAmount + '%'" />
				AND SOURCE_AMOUNT = #{pFiltroSourceAmount}
			</if>
			<if  test="filtroSourceCurrencyCode != null " >
			<bind name="pFiltroSourceCurrencyCode" value="'%' + filtroSourceCurrencyCode + '%'" />
				AND SOURCE_CURRENCY_CODE = #{pFiltroSourceCurrencyCode}
			</if>
   	</select>
</mapper>