<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IIncomingIATASMapper">

	<!-- CONSULTA DEL  BULKFILE PARA LA GRILLA -->

	<sql id="consultaIncomingIATAS" >
		SELECT *
		FROM VIE_CON_INCOMING_IATAS a
	</sql>
	
	<sql id = "fragmentoWhere">
		<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		<if  test="fechaConsumoInicio != null and fechaConsumoFin != null">
			 AND a.FECHA_CONSUMO BETWEEN #{fechaConsumoInicio}  AND #{fechaConsumoFin}
		</if>
		<if  test="numeroTarjeta != null and numeroTarjeta != ''">
			 AND a.NUMERO_TARJETA = #{numeroTarjeta}
		</if>
	</sql>
	
	<sql id = "fragmentoFiltrosOrdenaciones">
		<if test = "filtroFechaProceso != null">
			AND FECHA_PROCESO = #{filtroFechaProceso}
		</if>
		<if test = "filtroFechaConsumo != null">
			AND FECHA_CONSUMO = #{filtroFechaConsumo}
		</if>
		<if  test="filtroIdIatas != null" >
			<bind name="pFiltroIdIatas" value="'%' + filtroIdIatas + '%'" />
			AND ID_IATAS LIKE #{pFiltroIdIatas}
		</if>
		<if  test="filtroNumeroTarjeta != null" >
			<bind name="pFiltroNumeroTarjeta" value="'%' + filtroNumeroTarjeta + '%'" />
			AND NUMERO_TARJETA LIKE #{pFiltroNumeroTarjeta}
		</if>
		<if  test="filtroCodigoAutorizacion != null" >
			<bind name="pFiltroCodigoAutorizacion" value="'%' + filtroCodigoAutorizacion + '%'" />
			AND CODIGO_AUTORIZACION LIKE #{pFiltroCodigoAutorizacion}
		</if>
		<if  test="filtroCodigoEstablecimiento != null" >
			<bind name="pFiltroCodigoEstablecimiento" value="'%' + filtroCodigoEstablecimiento + '%'" />
			AND CODIGO_ESTABLECIMIENTO LIKE #{pFiltroCodigoEstablecimiento}
		</if>
		<if  test="filtroTipoDocumento != null" >
			<bind name="pFiltroTipoDocumento" value="'%' + filtroTipoDocumento + '%'" />
			AND TIPO_DOCUMENTO LIKE #{pFiltroTipoDocumento}
		</if>
		<if  test="filtroNumeroDocumento != null" >
			<bind name="pFiltroNumeroDocumento" value="'%' + filtroNumeroDocumento + '%'" />
			AND NUMERO_DOCUMENTO LIKE #{pFiltroNumeroDocumento}
		</if>
		<if  test="filtroAutorizacionFee != null" >
			<bind name="pFiltroAutorizacionFee" value="'%' + filtroAutorizacionFee + '%'" />
			AND AUTORIZACION_FEE LIKE #{pFiltroAutorizacionFee}
		</if>
		<if  test="rangoImporteTransaccionMin != null and rangoImporteTransaccionMax != null" >
			AND IMPORTE_TRANSACCION BETWEEN #{rangoImporteTransaccionMin} AND #{rangoImporteTransaccionMax}
		</if>
		<if  test="rangoNumeroCuotasMin != null and rangonumeroCuotasMax != null" >
			AND NUMERO_CUOTAS BETWEEN #{rangoNumeroCuotasMin} AND #{rangonumeroCuotasMax}
		</if>
		<if  test="rangoNumeroMesesDiferidoMin != null and rangoNumeroMesesDiferidoMax != null" >
			AND NUMERO_MESES_DIFERIDO BETWEEN #{rangoNumeroMesesDiferidoMin} AND #{rangoNumeroMesesDiferidoMax}
		</if>
		<if  test="ordenFechaProceso != null" >
			ORDER BY
				FECHA_PROCESO  ${ordenFechaProceso}
		</if>
		<if  test="ordenFechaProceso != null" >
			ORDER BY
				FECHA_PROCESO  ${ordenFechaProceso}
		</if>
		<if  test="ordenFechaConsumo != null" >
			ORDER BY
				FECHA_CONSUMO  ${ordenFechaConsumo}
		</if>
		<if  test="ordenNumeroTarjeta != null" >
			ORDER BY
				NUMERO_TARJETA  ${ordenNumeroTarjeta}
		</if>
		<if  test="ordenCodigoAutorizacion != null" >
			ORDER BY
				CODIGO_AUTORIZACION  ${ordenCodigoAutorizacion}
		</if>
		<if  test="ordenCodigoEstablecimiento != null" >
			ORDER BY
				CODIGO_ESTABLECIMIENTO  ${ordenCodigoEstablecimiento}
		</if>
		<if  test="ordenImporteTransaccion != null" >
			ORDER BY
				IMPORTE_TRANSACCION  ${ordenImporteTransaccion}
		</if>
		<if  test="ordenNumeroCuotas != null" >
			ORDER BY
				NUMERO_CUOTAS  ${ordenNumeroCuotas}
		</if>
		<if  test="ordenNumeroMesesDiferido != null" >
			ORDER BY
				NUMERO_MESES_DIFERIDO  ${ordenNumeroMesesDiferido}
		</if>
		<if  test="ordenTipoDocumento != null" >
			ORDER BY
				TIPO_DOCUMENTO  ${ordenTipoDocumento}
		</if>
		<if  test="ordenNumeroDocumento != null" >
			ORDER BY
				NUMERO_DOCUMENTO  ${ordenNumeroDocumento}
		</if>
		<if  test="ordenAutorizacionFee != null" >
			ORDER BY
				AUTORIZACION_FEE  ${ordenAutorizacionFee}
		</if>
		<if  test="ordenIdIatas != null" >
			ORDER BY
				ID_IATAS  ${ordenIdIatas}
		</if>
	</sql>
	
	<select id="buscarPorCriterios" parameterType="CriterioBusquedaIncomingIATAS"  resultType="IncomingIATAS" statementType="PREPARED">	
		<include refid="consultaIncomingIATAS" />
		<where>
			<include refid="fragmentoWhere"/> 
			<include refid="fragmentoFiltrosOrdenaciones"/>
		</where>
   	</select>
  </mapper>