<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IIncomingVisaTC5Mapper">
			
	<sql id="consultaPorCriterios" >
		SELECT *
		FROM VIE_CON_MOV_INC_VISA_TC5 a
	</sql>
	
	<!-- Reutilizables -->	
	<sql id = "fragmentoWhereGet" >
		<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		<if  test="purchaseDateInicio != null and purchaseDateFin != null ">
			AND a.PURCHASE_DATE BETWEEN #{purchaseDateInicio}  AND #{purchaseDateFin}
		</if>
		<if  test="fechaIncomingInicio != null and fechaIncomingFin != null">
			AND a.PURCHASE_DATE BETWEEN #{fechaIncomingInicio}  AND #{fechaIncomingFin}
		</if>
		<if  test="idSecuenciaIncoming != null  and idSecuenciaIncoming != -1">
			AND a.ID_SECUENCIA_INCOMING = #{idSecuenciaIncoming}  
		</if>
		<if  test="accountsNumber != null and accountsNumber != '' and accountsNumber != -1">
			AND a.ACCOUNT_NUMBER = #{accountsNumber}  
		</if>
		<if  test="acquirerRefNumber != null and acquirerRefNumber != '' and acquirerRefNumber != '-1'">
			AND a.ACQUIRER_REF_NUMBER = #{acquirerRefNumber}  
		</if>
		<if  test="destinationAmount != null and destinationAmount != '' and destinationAmount != -1">
			AND a.DESTINATION_AMOUNT = #{destinationAmount}  
		</if>
		
		<if  test="merchantName != null and merchantName != '' and merchantName != '-1'">
			<bind name="pMerchantName" value="'%' + merchantName + '%'" />
			AND a.MERCHANT_NAME LIKE  #{pMerchantName}  
		</if>
		<if  test="authorizationCode != null and authorizationCode !='' and authorizationCode !='-1'">
			AND a.AUTHORIZATION_CODE = #{authorizationCode}  
		</if>
		<if  test="posTerminalCapability != null and posTerminalCapability !='' and posTerminalCapability !='-1'">
			AND a.POS_TERMINAL_CAPABILITY = #{posTerminalCapability}  
		</if>
	</sql>
	
	<sql id ="fragmentoWhereGetMultiples" >
		<if  test="entriesMode !=null and entriesMode.size()>0">
			AND a.POS_ENTRY_MODE IN 
				<foreach item="item" index="index" collection="entriesMode" open ="(" separator="," close=")">
					#{item}
				</foreach>
		</if>
		<if  test="idsLimitesPisos != null and idsLimitesPisos.size()>0"  >
			AND a.FLOOR_LIMIT_INDICATOR IN 
				<foreach item="item" index="index" collection="idsLimitesPisos" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="transactionsCode != null and transactionsCode.size()>0" >
			AND a.TRANSACTION_CODE IN 
				<foreach item="item" index="index" collection="transactionsCode" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="cardholdersIdMethod != null and cardholdersIdMethod.size()>0" >
			AND a.CARDHOLDER_ID_METHOD IN 
				<foreach item="item" index="index" collection="cardholdersIdMethod" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="idsCanales != null and idsCanales.size()>0" >
			AND a.ID_CANAL IN 
				<foreach item="item" index="index" collection="idsCanales" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="institucionesEmisoras != null and institucionesEmisoras.size()>0" >
			AND a.INSTITUCION_EMISORA IN 
				<foreach item="item" index="index" collection="institucionesEmisoras" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="institucionesReceptoras != null and institucionesReceptoras.size()>0" >
			AND a.INSTITUCION_RECEPTORA IN 
				<foreach item="item" index="index" collection="institucionesReceptoras" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="idsBines != null and idsBines.size()>0" >
			AND a.ID_BIN IN 
				<foreach item="item" index="index" collection="idsBines" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="merchantsCategoryCode != null and merchantsCategoryCode.size()>0" >
			AND a.MERCHANT_CATEGORY_CODE IN 
				<foreach item="item" index="index" collection="merchantsCategoryCode" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="merchantsCountryCode != null and merchantsCountryCode.size()>0" >
			AND a.MERCHANT_COUNTRY_CODE IN 
				<foreach item="item" index="index" collection="merchantsCountryCode" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="destinationCurrencyCode != null and destinationCurrencyCode.size()>0" >
			AND a.DEST_CURRENCY_CODE IN 
				<foreach item="item" index="index" collection="destinationCurrencyCode" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
	</sql>
	
	<sql id= "fragmentoFiltrosOrdenaciones" >
		<if test="filtroFechaProceso != null ">
			AND FECHA_PROCESO = #{filtroFechaProceso}
		</if>
		<if test="filtroIdSecuenciaIncoming != null ">
			<bind name="pFiltroIdSecuenciaIncoming" value="'%' + filtroIdSecuenciaIncoming + '%'"/>
			AND ID_SECUENCIA_INCOMING LIKE #{pFiltroIdSecuenciaIncoming}
		</if>
		<if  test="filtroTransactionCode != null " >
			<bind name="pFiltroTransactionCode" value="'%' + filtroTransactionCode + '%'" />
			AND CONCAT(TRANSACTION_CODE, DESC_TRANSACTION_CODE) LIKE #{pFiltroTransactionCode}
		</if>
		<if  test="filtroIdProducto != null " >
			<bind name="pFiltroIdProducto" value="'%' + filtroIdProducto + '%'" />
			AND ID_PRODUCTO LIKE #{pFiltroIdProducto}
		</if>
		<if  test="filtroAccountNumber != null " >
			<bind name="pFiltroAccountNumber" value="'%' + filtroAccountNumber + '%'" />
			AND ACCOUNT_NUMBER LIKE #{pFiltroAccountNumber}
		</if>
		<if  test="filtroAcquirerRefNumber != null " >
			<bind name="pFiltroAcquirerRefNumber" value="'%' + filtroAcquirerRefNumber + '%'" />
			AND ACQUIRER_REF_NUMBER LIKE #{pFiltroAcquirerRefNumber}
		</if>
		<if test="filtroFechaIncoming != null ">
			AND FECHA_INCOMING = #{filtroFechaIncoming}
		</if>
		<if test="filtroPurchaseDate != null ">
			AND PURCHASE_DATE = #{filtroPurchaseDate}
		</if>
		<if  test="filtroSourceCurrencyCode != null " >
			<bind name="pFiltroSourceCurrencyCode" value="'%' + filtroSourceCurrencyCode + '%'" />
			AND CONCAT(SOURCE_CURRENCY_CODE, DESC_SOURCE_CURRENCY_CODE) LIKE #{pFiltroSourceCurrencyCode}
		</if>
		<if  test="filtroSourceAmount != null " >
			<bind name="pFiltroSourceAmount" value="'%'+filtroSourceAmount+'%'" />
			AND SOURCE_AMOUNT LIKE #{pFiltroSourceAmount}
		</if>
		<if  test="filtroDestCurrencyCode != null " >
			<bind name="pFiltroDestCurrencyCode" value="'%' + filtroDestCurrencyCode + '%'" />
			AND CONCAT(DEST_CURRENCY_CODE, DESC_DEST_CURRENCY_CODE) LIKE #{pFiltroDestCurrencyCode}
		</if>
		<if  test="filtroDestinationAmount != null " >
			<bind name="pFiltroDestinationAmount" value="'%' + filtroDestinationAmount + '%'" />
			AND DESTINATION_AMOUNT LIKE #{pFiltroDestinationAmount}
		</if>
		<if  test="filtroMerchantName != null " >
			<bind name="pFiltroMerchantName" value="'%' + filtroMerchantName + '%'" />
			AND MERCHANT_NAME LIKE #{pFiltroMerchantName}
		</if>
		<if  test="filtroMerchantCity != null " >
			<bind name="pFiltroMerchantCity" value="'%' + filtroMerchantCity + '%'" />
			AND MERCHANT_CITY LIKE #{pFiltroMerchantCity}
		</if>
		<if  test="filtroMerchantCountryCode != null " >
			<bind name="pFiltroMerchantCountryCode" value="'%' + filtroMerchantCountryCode + '%'" />
			AND CONCAT(MERCHANT_COUNTRY_CODE, DESC_MERCHANT_COUNTRY_CODE) LIKE #{pFiltroMerchantCountryCode}
		</if>
		<if  test="filtroMerchantCategoryCode != null " >
			<bind name="pFiltroMerchantCategoryCode" value="'%' + filtroMerchantCategoryCode + '%'" />
			AND CONCAT(MERCHANT_CATEGORY_CODE, DESC_MERCHANT_CATEGORY_CODE) LIKE #{pFiltroMerchantCategoryCode}
		</if>
		<if  test="filtroInstitucionEmisora != null " >
			<bind name="pFiltroInstitucionEmisora" value="'%' + filtroInstitucionEmisora + '%'" />
			AND CONCAT(INSTITUCION_EMISORA, DESC_INSTITUCION_EMISORA) LIKE #{pFiltroInstitucionEmisora}
		</if>
		<if  test="filtroInstitucionReceptora != null " >
			<bind name="pFiltroInstitucionReceptora" value="'%' + filtroInstitucionReceptora + '%'" />
			AND CONCAT(INSTITUCION_RECEPTORA, DESC_INSTITUCION_RECEPTORA) LIKE #{pFiltroInstitucionReceptora}
		</if>
		<if  test="filtroIdCanal != null " >
			<bind name="pFiltroIdCanal" value="'%' + filtroIdCanal + '%'" />
			AND CONCAT(ID_CANAL, DESC_CANAL) LIKE #{pFiltroIdCanal}
		</if>
		<if  test="ordenFechaProceso != null " >
			ORDER BY
				FECHA_PROCESO ${ordenFechaProceso}
		</if>
		<if  test="ordenIdSecuenciaIncoming != null " >
			ORDER BY
				ID_SECUENCIA_INCOMING ${ordenIdSecuenciaIncoming}
		</if>
		<if  test="ordenTransactionCode != null " >
			ORDER BY
				TRANSACTION_CODE ${ordenTransactionCode}
		</if>
		<if  test="ordenIdProducto != null " >
			ORDER BY
				ID_PRODUCTO ${ordenIdProducto}
		</if>
		<if  test="ordenAccountNumber != null " >
			ORDER BY
				 ACCOUNT_NUMBER ${ordenAccountNumber}
		</if>
		<if  test="ordenAcquirerRefNumber != null " >
			ORDER BY
				 ACQUIRER_REF_NUMBER ${ordenAcquirerRefNumber}
		</if>
		<if  test="ordenFechaIncoming != null " >
			ORDER BY
				 FECHA_INCOMING ${ordenFechaIncoming}
		</if>
		<if  test="ordenPurchaseDate != null " >
			ORDER BY
				 PURCHASE_DATE ${ordenPurchaseDate}
		</if>
		<if  test="ordenSourceCurrencyCode != null " >
			ORDER BY
				 SOURCE_CURRENCY_CODE ${ordenSourceCurrencyCode}
		</if>
		<if  test="ordenSourceAmount != null " >
			ORDER BY
				 SOURCE_AMOUNT ${ordenSourceAmount}
		</if>
		<if  test="ordenDestCurrencyCode != null " >
			ORDER BY
				 DEST_CURRENCY_CODE ${ordenDestCurrencyCode}
		</if>
		<if  test="ordenDestinationAmount != null " >
			ORDER BY
				 DESTINATION_AMOUNT ${ordenDestinationAmount}
		</if>
		<if  test="ordenMerchantName != null " >
			ORDER BY
				 MERCHANT_NAME ${ordenMerchantName}
		</if>
		<if  test="ordenMerchantCity != null " >
			ORDER BY
				 MERCHANT_CITY ${ordenMerchantCity}
		</if>
		<if  test="ordenMerchantCountryCode != null " >
			ORDER BY
				 MERCHANT_COUNTRY_CODE ${ordenMerchantCountryCode}
		</if>
		<if  test="ordenMerchantCategoryCode != null " >
			ORDER BY
				 MERCHANT_CATEGORY_CODE ${ordenMerchantCategoryCode}
		</if>
		<if  test="ordenInstitucionEmisora != null " >
			ORDER BY
				 INSTITUCION_EMISORA ${ordenInstitucionEmisora}
		</if>
		<if  test="ordenInstitucionReceptora != null " >
			ORDER BY
				 INSTITUCION_RECEPTORA ${ordenInstitucionReceptora}
		</if>
		<if  test="ordenIdCanal != null " >
			ORDER BY
				 ID_CANAL ${ordenIdCanal}
		</if>
	</sql>
	<!-- Fin Reutilizables -->
	
	<select id="buscarPorCriteriosTC5" parameterType="CriterioBusquedaIncomingVisaTC5"  resultType="IncomingVisaTC5" statementType="PREPARED">	
		<include refid="consultaPorCriterios" />
		<where>
			<include refid="fragmentoWhereGet" /> 
			<include refid="fragmentoWhereGetMultiples" />
			<include refid="fragmentoFiltrosOrdenaciones" />
		</where>
   	</select>
   	
	 <select id="buscarPorIdSecuenciaTC5TCR0" parameterType="CriterioBusquedaIncomingVisa" resultType="IncomingVisaTC5TCR0" statementType="PREPARED">		
		SELECT 
			*
		FROM VIE_CON_MOV_INC_VISA_TC5_TCR0 a
		<where>
			<if  test="idSecuenciaIncoming != null and fechaProceso != null " >
				ID_SECUENCIA_INCOMING = #{idSecuenciaIncoming} AND FECHA_PROCESO = #{fechaProceso}
			</if>
		</where>
   	</select>
	
	 <select id="buscarPorIdSecuenciaTC5TCR1" parameterType="CriterioBusquedaIncomingVisa" resultType="IncomingVisaTC5TCR1" statementType="PREPARED">			
		SELECT 
			*
		FROM VIE_CON_MOV_INC_VISA_TC5_TCR1 a
  		<where>
	  		<if  test="idSecuenciaIncoming != null and fechaProceso !=null " >
				ID_SECUENCIA_INCOMING = #{idSecuenciaIncoming} AND FECHA_PROCESO = #{fechaProceso}
			</if>
  		</where>
   	</select>
   	
   	 <select id="buscarPorIdSecuenciaTC5TCR3" parameterType="CriterioBusquedaIncomingVisa" resultType="IncomingVisaTC5TCR3" statementType="PREPARED">	
		SELECT 
			*
		FROM VIE_CON_MOV_INC_VISA_TC5_TCR3 a
  		<where>
	  		<if  test="idSecuenciaIncoming != null and fechaProceso != null " >
				ID_SECUENCIA_INCOMING = #{idSecuenciaIncoming} AND FECHA_PROCESO = #{fechaProceso}
			</if>
  		</where>
   	</select>
   	
   	 <select id="buscarPorIdSecuenciaTC5TCR4" parameterType="CriterioBusquedaIncomingVisa" resultType="IncomingVisaTC5TCR4" statementType="PREPARED">		
		SELECT 
			*
		FROM VIE_CON_MOV_INC_VISA_TC5_TCR4 a	
  		<where>
	  		<if  test="idSecuenciaIncoming != null and fechaProceso !=null " >
				ID_SECUENCIA_INCOMING = #{idSecuenciaIncoming} AND FECHA_PROCESO = #{fechaProceso}
			</if>
  		</where>
   	</select>
   	
   	 <select id="buscarPorIdSecuenciaTC5TCR5" parameterType="CriterioBusquedaIncomingVisa" resultType="IncomingVisaTC5TCR5" statementType="PREPARED">		
		SELECT 
			*
		FROM VIE_CON_MOV_INC_VISA_TC5_TCR5 a	
  		<where>
	  		<if  test="idSecuenciaIncoming != null and fechaProceso != null " >
				ID_SECUENCIA_INCOMING = #{idSecuenciaIncoming} AND FECHA_PROCESO = #{fechaProceso}
			</if>
  		</where>	
   	</select>
   
</mapper>
