<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IIncomingVisaTC5Mapper">
			
	<sql id="consultaPorCriterios" >
		SELECT *
		FROM VIE_CON_MOV_INC_VISA_TC5_TCR0 a
	</sql>
	
	<sql id = "fragmentoWhereGet" >
		<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		<if  test="purchaseDateInicio != null and purchaseDateInicio !='' and purchaseDateFin != null and purchaseDateFin !='' ">
			AND a.PURCHASE_DATE BETWEEN #{purchaseDateInicio}  AND #{purchaseDateFin}
		</if>
		<if  test="fechaIncomingInicio != null and fechaIncomingInicio !='' and fechaIncomingFin != null and fechaIncomingFin !='' ">
			AND a.PURCHASE_DATE BETWEEN #{fechaIncomingInicio}  AND #{fechaIncomingFin}
		</if>
		<if  test="idSecuenciaIncoming != null and idSecuenciaIncoming != '' and idSecuenciaIncoming != -1">
			AND a.ID_SECUENCIA_INCOMING = #{idSecuenciaIncoming}  
		</if>
		<if  test="accountsNumber != null and accountsNumber != '' and accountsNumber != -1">
			AND a.ACCOUNT_NUMBER = #{accountsNumber}  
		</if>
		<if  test="acquirerRefNumber != null and acquirerRefNumber != '' and acquirerRefNumber != '-1'">
			AND a.ACQUIRER_REF_NUMBER = #{acquirerRefNumber}  
		</if>
		<if  test="destinationAmount != null and destinationAmount != '' and destinationAmount != -1">
			AND a.DESTINATION_AMOUNT = #{destinationAmount}  
		</if>
		<if  test="destinationCurrencyCode != null and destinationCurrencyCode != '' and destinationCurrencyCode != -1">
			AND a.DEST_CURRENCY_CODE = #{destinationCurrencyCode}  
		</if>
		<if  test="merchantName != null and merchantName != '' and merchantName != '-1'">
			AND a.MERCHANT_NAME = #{merchantName}  
		</if>
		<if  test="authorizationCode != null and authorizationCode !='' and authorizationCode !='-1'">
			AND a.AUTHORIZATION_CODE = #{authorizationCode}  
		</if>
		<if  test="posTerminalCapability != null and posTerminalCapability !='' and posTerminalCapability !='-1'">
			AND a.POS_TERMINAL_CAPABILITY = #{posTerminalCapability}  
		</if>
	</sql>
	
	<sql id ="fragmentoWhereGetMultiples" >
		<if  test="entriesMode !=null and entriesMode.size()>0">
			AND a.ENTRY_MODE IN 
				<foreach item="item" index="index" collection="entriesMode" open ="(" separator="," close=")">
					#{item}
				</foreach>
		</if>
		<if  test="idsLimitesPisos != null and idsLimitesPisos.size()>0"  >
			AND a.FLOOR_LIMIT_INDICATOR IN 
				<foreach item="item" index="index" collection="idsLimitesPisos" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="transactionsCode != null and transactionsCode.size()>0" >
			AND a.TRANSACTION_CODE IN 
				<foreach item="item" index="index" collection="transactionsCode" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="cardholdersIdMethod != null and cardholdersIdMethod.size()>0" >
			AND a.CARDHOLDER_ID_METHOD IN 
				<foreach item="item" index="index" collection="cardholdersIdMethod" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="idsCanales != null and idsCanales.size()>0" >
			AND a.ID_CANAL IN 
				<foreach item="item" index="index" collection="idsCanales" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="institucionesEmisoras != null and institucionesEmisoras.size()>0" >
			AND a.INSTITUCION_EMISORA IN 
				<foreach item="item" index="index" collection="institucionesEmisoras" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="institucionesReceptoras != null and institucionesReceptoras.size()>0" >
			AND a.INSTITUCION_RECEPTORA IN 
				<foreach item="item" index="index" collection="institucionesReceptoras" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="idsBines != null and idsBines.size()>0" >
			AND a.ID_BIN IN 
				<foreach item="item" index="index" collection="idsBines" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="merchantsCategoryCode != null and merchantsCategoryCode.size()>0" >
			AND a.MERCHANT_CATEGORY_CODE IN 
				<foreach item="item" index="index" collection="merchantsCategoryCode" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
		<if  test="merchantsCountryCode != null and merchantsCountryCode.size()>0" >
			AND a.MERCHANT_COUNTRY_CODE IN 
				<foreach item="item" index="index" collection="merchantsCategoryCode" open ="(" separator=","  close=")">
					#{item}
				</foreach>
		</if>
	</sql>
	
	
	<select id="buscarPorCriteriosTC5TCR0" parameterType="CriterioBusquedaIncomingVisaTC5"  resultType="IncomingVisaTC5TCR0" statementType="PREPARED">	
		<include refid="consultaPorCriterios" />
			WHERE
		<include refid="fragmentoWhereGet" /> 
		<include refid="fragmentoWhereGetMultiples" />
   	</select>
   	
   	
	 <select id="buscarPorIdSecuenciaTC5TCR0" parameterType="CriterioBusquedaIncomingVisa" resultType="IncomingVisaTC5TCR0" statementType="PREPARED">		
		SELECT 
			*
		FROM VIE_CON_MOV_INC_VISA_TC5_TCR0 a
  		WHERE 
  		<if  test="idSecuenciaIncoming != null and fechaProceso != '' " >
			ID_SECUENCIA_INCOMING = #{idSecuenciaIncoming} AND FECHA_PROCESO = #{fechaProceso}
		</if>
   	</select>
	
	 <select id="buscarPorIdSecuenciaTC5TCR1" parameterType="CriterioBusquedaIncomingVisa" resultType="IncomingVisaTC5TCR1" statementType="PREPARED">			
		SELECT 
			*
		FROM VIE_CON_MOV_INC_VISA_TC5_TCR1 a
  		WHERE 
  		<if  test="idSecuenciaIncoming != null and fechaProceso != '' " >
			ID_SECUENCIA_INCOMING = #{idSecuenciaIncoming} AND FECHA_PROCESO = #{fechaProceso}
		</if>
   	</select>
   	
   	 <select id="buscarPorIdSecuenciaTC5TCR3" parameterType="CriterioBusquedaIncomingVisa" resultType="IncomingVisaTC5TCR3" statementType="PREPARED">	
		SELECT 
			*
		FROM VIE_CON_MOV_INC_VISA_TC5_TCR3 a
  		WHERE 
  		<if  test="idSecuenciaIncoming != null and fechaProceso != '' " >
			ID_SECUENCIA_INCOMING = #{idSecuenciaIncoming} AND FECHA_PROCESO = #{fechaProceso}
		</if>
   	</select>
   	
   	 <select id="buscarPorIdSecuenciaTC5TCR4" parameterType="CriterioBusquedaIncomingVisa" resultType="IncomingVisaTC5TCR4" statementType="PREPARED">		
		SELECT 
			*
		FROM VIE_CON_MOV_INC_VISA_TC5_TCR4 a	
  		WHERE 
  		<if  test="idSecuenciaIncoming != null and fechaProceso != '' " >
			ID_SECUENCIA_INCOMING = #{idSecuenciaIncoming} AND FECHA_PROCESO = #{fechaProceso}
		</if>		
   	</select>
   	
   	 <select id="buscarPorIdSecuenciaTC5TCR5" parameterType="CriterioBusquedaIncomingVisa" resultType="IncomingVisaTC5TCR5" statementType="PREPARED">		
		SELECT 
			*
		FROM VIE_CON_MOV_INC_VISA_TC5_TCR5 a	
  		WHERE 
  		<if  test="idSecuenciaIncoming != null and fechaProceso != '' " >
			ID_SECUENCIA_INCOMING = #{idSecuenciaIncoming} AND FECHA_PROCESO = #{fechaProceso}
		</if>
   	</select>
   
</mapper>
