<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="ob.unibanca.sicf.consultasgenerales.mapper.IIpmMcMapper">

	<!-- CONSULTA DEL IPM PARA LA GRILLA -->
	<sql id="consultaIpmMc">
		SELECT *
		FROM VIE_CON_IPM_MC a
	</sql>

	<sql id="fragmentoWhere">
		<if test="fechaProcesoInicio != null and fechaProcesoFin != null">
			a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio} AND #{fechaProcesoFin}
		</if>
		<if test="dateLocalTxnInicio != null and dateLocalTxnFin != null">
			AND a.DATE_LOCAL_TXN BETWEEN #{dateLocalTxnInicio} AND #{dateLocalTxnFin}
		</if>
		<if test="pan != null and pan != ''">
			AND a.PAN = #{pan}
		</if>
		<if test="currencyCodeCardholder != null and currencyCodeCardholder != ''">
			AND a.CURRENCY_CODE_CARDHOLDER = #{currencyCodeCardholder}
		</if>
	</sql>

	<sql id="fragmentoWhereMultiples">
		<if test="typeRecord !=null and typeRecord.size()>0">
			AND a.TYPE_RECORD IN
			<foreach item="item" index="index" collection="typeRecord" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="cardDataInputCapability !=null and cardDataInputCapability.size()>0">
			AND a.CARD_DATA_INPUT_CAPABILITY IN
			<foreach item="item" index="index" collection="cardDataInputCapability" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="cardDataInputMode !=null and cardDataInputMode.size()>0">
			AND a.CARD_DATA_INPUT_MODE IN
			<foreach item="item" index="index" collection="cardDataInputMode" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="cardhAuthenticationMethod !=null and cardhAuthenticationMethod.size()>0">
			AND a.CARDH_AUTHENTICATION_METHOD IN
			<foreach item="item" index="index" collection="cardhAuthenticationMethod" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="idCanal !=null and idCanal.size()>0">
			AND a.ID_CANAL IN
			<foreach item="item" index="index" collection="idCanal" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="idInstitucionEmisora !=null and idInstitucionEmisora.size()>0">
			AND a.ID_INSTITUCION_EMISORA IN
			<foreach item="item" index="index" collection="idInstitucionEmisora" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="idProceso !=null and idProceso.size()>0">
			AND a.ID_PROCESO IN
			<foreach item="item" index="index" collection="idProceso" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="idBin !=null and idBin.size()>0">
			AND a.ID_BIN IN
			<foreach item="item" index="index" collection="idBin" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>

	<sql id="fragmentoFiltrosOrdenaciones">
		<if test="filtroTramsKey != null">
			<bind name="pFiltroTramsKey" value="'%' + filtroTramsKey + '%'" />
			AND TRAMS_KEY LIKE #{pFiltroTramsKey}
		</if>
		<if test="filtroFechaProceso != null">
			AND FECHA_PROCESO = #{filtroFechaProceso}
		</if>
		<if test="filtroPan != null">
			<bind name="pFiltroPan" value="'%' + filtroPan + '%'" />
			AND PAN LIKE #{pFiltroPan}
		</if>
		<if test="filtroTypeRecord != null">
			<bind name="pFiltroTypeRecord" value="'%' + filtroTypeRecord + '%'" />
			AND CONCAT(TYPE_RECORD, UPPER(DESC_TYPE_RECORD)) LIKE UPPER(#{pFiltroTypeRecord})
		</if>
		<if test="rangoAmountTxnMin != null and rangoAmountTxnMax != null">
			AND AMOUNT_TXN BETWEEN #{rangoAmountTxnMin} AND #{rangoAmountTxnMax}
		</if>
		<if test="rangoAmountCardholderMin != null and rangoAmountCardholderMax != null">
			AND AMOUNT_CARDHOLDER BETWEEN #{rangoAmountCardholderMin} AND #{rangoAmountCardholderMax}
		</if>
		<if test="filtroDateLocalTxn != null">
			AND DATE_LOCAL_TXN = #{filtroDateLocalTxn}
		</if>
		<if test="filtroTimeLocalTxn != null">
			<bind name="pFiltroTimeLocalTxn" value="'%' + filtroTimeLocalTxn + '%'" />
			AND TIME_LOCAL_TXN LIKE #{pFiltroTimeLocalTxn}
		</if>
		<if test="filtroCardDataInputCapability != null">
			<bind name="pFiltroCardDataInputCapability" value="'%' + filtroCardDataInputCapability + '%'" />
			AND CONCAT(CARD_DATA_INPUT_CAPABILITY, UPPER(DESC_CARD_DATA_INPUT_CAPABILITY)) LIKE UPPER(#{pFiltroCardDataInputCapability})
		</if>
		<if test="filtroCardDataInputMode != null">
			<bind name="pFiltroCardDataInputMode" value="'%' + filtroCardDataInputMode + '%'" />
			AND CONCAT(CARD_DATA_INPUT_MODE, UPPER(DESC_CARD_DATA_INPUT_MODE)) LIKE UPPER(#{pFiltroCardDataInputMode})
		</if>
		<if test="filtroCardhAuthenticationMethod != null">
			<bind name="pFiltroCardhAuthenticationMethod" value="'%' + filtroCardhAuthenticationMethod + '%'" />
			AND CONCAT(CARDH_AUTHENTICATION_METHOD, UPPER(DESC_CARDH_AUTHENTICATION_METHOD)) LIKE UPPER(#{pFiltroCardhAuthenticationMethod})
		</if>
		<if test="filtroCardAcceptorBusinessCode != null">
			<bind name="pFiltroCardAcceptorBusinessCode" value="'%' + filtroCardAcceptorBusinessCode + '%'" />
			AND CONCAT(CARD_ACCEPTOR_BUSINESS_CODE, UPPER(DESC_CARD_ACCEPTOR_BUSINESS_CODE)) LIKE UPPER(#{pFiltroCardAcceptorBusinessCode})
		</if>
		<if test="filtroAcquirerReferenceData != null">
			<bind name="pFiltroAcquirerReferenceData" value="'%' + filtroAcquirerReferenceData + '%'" />
			AND ACQUIRER_REFERENCE_DATA LIKE #{pFiltroAcquirerReferenceData}
		</if>
		<if test="filtroApprovalCode != null">
			<bind name="pFiltroApprovalCode" value="'%' + filtroApprovalCode + '%'" />
			AND APPROVAL_CODE LIKE #{pFiltroApprovalCode}
		</if>
		<if test="filtroCardAcceptorName != null">
			<bind name="pFiltroCardAcceptorName" value="'%' + filtroCardAcceptorName + '%'" />
			AND CARD_ACCEPTOR_NAME LIKE #{pFiltroCardAcceptorName}
		</if>
		<if test="filtroCardAcceptorCountrycode != null">
			<bind name="pFiltroCardAcceptorCountrycode" value="'%' + filtroCardAcceptorCountrycode + '%'" />
			AND CONCAT(CARD_ACCEPTOR_COUNTRYCODE, UPPER(DESC_CARD_ACCEPTOR_COUNTRYCODE)) LIKE UPPER(#{pFiltroCardAcceptorCountrycode})
		</if>
		<if test="filtroCurrencyCodeTransaction != null">
			<bind name="pFiltroCurrencyCodeTransaction" value="'%' + filtroCurrencyCodeTransaction + '%'" />
			AND CONCAT(CURRENCY_CODE_TRANSACTION, UPPER(DESC_CURRENCY_CODE_TRANSACTION)) LIKE UPPER(#{pFiltroCurrencyCodeTransaction})
		</if>
		<if test="filtroCurrencyCodeCardholder != null">
			<bind name="pFiltroCurrencyCodeCardholder" value="'%' + filtroCurrencyCodeCardholder + '%'" />
			AND CONCAT(CURRENCY_CODE_CARDHOLDER, UPPER(DESC_CURRENCY_CODE_CARDHOLDER)) LIKE UPPER(#{pFiltroCurrencyCodeCardholder})
		</if>
		<if test="filtroSettlDate != null">
			AND SETTL_DATE = #{filtroSettlDate}
		</if>
		<if test="filtroIdTransaccion != null">
			<bind name="pFiltroIdTransaccion" value="'%' + filtroIdTransaccion + '%'" />
			AND CONCAT(ID_TRANSACCION, UPPER(DESC_ID_TRANSACCION)) LIKE UPPER(#{pFiltroIdTransaccion})
		</if>
		<if test="filtroIdProducto != null">
			<bind name="pFiltroIdProducto" value="'%' + filtroIdProducto + '%'" />
			AND CONCAT(ID_PRODUCTO, UPPER(DESC_PRODUCTO)) LIKE UPPER(#{pFiltroIdProducto})
		</if>
		<if test="filtroIdCanal != null">
			<bind name="pFiltroIdCanal" value="'%' + filtroIdCanal + '%'" />
			AND CONCAT(ID_CANAL, UPPER(DESC_CANAL)) LIKE UPPER(#{pFiltroIdCanal})
		</if>
		<if test="filtroIdInstitucionEmisora != null">
			<bind name="pFiltroIdInstitucionEmisora" value="'%' + filtroIdInstitucionEmisora + '%'" />
			AND CONCAT(ID_INSTITUCION_EMISORA, UPPER(DESC_INSTITUCION_EMISORA)) LIKE UPPER(#{pFiltroIdInstitucionEmisora})
		</if>
		<if test="filtroIdInstitucionReceptora != null">
			<bind name="pFiltroIdInstitucionReceptora" value="'%' + filtroIdInstitucionReceptora + '%'" />
			AND CONCAT(ID_INSTITUCION_RECEPTORA, UPPER(DESC_INSTITUCION_RECEPTORA)) LIKE UPPER(#{pFiltroIdInstitucionReceptora})
		</if>
		<if test="filtroIdProceso != null">
			<bind name="pFiltroIdProceso" value="'%' + filtroIdProceso + '%'" />
			AND CONCAT(ID_PROCESO, UPPER(DESC_PROCESO)) LIKE UPPER(#{pFiltroIdProceso})
		</if>
		<if test="filtroIdBin != null">
			<bind name="pFiltroIdBin" value="'%' + filtroIdBin + '%'" />
			AND CONCAT(ID_BIN, UPPER(DESC_BIN)) LIKE UPPER(#{pFiltroIdBin})
		</if>
		
		<if test="ordenTramsKey != null">
			ORDER BY
			TRAMS_KEY ${ordenTramsKey}
		</if>
		<if test="ordenFechaProceso != null">
			ORDER BY
			FECHA_PROCESO ${ordenFechaProceso}
		</if>
		<if test="ordenPan != null">
			ORDER BY
			PAN ${ordenPan}
		</if>
		<if test="ordenTypeRecord != null">
			ORDER BY
			TYPE_RECORD ${ordenTypeRecord}
		</if>
		<if test="ordenAmountTxn != null">
			ORDER BY
			AMOUNT_TXN ${ordenAmountTxn}
		</if>
		<if test="ordenAmountCardholder != null">
			ORDER BY
			AMOUNT_CARDHOLDER ${ordenAmountCardholder}
		</if>
		<if test="ordenDateLocalTxn != null">
			ORDER BY
			DATE_LOCAL_TXN ${ordenDateLocalTxn}
		</if>
		<if test="ordenTimeLocalTxn != null">
			ORDER BY
			TIME_LOCAL_TXN ${ordenTimeLocalTxn}
		</if>
		<if test="ordenCardDataInputCapability != null">
			ORDER BY
			CARD_DATA_INPUT_CAPABILITY ${ordenCardDataInputCapability}
		</if>
		<if test="ordenCardDataInputMode != null">
			ORDER BY
			CARD_DATA_INPUT_MODE ${ordenCardDataInputMode}
		</if>
		<if test="ordenCardhAuthenticationMethod != null">
			ORDER BY
			CARDH_AUTHENTICATION_METHOD ${ordenCardhAuthenticationMethod}
		</if>
		<if test="ordenCardAcceptorBusinessCode != null">
			ORDER BY
			CARD_ACCEPTOR_BUSINESS_CODE ${ordenCardAcceptorBusinessCode}
		</if>
		<if test="ordenAcquirerReferenceData != null">
			ORDER BY
			ACQUIRER_REFERENCE_DATA ${ordenAcquirerReferenceData}
		</if>
		<if test="ordenApprovalCode != null">
			ORDER BY
			APPROVAL_CODE ${ordenApprovalCode}
		</if>
		<if test="ordenCardAcceptorName != null">
			ORDER BY
			CARD_ACCEPTOR_NAME ${ordenCardAcceptorName}
		</if>
		<if test="ordenCardAcceptorCountrycode != null">
			ORDER BY
			CARD_ACCEPTOR_COUNTRYCODE ${ordenCardAcceptorCountrycode}
		</if>
		<if test="ordenCurrencyCodeTransaction != null">
			ORDER BY
			CURRENCY_CODE_TRANSACTION ${ordenCurrencyCodeTransaction}
		</if>
		<if test="ordenCurrencyCodeCardholder != null">
			ORDER BY
			CURRENCY_CODE_CARDHOLDER ${ordenCurrencyCodeCardholder}
		</if>
		<if test="ordenSettlDate != null">
			ORDER BY
			SETTL_DATE ${ordenSettlDate}
		</if>
		<if test="ordenIdTransaccion != null">
			ORDER BY
			ID_TRANSACCION ${ordenIdTransaccion}
		</if>
		<if test="ordenIdProducto != null">
			ORDER BY
			ID_PRODUCTO ${ordenIdProducto}
		</if>
		<if test="ordenIdCanal != null">
			ORDER BY
			ID_CANAL ${ordenIdCanal}
		</if>
		<if test="ordenIdInstitucionEmisora != null">
			ORDER BY
			ID_INSTITUCION_EMISORA ${ordenIdInstitucionEmisora}
		</if>
		<if test="ordenIdInstitucionReceptora != null">
			ORDER BY
			ID_INSTITUCION_RECEPTORA ${ordenIdInstitucionReceptora}
		</if>
		<if test="ordenIdProceso != null">
			ORDER BY
			ID_PROCESO ${ordenIdProceso}
		</if>
		<if test="ordenIdBin != null">
			ORDER BY
			ID_BIN ${ordenIdBin}
		</if>
	</sql>

	<select id="buscarPorCriterios"
		parameterType="CriterioBusquedaIpmMc" resultType="IpmMc"
		statementType="PREPARED">
		<include refid="consultaIpmMc" />
		<where>
			<include refid="fragmentoWhere" />
			<include refid="fragmentoWhereMultiples" />
			<include refid="fragmentoFiltrosOrdenaciones" />
		</where>
	</select>

	<!-- CONSULTA DEL IPM DETALLE -->
	<sql id="consultaIpmMcDetalle">
		SELECT *
		FROM VIE_CON_IPM_MC_DET a
	</sql>

	<sql id="fragmentoWhereDetalle">
		<if test="dateLocalTxn != null and tramsKey != null and pan != null">
			a.DATE_LOCAL_TXN = #{dateLocalTxn} AND a.TRAMS_KEY = #{tramsKey} AND a.PAN = #{pan}
		</if>
	</sql>

	<select id="buscarDetalle" parameterType="CriterioBusquedaIpmMc"
		resultType="IpmMcDetalle" statementType="PREPARED">
		<include refid="consultaIpmMcDetalle" />
		<where>
			<include refid="fragmentoWhereDetalle" />
		</where>
	</select>

</mapper>