<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="ob.unibanca.sicf.consultasgenerales.mapper.IIrregularMapper">

	<!-- CONSULTA DEL IRREGULAR PARA LA GRILLA -->
	<sql id="consultaIrregular">
		SELECT *
		FROM VIE_CON_MOV_IRREGULAR a
	</sql>


	<select id="buscarPorCriteriosIrregulares">
		<include refid="consultaIrregular" />
	</select>
	
	<sql id = "filtroSecuencia">
		
		<if  test="filtroSecuencia != null " >
			<bind name="pFiltroSecuencia" value="'%' + filtroSecuencia + '%'" />
			AND SECUENCIA LIKE #{pFiltroSecuencia}
		</if>
		<if  test="filtroIdTipoIrregular != null " >
			<bind name="pFiltroIdTipoIrregular" value="'%' + filtroIdTipoIrregular + '%'" />
			AND CONCAT(ID_TIPO_IRREGULAR, UPPER(DESC_TIPO_IRREGULAR)) LIKE UPPER(#{pFiltroIdTipoIrregular})
		</if>
		<if  test="filtroIdMembresia != null " >
			<bind name="pFiltroIdMembresia" value="'%' + filtroIdMembresia + '%'" />
			AND CONCAT(ID_MEMBRESIA, UPPER(DESC_MEMBRESIA)) LIKE UPPER(#{pFiltroIdMembresia})
		</if>
		<if  test="filtroIdOrigen != null " >
			<bind name="pFiltroIdOrigen" value="'%' + filtroIdOrigen + '%'" />
			AND CONCAT(ID_ORIGEN, UPPER(DESC_ORIGEN)) LIKE UPPER(#{pFiltroIdOrigen})
		</if>
		<if  test="filtroIdServicio != null " >
			<bind name="pFiltroIdServicio" value="'%' + filtroIdServicio + '%'" />
			AND CONCAT(ID_SERVICIO, UPPER(DESC_SERVICIO)) LIKE UPPER(#{pFiltroIdServicio})
		</if>
		<if  test="filtroTransaccion != null " >
			<bind name="pFiltroTransaccion" value="'%' + filtroTransaccion + '%'" />
			AND CONCAT(TRANSACCION , UPPER(DESCRIPCION_CORTA)) LIKE UPPER(#{pFiltroTransaccion})
		</if>
		<if  test="filtroIdCanal != null " >
			<bind name="pFiltroIdCanal" value="'%' + filtroIdCanal + '%'" />
			AND CONCAT(ID_CANAL, UPPER(DESC_CANAL)) LIKE UPPER(#{pFiltroIdCanal})
		</if>
		<if  test="filtroBin != null " >
			<bind name="pFiltroBin" value="'%' + filtroBin + '%'" />
			AND CONCAT(BIN, UPPER(DESC_BIN)) LIKE UPPER(#{pFiltroBin})
		</if>
		<if  test="filtroIdInstitucionEmisora != null " >
			<bind name="pFiltroIdInstitucionEmisora" value="'%' + filtroIdInstitucionEmisora + '%'" />
			AND CONCAT(ID_INSTITUCION_EMISORA, UPPER(DESC_INSTITUCION_EMISORA)) LIKE UPPER(#{pFiltroIdInstitucionEmisora})
		</if>
		<if  test="filtroIdInstitucionReceptora != null " >
			<bind name="pFiltroIdInstitucionEmisora" value="'%' + filtroIdInstitucionReceptora + '%'" />
			AND CONCAT(ID_INSTITUCION_RECEPTORA, UPPER(DESC_INSTITUCION_RECEPTORA)) LIKE UPPER(#{pFiltroIdInstitucionReceptora})
		</if>
		
		
		
	</sql>

	

</mapper>