<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IObservadaMapper">
	
	<!-- CONSULTA DE TXNS OBSERVADAS PARA LA GRILLA -->
	
	<sql id="consultaObservada" >
		SELECT *
		FROM VIE_CON_OBSERVADA a
	</sql>
	
	<sql id = "fragmentoWhere">
		<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		<if  test="fechaTransaccionInicio != null and fechaTransaccionFin != null">
			 AND a.FECHA_TRANSACCION BETWEEN #{fechaTransaccionInicio}  AND #{fechaTransaccionFin}
		</if>
		<if  test="numeroTarjeta != null and numeroTarjeta != ''">
			 AND a.NUMERO_TARJETA = #{numeroTarjeta}
		</if>
	</sql>
	
	<sql id ="fragmentoWhereMultiples">
		<if test="idsProceso !=null and idsProceso.size()>0">
			AND a.ID_PROCESO IN 
			<foreach item="item" index="index" collection="idsProceso" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="origenesArchivo !=null and origenesArchivo.size()>0">
			AND a.ORIGEN_ARCHIVO_CONCILIACION IN 
			<foreach item="item" index="index" collection="origenesArchivo" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="indsConciliacion !=null and indsConciliacion.size()>0">
			AND a.IND_CONCILIACION IN 
			<foreach item="item" index="index" collection="indsConciliacion" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="idsMembresia !=null and idsMembresia.size()>0">
			AND a.ID_MEMBRESIA IN 
			<foreach item="item" index="index" collection="idsMembresia" open ="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>
	
	<sql id="fragmentoFiltrosOrdenaciones">
		<if  test="filtroFechaProceso != null" >
			AND FECHA_PROCESO = #{filtroFechaProceso}
		</if>
		<if  test="filtroNumeroTarjeta != null" >
			<bind name="pFiltroNumeroTarjeta" value="'%' + filtroNumeroTarjeta + '%'" />
			AND NUMERO_TARJETA LIKE #{pFiltroNumeroTarjeta}
		</if>
		<if  test="filtroNumeroCuenta != null" >
			<bind name="pFiltroNumeroCuenta" value="'%' + filtroNumeroCuenta + '%'" />
			AND NUMERO_CUENTA LIKE #{pFiltroNumeroCuenta}
		</if>
		<if  test="filtroIdCanal != null" >
			<bind name="pFiltroIdCanal" value="'%' + filtroIdCanal + '%'" />
			AND CONCAT(ID_CANAL,UPPER(DESCRIPCION_CANAL)) LIKE UPPER(#{pFiltroIdCanal})
		</if>
		<if  test="filtroIdProceso != null" >
			<bind name="pFiltroIdProceso" value="'%' + filtroIdProceso + '%'" />
			AND CONCAT(UPPER(ID_PROCESO),UPPER(DESCRIPCION_PROCESO)) LIKE UPPER(#{pFiltroIdProceso})
		</if>
		<if  test="filtroFechaTransaccion != null" >
			AND FECHA_TRANSACCION = #{filtroFechaTransaccion}
		</if>
		<if  test="filtroHoraTransaccion != null" >
			<bind name="pFiltroHoraTransaccion" value="'%' + filtroHoraTransaccion + '%'" />
			AND HORA_TRANSACCION LIKE #{pFiltroHoraTransaccion}
		</if>
		<if  test="filtroFechaSwitch != null" >
			AND FECHA_SWITCH = #{filtroFechaSwitch}
		</if>
		<if  test="filtroNumeroTrace != null" >
			<bind name="pFiltroNumeroTrace" value="'%' + filtroNumeroTrace + '%'" />
			AND NUMERO_TRACE LIKE #{pFiltroNumeroTrace}
		</if>
		<if  test="filtroAutorizacion != null" >
			<bind name="pFiltroAutorizacion" value="'%' + filtroAutorizacion + '%'" />
			AND AUTORIZACION LIKE #{pFiltroAutorizacion}
		</if>
		<if  test="filtroAuthorizationSwitch != null" >
			<bind name="pFiltroAuthorizationSwitch" value="'%' + filtroAuthorizationSwitch + '%'" />
			AND AUTHORIZATION_SWITCH LIKE #{pFiltroAuthorizationSwitch}
		</if>
		<if  test="filtroCodigoRespuesta != null" >
			<bind name="pFiltroCodigoRespuesta" value="'%' + filtroCodigoRespuesta + '%'" />
			AND CODIGO_RESPUESTA LIKE #{pFiltroCodigoRespuesta}
		</if>
		<if  test="filtroResponseCodeSwitch != null" >
			<bind name="pFiltroResponseCodeSwitch" value="'%' + filtroResponseCodeSwitch + '%'" />
			AND RESPONSE_CODE_SWITCH LIKE #{pFiltroResponseCodeSwitch}
		</if>
		<if  test="filtroMonedaTransaccion != null" >
			<bind name="pFiltroMonedaTransaccion" value="'%' + filtroMonedaTransaccion + '%'" />
			AND CONCAT(MONEDA_TRANSACCION, UPPER(DESCRIPCION_MONEDA)) LIKE UPPER(#{pFiltroMonedaTransaccion})
		</if>
		<if  test="filtroTxnCurrencySwitch != null" >
			<bind name="pFiltroTxnCurrencySwitch" value="'%' + filtroTxnCurrencySwitch + '%'" />
			AND CONCAT(TXN_CURRENCY_SWITCH, UPPER(DESCRIPCION_MONEDA_SWITCH)) LIKE UPPER(#{pFiltroTxnCurrencySwitch})
		</if>
		<if  test="filtroIndRespuestaDiferencia != null" >
			<bind name="pFiltroIndRespuestaDiferencia" value="'%' + filtroIndRespuestaDiferencia + '%'" />
			AND IND_RESPUESTA_DIFERENCIA LIKE #{pFiltroIndRespuestaDiferencia}
		</if>
		<if  test="filtroIndMonedaDiferencia != null" >
			<bind name="pFiltroIndMonedaDiferencia" value="'%' + filtroIndMonedaDiferencia + '%'" />
			AND IND_MONEDA_DIFERENCIA LIKE #{pFiltroIndMonedaDiferencia}
		</if>
		<if  test="filtroOrigenArchivoConciliacion != null" >
			<bind name="pFiltroOrigenArchivoConciliacion" value="'%' + filtroOrigenArchivoConciliacion + '%'" />
			AND CONCAT(UPPER(ORIGEN_ARCHIVO_CONCILIACION),UPPER(DESCRIPCION_ORIGEN_ARCHIVO)) LIKE UPPER(#{pFiltroOrigenArchivoConciliacion})
		</if>
		<if  test="filtroIndConciliacion != null" >
			<bind name="pFiltroIndConciliacion" value="'%' + filtroIndConciliacion + '%'" />
			AND CONCAT(IND_CONCILIACION,UPPER(DESCRIPCION_CONCILIACION)) LIKE UPPER(#{pFiltroIndConciliacion})
		</if>
		<if  test="filtroSecuenciaArchivo != null" >
			<bind name="pFiltroSecuenciaArchivo" value="'%' + filtroSecuenciaArchivo + '%'" />
			AND SECUENCIA_ARCHIVO LIKE #{pFiltroSecuenciaArchivo}
		</if>
		<if  test="rangoValorTransaccionMin != null and rangoValorTransaccionMax != null" >
			AND VALOR_TRANSACCION BETWEEN #{rangoValorTransaccionMin} AND #{rangoValorTransaccionMax}
		</if>
		<if  test="rangoTxnAmountSwitchMin != null and rangoTxnAmountSwitchMax != null" >
			AND TXN_AMOUNT_SWITCH BETWEEN #{rangoTxnAmountSwitchMin} AND #{rangoTxnAmountSwitchMax}
		</if>
		<if  test="rangoValorDiferenciaMin != null and rangoValorDiferenciaMax != null" >
			AND VALOR_DIFERENCIA BETWEEN #{rangoValorDiferenciaMin} AND #{rangoValorDiferenciaMax}
		</if>
		<if  test="ordenFechaProceso != null" >
			ORDER BY
				FECHA_PROCESO  ${ordenFechaProceso}
		</if>
		<if  test="ordenNumeroTarjeta != null" >
			ORDER BY
				NUMERO_TARJETA  ${ordenNumeroTarjeta}
		</if>
		<if  test="ordenNumeroCuenta != null" >
			ORDER BY
				NUMERO_CUENTA  ${ordenNumeroCuenta}
		</if>
		<if  test="ordenIdCanal != null" >
			ORDER BY
				ID_CANAL  ${ordenIdCanal}
		</if>
		<if  test="ordenIdProceso != null" >
			ORDER BY
				ID_PROCESO  ${ordenIdProceso}
		</if>
		<if  test="ordenFechaTransaccion != null" >
			ORDER BY
				FECHA_TRANSACCION  ${ordenFechaTransaccion}
		</if>
		<if  test="ordenHoraTransaccion != null" >
			ORDER BY
				HORA_TRANSACCION  ${ordenHoraTransaccion}
		</if>
		<if  test="ordenFechaSwitch != null" >
			ORDER BY
				FECHA_SWITCH  ${ordenFechaSwitch}
		</if>
		<if  test="ordenNumeroTrace != null" >
			ORDER BY
				NUMERO_TRACE  ${ordenNumeroTrace}
		</if>
		<if  test="ordenAutorizacion != null" >
			ORDER BY
				AUTORIZACION  ${ordenAutorizacion}
		</if>
		<if  test="ordenAuthorizationSwitch != null" >
			ORDER BY
				AUTHORIZATION_SWITCH  ${ordenAuthorizationSwitch}
		</if>
		<if  test="ordenCodigoRespuesta != null" >
			ORDER BY
				CODIGO_RESPUESTA  ${ordenCodigoRespuesta}
		</if>
		<if  test="ordenResponseCodeSwitch != null" >
			ORDER BY
				RESPONSE_CODE_SWITCH  ${ordenResponseCodeSwitch}
		</if>
		<if  test="ordenMonedaTransaccion != null" >
			ORDER BY
				MONEDA_TRANSACCION  ${ordenMonedaTransaccion}
		</if>
		<if  test="ordenTxnCurrencySwitch != null" >
			ORDER BY
				TXN_CURRENCY_SWITCH  ${ordenTxnCurrencySwitch}
		</if>
		<if  test="ordenValorTransaccion != null" >
			ORDER BY
				VALOR_TRANSACCION  ${ordenValorTransaccion}
		</if>
		<if  test="ordenTxnAmountSwitch != null" >
			ORDER BY
				TXN_AMOUNT_SWITCH  ${ordenTxnAmountSwitch}
		</if>
		<if  test="ordenIndRespuestaDiferencia != null" >
			ORDER BY
				IND_RESPUESTA_DIFERENCIA  ${ordenIndRespuestaDiferencia}
		</if>
		<if  test="ordenIndMonedaDiferencia != null" >
			ORDER BY
				IND_MONEDA_DIFERENCIA  ${ordenIndMonedaDiferencia}
		</if>
		<if  test="ordenValorDiferencia != null" >
			ORDER BY
				VALOR_DIFERENCIA  ${ordenValorDiferencia}
		</if>
		<if  test="ordenOrigenArchivoConciliacion != null" >
			ORDER BY
				ORIGEN_ARCHIVO_CONCILIACION  ${ordenOrigenArchivoConciliacion}
		</if>
		<if  test="ordenIndConciliacion != null" >
			ORDER BY
				IND_CONCILIACION  ${ordenIndConciliacion}
		</if>
		<if  test="ordenSecuenciaArchivo != null" >
			ORDER BY
				SECUENCIA_ARCHIVO  ${ordenSecuenciaArchivo}
		</if>
	</sql>
	
	<select id="buscarPorCriterios" parameterType="CriterioBusquedaObservada"  resultType="Observada" statementType="PREPARED">	
		<include refid="consultaObservada" />
		<where>
			<include refid="fragmentoWhere"/> 
			<include refid="fragmentoWhereMultiples"/>
			<include refid="fragmentoFiltrosOrdenaciones"/>
		</where>
   	</select>
   	  	
   	
   	<!-- CONSULTA DE TXNS OBSERVADAS PARA EL DETALLE -->
     	
   	<sql id="consultaObservadaDetalle" >
		SELECT *
		FROM VIE_CON_OBSERVADA_DETALLE a
	</sql>
	
	<sql id = "fragmentoWhereDetalle">
		<if  test="fechaProceso != null">
			 a.FECHA_PROCESO =  #{fechaProceso}
		</if>
		<if  test="secuenciaArchivo != null and secuenciaArchivo != ''">
			 AND a.SECUENCIA_ARCHIVO = #{secuenciaArchivo}
		</if>
	</sql>
	
	<select id="buscarDetalle" parameterType="CriterioBusquedaObservada"  resultType="ObservadaDetalle" statementType="PREPARED">	
		<include refid="consultaObservadaDetalle" />
		<where>
			<include refid="fragmentoWhereDetalle"/>
		</where>
   	</select>

</mapper>