<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IRangoBINMCMapper">

    <sql id="consultaVistaMant">
        SELECT *
            FROM VIE_CON_RANGO_BIN_MC a
    </sql>
    
    <sql id = "fragmentoWhere">
    	<if  test="fechaProcesoInicio != null and fechaProcesoFin != null">
			 a.FECHA_PROCESO BETWEEN #{fechaProcesoInicio}  AND #{fechaProcesoFin}
		</if>
		<if  test="issuerAccountRangeLow != null and issuerAccountRangeLow != ''">
			 AND a.ISSUER_ACCOUNT_RANGE_LOW = #{issuerAccountRangeLow}
		</if>
		<if  test="gcmsProductId != null and gcmsProductId != ''">
			 AND a.GCMS_PRODUCT_ID = #{gcmsProductId}
		</if>
		<if  test="issuerAccountRangeHigh != null and issuerAccountRangeHigh != ''">
			 AND a.ISSUER_ACCOUNT_RANGE_HIGH = #{issuerAccountRangeHigh}
		</if>
	</sql>
	
	<sql id = "fragmentoFiltros">
		<if  test="filtroFechaProceso != null" >
			AND FECHA_PROCESO = #{filtroFechaProceso}
		</if>
		<if  test="filtroTransactionRoutingIndicator != null" >
			<bind name="pFiltroTransactionRoutingIndicator" value="'%' + filtroTransactionRoutingIndicator + '%'" />
			AND TRANSACTION_ROUTING_INDICATOR LIKE #{pFiltroTransactionRoutingIndicator}
		</if>
    	<if  test="filtroTableId != null" >
			<bind name="pFiltroTableId" value="'%' + filtroTableId + '%'" />
			AND TABLE_ID LIKE #{pFiltroTableId}
		</if>
    	<if  test="filtroSpendControlSwitch != null" >
			<bind name="pFiltroSpendControlSwitch" value="'%' + filtroSpendControlSwitch + '%'" />
			AND SPEND_CONTROL_SWITCH LIKE #{pFiltroSpendControlSwitch}
		</if>
    	<if  test="filtroRepowerReloadParticipationIndicator != null" >
			<bind name="pFiltroRepowerReloadParticipationIndicator" value="'%' + filtroRepowerReloadParticipationIndicator + '%'" />
			AND REPOWER_RELOAD_PARTICIPATION_INDICATOR LIKE #{pFiltroRepowerReloadParticipationIndicator}
		</if>
    	<if  test="filtroRegulatedRateTypeIndicator != null" >
			<bind name="pFiltroRegulatedRateTypeIndicator" value="'%' + filtroRegulatedRateTypeIndicator + '%'" />
			AND REGULATED_RATE_TYPE_INDICATOR LIKE #{pFiltroRegulatedRateTypeIndicator}
		</if>
    	<if  test="filtroRegion != null" >
			<bind name="pFiltroRegion" value="'%' + filtroRegion + '%'" />
			AND REGION LIKE #{pFiltroRegion}
		</if>
    	<if  test="filtroPwcbOptInSwitch != null" >
			<bind name="pFiltroPwcbOptInSwitch" value="'%' + filtroPwcbOptInSwitch + '%'" />
			AND PWCB_OPT_IN_SWITCH LIKE #{pFiltroPwcbOptInSwitch}
		</if>
		<if  test="filtroPsnRouteIndicator != null" >
			<bind name="pFiltroPsnRouteIndicator" value="'%' + filtroPsnRouteIndicator + '%'" />
			AND PSN_ROUTE_INDICATOR LIKE #{pFiltroPsnRouteIndicator}
		</if>
		<if  test="filtroProdcutTypeId != null" >
			<bind name="pFiltroProdcutTypeId" value="'%' + filtroProdcutTypeId + '%'" />
			AND PRODUCT_TYPE_ID LIKE #{pFiltroProdcutTypeId}
		</if>
		<if  test="filtroProductReassigmentSwitch != null" >
			<bind name="pFiltroProductReassigmentSwitch" value="'%' + filtroProductReassigmentSwitch + '%'" />
			AND PRODUCT_REASSIGNMENT_SWITCH LIKE #{pFiltroProductReassigmentSwitch}
		</if>
		<if  test="filtroProductClass != null" >
			<bind name="pFiltroProductClass" value="'%' + filtroProductClass + '%'" />
			AND PRODUCT_CLASS LIKE #{pFiltroProductClass}
		</if>
		<if  test="filtroPostDateServiceIndicator != null" >
			<bind name="pFiltroPostDateServiceIndicator" value="'%' + filtroPostDateServiceIndicator + '%'" />
			AND POST_DATE_SERVICE_INDICATOR LIKE #{pFiltroPostDateServiceIndicator}
		</if>
		<if  test="filtroNonReloadablePrepaidSwitch != null" >
			<bind name="pFiltroNonReloadablePrepaidSwitch" value="'%' + filtroNonReloadablePrepaidSwitch + '%'" />
			AND NON_RELOADABLE_PREPAID_SWITCH LIKE #{pFiltroNonReloadablePrepaidSwitch}
		</if>
		<if  test="filtroMoneysendIndicator != null" >
			<bind name="pFiltroMoneysendIndicator" value="'%' + filtroMoneysendIndicator + '%'" />
			AND MONEYSEND_INDICATOR LIKE #{pFiltroMoneysendIndicator}
		</if>
		<if  test="filtroMerchantCleansingServiceParticipation != null" >
			<bind name="pFiltroMerchantCleansingServiceParticipation" value="'%' + filtroMerchantCleansingServiceParticipation + '%'" />
			AND MERCHANT_CLEANSING_SERVICE_PARTICIPATION LIKE #{pFiltroMerchantCleansingServiceParticipation}
		</if>
		<if  test="filtroMerchantCleansingActivationDate != null" >
			AND MERCHANT_CLEANSING_ACTIVATION_DATE = #{filtroMerchantCleansingActivationDate}
		</if>
		<if  test="filtroMemberId != null" >
			<bind name="pFiltroMemberId" value="'%' + filtroMemberId + '%'" />
			AND MEMBER_ID LIKE #{pFiltroMemberId}
		</if>
		<if  test="filtroMealVoucherIndicator != null" >
			<bind name="pFiltroMealVoucherIndicator" value="'%' + filtroMealVoucherIndicator + '%'" />
			AND MEAL_VOUCHER_INDICATOR LIKE #{pFiltroMealVoucherIndicator}
		</if>
		<if  test="filtroMappingServiceIndicator != null" >
			<bind name="pFiltroMappingServiceIndicator" value="'%' + filtroMappingServiceIndicator + '%'" />
			AND MAPPING_SERVICE_INDICATOR LIKE #{pFiltroMappingServiceIndicator}
		</if>
		<if  test="filtroLicenseProductId != null" >
			<bind name="pFiltroLicenseProductId" value="'%' + filtroLicenseProductId + '%'" />
			AND LICENSE_PRODUCT_ID LIKE #{pFiltroLicenseProductId}
		</if>
		<if  test="filtroIssuerTargetMarketParticipationIndicator != null" >
			<bind name="pFiltroIssuerTargetMarketParticipationIndicator" value="'%' + filtroIssuerTargetMarketParticipationIndicator + '%'" />
			AND ISSUER_TARGET_MARKET_PARTICIPATION_INDICATOR LIKE #{pFiltroIssuerTargetMarketParticipationIndicator}
		</if>
		<if  test="filtroIssuerCardProgramIdPriorityCode != null" >
			<bind name="pFiltroIssuerCardProgramIdPriorityCode" value="'%' + filtroIssuerCardProgramIdPriorityCode + '%'" />
			AND ISSUER_CARD_PROGRAM_ID_PRIORITY_CODE LIKE #{pFiltroIssuerCardProgramIdPriorityCode}
		</if>
		<if  test="filtroIssuerAccountRangeLow != null" >
			<bind name="pFiltroIssuerAccountRangeLow" value="'%' + filtroIssuerAccountRangeLow + '%'" />
			AND ISSUER_ACCOUNT_RANGE_LOW LIKE #{pFiltroIssuerAccountRangeLow}
		</if>
		<if  test="filtroIssuerAccountRangeHigh != null" >
			<bind name="pFiltroIssuerAccountRangeHigh" value="'%' + filtroIssuerAccountRangeHigh + '%'" />
			AND ISSUER_ACCOUNT_RANGE_HIGH LIKE #{pFiltroIssuerAccountRangeHigh}
		</if>
		<if  test="filtroGcmsProductId != null" >
			<bind name="pFiltroGcmsProductId" value="'%' + filtroGcmsProductId + '%'" />
			AND GCMS_PRODUCT_ID LIKE #{pFiltroGcmsProductId}
		</if>
		<if  test="filtroFloorExpirationDate != null" >
			AND FLOOR_EXPIRATION_DATE = #{filtroFloorExpirationDate}
		</if>
		<if  test="filtroFirstPresentmentReassignmentSwitch != null" >
			<bind name="pFiltroFirstPresentmentReassignmentSwitch" value="'%' + filtroFirstPresentmentReassignmentSwitch + '%'" />
			AND FIRST_PRESENTMENT_REASSIGNMENT_SWITCH LIKE #{pFiltroFirstPresentmentReassignmentSwitch}
		</if>
		<if  test="filtroFiller1 != null" >
			<bind name="pFiltroFiller1" value="'%' + filtroFiller1 + '%'" />
			AND FILLER_1 LIKE #{pFiltroFiller1}
		</if>
		<if  test="filtroFiller2 != null" >
			<bind name="pFiltroFiller2" value="'%' + filtroFiller2 + '%'" />
			AND FILLER_2 LIKE #{pFiltroFiller2}
		</if>
		<if  test="filtroFiller3 != null" >
			<bind name="pFiltroFiller3" value="'%' + filtroFiller3 + '%'" />
			AND FILLER_3 LIKE #{pFiltroFiller3}
		</if>
		<if  test="filtroFasterFundsIndicator != null" >
			<bind name="pFiltroFasterFundsIndicator" value="'%' + filtroFasterFundsIndicator + '%'" />
			AND FASTER_FUNDS_INDICATOR LIKE #{pFiltroFasterFundsIndicator}
		</if>
		<if  test="filtroEndpoint != null" >
			<bind name="pFiltroEndpoint" value="'%' + filtroEndpoint + '%'" />
			AND ENDPOINT LIKE #{pFiltroEndpoint}
		</if>
		<if  test="filtroEffectiveTimestamp != null" >
			<bind name="pFiltroEffectiveTimestamp" value="'%' + filtroEffectiveTimestamp + '%'" />
			AND EFFECTIVE_TIMESTAMP LIKE #{pFiltroEffectiveTimestamp}
		</if>
		<if  test="filtroDurbinRegulatedRateIndicator != null" >
			<bind name="pFiltroDurbinRegulatedRateIndicator" value="'%' + filtroDurbinRegulatedRateIndicator + '%'" />
			AND DURBIN_REGULATED_RATE_INDICATOR LIKE #{pFiltroDurbinRegulatedRateIndicator}
		</if>
		<if  test="filtroCountryCodeNumeric != null" >
			<bind name="pFiltroCountryCodeNumeric" value="'%' + filtroCountryCodeNumeric + '%'" />
			AND COUNTRY_CODE_NUMERIC LIKE #{pFiltroCountryCodeNumeric}
		</if>
		<if  test="filtroCountryCodeAlpha != null" >
			<bind name="pFiltroCountryCodeAlpha" value="'%' + filtroCountryCodeAlpha + '%'" />
			AND COUNTRY_CODE_ALPHA LIKE #{pFiltroCountryCodeAlpha}
		</if>
		<if  test="filtroContactlessEnabledIndicator != null" >
			<bind name="pFiltroContactlessEnabledIndicator" value="'%' + filtroContactlessEnabledIndicator + '%'" />
			AND CONTACLESS_ENABLED_INDICATOR LIKE #{pFiltroContactlessEnabledIndicator}
		</if>
		<if  test="filtroCoBrandParticipationSwitch != null" >
			<bind name="pFiltroCoBrandParticipationSwitch" value="'%' + filtroCoBrandParticipationSwitch + '%'" />
			AND CO_BRAND_PARTICIPATION_SWITCH LIKE #{pFiltroCoBrandParticipationSwitch}
		</if>
		<if  test="filtroChipToMagneticConversionServiceIndicator != null" >
			<bind name="pFiltroChipToMagneticConversionServiceIndicator" value="'%' + filtroChipToMagneticConversionServiceIndicator + '%'" />
			AND CHIP_TO_MAGNETIC_CONVERSION_SERVICE_INDICATOR LIKE #{pFiltroChipToMagneticConversionServiceIndicator}
		</if>
		<if  test="filtroCashBackWithoutPurchaseIndicator != null" >
			<bind name="pFiltroCashBackWithoutPurchaseIndicator" value="'%' + filtroCashBackWithoutPurchaseIndicator + '%'" />
			AND CASH_BACK_WITHOUT_PURCHASE_INDICATOR LIKE #{pFiltroCashBackWithoutPurchaseIndicator}
		</if>
		<if  test="filtroCashAccessOnlyParticipatingIndicator != null" >
			<bind name="pFiltroCashAccessOnlyParticipatingIndicator" value="'%' + filtroCashAccessOnlyParticipatingIndicator + '%'" />
			AND CASH_ACCESS_ONLY_PARTICIPATING_INDICATOR LIKE #{pFiltroCashAccessOnlyParticipatingIndicator}
		</if>
		<if  test="filtroCardProgramId != null" >
			<bind name="pFiltroCardProgramId" value="'%' + filtroCardProgramId + '%'" />
			AND CARD_PROGRAM_ID LIKE #{pFiltroCardProgramId}
		</if>
		<if  test="filtroCardholderBillingPrimaryCurrency != null" >
			<bind name="pFiltroCardholderBillingPrimaryCurrency" value="'%' + filtroCardholderBillingPrimaryCurrency + '%'" />
			AND CARDHOLDER_BILLING_PRIMARY_CURRENCY LIKE #{pFiltroCardholderBillingPrimaryCurrency}
		</if>
		<if  test="filtroCardholderBillingCurrencyExponentDefault != null" >
			<bind name="pFiltroCardholderBillingCurrencyExponentDefault" value="'%' + filtroCardholderBillingCurrencyExponentDefault + '%'" />
			AND CARDHOLDER_BILLING_CURRENCY_EPXONENT_DEFAULT LIKE #{pFiltroCardholderBillingCurrencyExponentDefault}
		</if>
		<if  test="filtroCardholderBillingCurrencyDefault != null" >
			<bind name="pFiltroCardholderBillingCurrencyDefault" value="'%' + filtroCardholderBillingCurrencyDefault + '%'" />
			AND CARDHOLDER_BILLING_CURRENCY_DEFAULT LIKE #{pFiltroCardholderBillingCurrencyDefault}
		</if>
		<if  test="filtroAuthenticationIndicator != null" >
			<bind name="pFiltroAuthenticationIndicator" value="'%' + filtroAuthenticationIndicator + '%'" />
			AND AUTHENTICATION_INDICATOR LIKE #{pFiltroAuthenticationIndicator}
		</if>
		<if  test="filtroAnonymousPrepaidIndicator != null" >
			<bind name="pFiltroAnonymousPrepaidIndicator" value="'%' + filtroAnonymousPrepaidIndicator + '%'" />
			AND ANONYMOUS_PREPAID_INDICATOR LIKE #{pFiltroAnonymousPrepaidIndicator}
		</if>
		<if  test="filtroActiveInactiveCode != null" >
			<bind name="pFiltroActiveInactiveCode" value="'%' + filtroActiveInactiveCode + '%'" />
			AND ACTIVE_INACTIVE_CODE LIKE #{pFiltroActiveInactiveCode}
		</if>
		<if  test="filtroAccountLevelManagementParticipationIndicator != null" >
			<bind name="pFiltroAccountLevelManagementParticipationIndicator" value="'%' + filtroAccountLevelManagementParticipationIndicator + '%'" />
			AND ACCOUNT_LEVEL_MANAGEMENT_PARTICIPATION_INDICATOR LIKE #{pFiltroAccountLevelManagementParticipationIndicator}
		</if>
		<if  test="filtroAccountLevelManagementActivationDate != null" >
			AND ACCOUNT_LEVEL_MANAGEMENT_ACTIVATION_DATE = #{filtroAccountLevelManagementActivationDate}
		</if>
	</sql>
    
    <sql id="fragmentoOrden">
    	<if  test="ordenFechaProceso != null" >
			ORDER BY
				FECHA_PROCESO  ${ordenFechaProceso}
		</if>
		<if  test="ordenTransactionRoutingIndicator != null" >
			ORDER BY
				TRANSACTION_ROUTING_INDICATOR  ${ordenTransactionRoutingIndicator}
		</if>
		<if  test="ordenTableId != null" >
			ORDER BY
				TABLE_ID  ${ordenTableId}
		</if>
		<if  test="ordenSpendControlSwitch != null" >
			ORDER BY
				SPEND_CONTROL_SWITCH  ${ordenSpendControlSwitch}
		</if>
		<if  test="ordenRepowerReloadParticipationIndicator != null" >
			ORDER BY
				REPOWER_RELOAD_PARTICIPATION_INDICATOR  ${ordenRepowerReloadParticipationIndicator}
		</if>
		<if  test="ordenRegulatedRateTypeIndicator != null" >
			ORDER BY
				REGULATED_RATE_TYPE_INDICATOR  ${ordenRegulatedRateTypeIndicator}
		</if>
		<if  test="ordenRegion != null" >
			ORDER BY
				REGION  ${ordenRegion}
		</if>
		<if  test="ordenPwcbOptInSwitch != null" >
			ORDER BY
				PWCB_OPT_IN_SWITCH  ${ordenPwcbOptInSwitch}
		</if>
		<if  test="ordenPsnRouteIndicator != null" >
			ORDER BY
				PSN_ROUTE_INDICATOR  ${ordenPsnRouteIndicator}
		</if>
		<if  test="ordenProdcutTypeId != null" >
			ORDER BY
				PRODUCT_TYPE_ID  ${ordenProdcutTypeId}
		</if>
		<if  test="ordenProductReassigmentSwitch != null" >
			ORDER BY
				PRODUCT_REASSIGNMENT_SWITCH  ${ordenProductReassigmentSwitch}
		</if>
		<if  test="ordenProductClass != null" >
			ORDER BY
				PRODUCT_CLASS  ${ordenProductClass}
		</if>
		<if  test="ordenPostDateServiceIndicator != null" >
			ORDER BY
				POST_DATE_SERVICE_INDICATOR  ${ordenPostDateServiceIndicator}
		</if>
		<if  test="ordenNonReloadablePrepaidSwitch != null" >
			ORDER BY
				NON_RELOADABLE_PREPAID_SWITCH  ${ordenNonReloadablePrepaidSwitch}
		</if>
		<if  test="ordenMoneysenIndicator != null" >
			ORDER BY
				MONEYSEND_INDICATOR  ${ordenMoneysenIndicator}
		</if>
		<if  test="ordenMerchantCleansingServiceParticipation != null" >
			ORDER BY
				MERCHANT_CLEANSING_SERVICE_PARTICIPATION  ${ordenMerchantCleansingServiceParticipation}
		</if>
		<if  test="ordenMerchantCleansingActivationDate != null" >
			ORDER BY
				MERCHANT_CLEANSING_ACTIVATION_DATE  ${ordenMerchantCleansingActivationDate}
		</if>
		<if  test="ordenMemberId != null" >
			ORDER BY
				MEMBER_ID  ${ordenMemberId}
		</if>
		<if  test="ordenMealVoucherIndicator != null" >
			ORDER BY
				MEAL_VOUCHER_INDICATOR  ${ordenMealVoucherIndicator}
		</if>
		<if  test="ordenMappingServiceIndicator != null" >
			ORDER BY
				MAPPING_SERVICE_INDICATOR  ${ordenMappingServiceIndicator}
		</if>
		<if  test="ordenLicenseProductId != null" >
			ORDER BY
				LICENSE_PRODUCT_ID  ${ordenLicenseProductId}
		</if>
		<if  test="ordenIssuerTargetMarketParticipationIndicator != null" >
			ORDER BY
				ISSUER_TARGET_MARKET_PARTICIPATION_INDICATOR  ${ordenIssuerTargetMarketParticipationIndicator}
		</if>
		<if  test="ordenIssuerCardProgramIdPriorityCode != null" >
			ORDER BY
				ISSUER_CARD_PROGRAM_ID_PRIORITY_CODE  ${ordenIssuerCardProgramIdPriorityCode}
		</if>
		<if  test="ordenIssuerAccountRangeLow != null" >
			ORDER BY
				ISSUER_ACCOUNT_RANGE_LOW  ${ordenIssuerAccountRangeLow}
		</if>
		<if  test="ordenIssuerAccountRangeHigh != null" >
			ORDER BY
				ISSUER_ACCOUNT_RANGE_HIGH  ${ordenIssuerAccountRangeHigh}
		</if>
		<if  test="ordenGcmsProductId != null" >
			ORDER BY
				GCMS_PRODUCT_ID  ${ordenGcmsProductId}
		</if>
		<if  test="ordenFloorExpirationDate != null" >
			ORDER BY
				FLOOR_EXPIRATION_DATE  ${ordenFloorExpirationDate}
		</if>
		<if  test="ordenFirstPresentmentReassignmentSwitch != null" >
			ORDER BY
				FIRST_PRESENTMENT_REASSIGNMENT_SWITCH  ${ordenFirstPresentmentReassignmentSwitch}
		</if>
		<if  test="ordenFiller1 != null" >
			ORDER BY
				FILLER_1  ${ordenFiller1}
		</if>
		<if  test="ordenFiller2 != null" >
			ORDER BY
				FILLER_2  ${ordenFiller2}
		</if>
		<if  test="ordenFiller3 != null" >
			ORDER BY
				FILLER_3  ${ordenFiller3}
		</if>
		<if  test="ordenFasterFundsIndicator != null" >
			ORDER BY
				FASTER_FUNDS_INDICATOR  ${ordenFasterFundsIndicator}
		</if>
		<if  test="ordenEndpoint != null" >
			ORDER BY
				ENDPOINT  ${ordenEndpoint}
		</if>
		<if  test="ordenEffectiveTimestamp != null" >
			ORDER BY
				EFFECTIVE_TIMESTAMP  ${ordenEffectiveTimestamp}
		</if>
		<if  test="ordenDurbinRegulatedRateIndicator != null" >
			ORDER BY
				DURBIN_REGULATED_RATE_INDICATOR  ${ordenDurbinRegulatedRateIndicator}
		</if>
		<if  test="ordenCountryCodeNumeric != null" >
			ORDER BY
				COUNTRY_CODE_NUMERIC  ${ordenCountryCodeNumeric}
		</if>
		<if  test="ordenCountryCodeAlpha != null" >
			ORDER BY
				COUNTRY_CODE_ALPHA  ${ordenCountryCodeAlpha}
		</if>
		<if  test="ordenContactlessEnabledIndicator != null" >
			ORDER BY
				CONTACLESS_ENABLED_INDICATOR  ${ordenContactlessEnabledIndicator}
		</if>
		<if  test="ordenCoBrandParticipationSwitch != null" >
			ORDER BY
				CO_BRAND_PARTICIPATION_SWITCH  ${ordenCoBrandParticipationSwitch}
		</if>
		<if  test="ordenChipToMagneticConversionServiceIndicator != null" >
			ORDER BY
				CHIP_TO_MAGNETIC_CONVERSION_SERVICE_INDICATOR  ${ordenChipToMagneticConversionServiceIndicator}
		</if>
		<if  test="ordenCashBackWithoutPurchaseIndicator != null" >
			ORDER BY
				CASH_BACK_WITHOUT_PURCHASE_INDICATOR  ${ordenCashBackWithoutPurchaseIndicator}
		</if>
		<if  test="ordenCashAccessOnlyParticipatingIndicator != null" >
			ORDER BY
				CASH_ACCESS_ONLY_PARTICIPATING_INDICATOR  ${ordenCashAccessOnlyParticipatingIndicator}
		</if>
		<if  test="ordenCardProgramId != null" >
			ORDER BY
				CARD_PROGRAM_ID  ${ordenCardProgramId}
		</if>
		<if  test="ordenCardholderBillingPrimaryCurrency != null" >
			ORDER BY
				CARDHOLDER_BILLING_PRIMARY_CURRENCY  ${ordenCardholderBillingPrimaryCurrency}
		</if>
		<if  test="ordenCardholderBillingCurrencyExponentDefault != null" >
			ORDER BY
				CARDHOLDER_BILLING_CURRENCY_EPXONENT_DEFAULT  ${ordenCardholderBillingCurrencyExponentDefault}
		</if>
		<if  test="ordenCardholderBillingCurrencyDefault != null" >
			ORDER BY
				CARDHOLDER_BILLING_CURRENCY_DEFAULT  ${ordenCardholderBillingCurrencyDefault}
		</if>
		<if  test="ordenAuthenticationIndicator != null" >
			ORDER BY
				AUTHENTICATION_INDICATOR  ${ordenAuthenticationIndicator}
		</if>
		<if  test="ordenAnonymousPrepaidIndicator != null" >
			ORDER BY
				ANONYMOUS_PREPAID_INDICATOR  ${ordenAnonymousPrepaidIndicator}
		</if>
		<if  test="ordenActiveInactiveCode != null" >
			ORDER BY
				ACTIVE_INACTIVE_CODE  ${ordenActiveInactiveCode}
		</if>
		<if  test="ordenAccountLevelManagementParticipationIndicator != null" >
			ORDER BY
				ACCOUNT_LEVEL_MANAGEMENT_PARTICIPATION_INDICATOR  ${ordenAccountLevelManagementParticipationIndicator}
		</if>
		<if  test="ordenAccountLevelManagementActivationDate != null" >
			ORDER BY
				ACCOUNT_LEVEL_MANAGEMENT_ACTIVATION_DATE  ${ordenAccountLevelManagementActivationDate}
		</if>
    </sql>

    <select id="buscarTodos" resultType="RangoBinMC" statementType="PREPARED">
       <include refid="consultaVistaMant" />
       <include refid="fragmentoOrden"/>
    </select>
    
	<select id="buscarPorCriterios" parameterType="CriterioBusquedaRangoBinMC"  resultType="RangoBinMC" statementType="PREPARED">	
		<include refid="consultaVistaMant" />
		<where>
			<include refid="fragmentoWhere"/>
       		<include refid="fragmentoFiltros"/>
		</where> 
       	<include refid="fragmentoOrden"/>
   	</select>
   	
</mapper>