<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.IRangoBINVisaMapper">

    <sql id="consultaVistaMant">
        SELECT *
            FROM VIE_CON_RANGO_BIN_VISA a
    </sql>
    
    <sql id = "fragmentoWhere">
		<if  test="idBIN != null and idBIN != ''">
			 a.ID_BIN = #{idBIN}
		</if>
		<if  test="binProcesador != null and binProcesador != ''">
			 AND a.BIN_PROCESADOR = #{binProcesador}
		</if>
		<if  test="region != null and region != ''">
			 AND a.REGION = #{region}
		</if>
		<if  test="pais != null and pais != ''">
			 AND a.PAIS = #{pais}
		</if>
	</sql>
	
	<sql id = "fragmentoFiltros">
		<if  test="filtroIdBIN != null" >
			<bind name="pFiltroIdBIN" value="'%' + filtroIdBIN + '%'" />
			AND ID_BIN LIKE #{pFiltroIdBIN}
		</if>
    	<if  test="filtroInicioRango != null" >
			<bind name="pFiltroInicioRango" value="'%' + filtroInicioRango + '%'" />
			AND INICIO_RANGO LIKE #{pFiltroInicioRango}
		</if>
    	<if  test="filtroFinRango != null" >
			<bind name="pFiltroFinRango" value="'%' + filtroFinRango + '%'" />
			AND FIN_RANGO LIKE #{pFiltroFinRango}
		</if>
    	<if  test="filtroDigitoValidacionChequeo != null" >
			<bind name="pFiltroDigitoValidacionChequeo" value="'%' + filtroDigitoValidacionChequeo + '%'" />
			AND DIGITO_VALIDACION_CHEQUEO LIKE #{pFiltroDigitoValidacionChequeo}
		</if>
    	<if  test="filtroLongitudNumeroCuenta != null" >
			<bind name="pFiltroLongitudNumeroCuenta" value="'%' + filtroLongitudNumeroCuenta + '%'" />
			AND LONGITUD_NUMERO_CUENTA LIKE #{pFiltroLongitudNumeroCuenta}
		</if>
    	<if  test="filtroTokenIndicador != null" >
			<bind name="pFiltroTokenIndicador" value="'%' + filtroTokenIndicador + '%'" />
			AND TOKEN_INDICATOR LIKE #{pFiltroTokenIndicador}
		</if>
    	<if  test="filtroReservado1 != null" >
			<bind name="pFiltroReservado1" value="'%' + filtroReservado1 + '%'" />
			AND RESERVADO_1 LIKE #{pFiltroReservado1}
		</if>
		<if  test="filtroBinProcesador != null" >
			<bind name="pFiltroBinProcesador" value="'%' + filtroBinProcesador + '%'" />
			AND BIN_PROCESADOR LIKE #{pFiltroBinProcesador}
		</if>
		<if  test="filtroDominio != null" >
			<bind name="pFiltroDominio" value="'%' + filtroDominio + '%'" />
			AND DOMINIO LIKE #{pFiltroDominio}
		</if>
		<if  test="filtroRegion != null" >
			<bind name="pFiltroRegion" value="'%' + filtroRegion + '%'" />
			AND REGION LIKE #{pFiltroRegion}
		</if>
		<if  test="filtroPais != null" >
			<bind name="pFiltroPais" value="'%' + filtroPais + '%'" />
			AND PAIS LIKE #{pFiltroPais}
		</if>
		<if  test="filtroLargeTicket != null" >
			<bind name="pFiltroLargeTicket" value="'%' + filtroLargeTicket + '%'" />
			AND LARGE_TICKET LIKE #{pFiltroLargeTicket}
		</if>
		<if  test="filtroTechnologyIndicator != null" >
			<bind name="pFiltroTechnologyIndicator" value="'%' + filtroTechnologyIndicator + '%'" />
			AND TECHNOLOGY_INDICATOR LIKE #{pFiltroTechnologyIndicator}
		</if>
		<if  test="filtroArdefRegion != null" >
			<bind name="pFiltroArdefRegion" value="'%' + filtroArdefRegion + '%'" />
			AND ARDEF_REGION LIKE #{pFiltroArdefRegion}
		</if>
		<if  test="filtroArdefPais != null" >
			<bind name="pFiltroArdefPais" value="'%' + filtroArdefPais + '%'" />
			AND ARDEF_PAIS LIKE #{pFiltroArdefPais}
		</if>
		<if  test="filtroComercialCardLvl2DataIndicator != null" >
			<bind name="pFiltroComercialCardLvl2DataIndicator" value="'%' + filtroComercialCardLvl2DataIndicator + '%'" />
			AND COMERCIAL_CARD_LVL2_DATA_INDICATOR LIKE #{pFiltroComercialCardLvl2DataIndicator}
		</if>
		<if  test="filtroComercialCardLvl3EnhancedDataIndicator != null" >
			<bind name="pFiltroComercialCardLvl3EnhancedDataIndicator" value="'%' + filtroComercialCardLvl3EnhancedDataIndicator + '%'" />
			AND COMERCIAL_CARD_LVL3_ENHANCED_DATA_INDICATOR LIKE #{pFiltroComercialCardLvl3EnhancedDataIndicator}
		</if>
		<if  test="filtroComercialCardPOSPromptingIndicator != null" >
			<bind name="pFiltroComercialCardPOSPromptingIndicator" value="'%' + filtroComercialCardPOSPromptingIndicator + '%'" />
			AND COMERCIAL_CARD_POS_PROMPTING_INDICATOR LIKE #{pFiltroComercialCardPOSPromptingIndicator}
		</if>
		<if  test="filtroVatEvidence != null" >
			<bind name="pFiltroVatEvidence" value="'%' + filtroVatEvidence + '%'" />
			AND VAT_EVIDENCE LIKE #{pFiltroVatEvidence}
		</if>
		<if  test="filtroOriginalCredit != null" >
			<bind name="pFiltroOriginalCredit" value="'%' + filtroOriginalCredit + '%'" />
			AND ORIGINAL_CREDIT LIKE #{pFiltroOriginalCredit}
		</if>
		<if  test="filtroAccountLevelProcessingIndicator != null" >
			<bind name="pFiltroAccountLevelProcessingIndicator" value="'%' + filtroAccountLevelProcessingIndicator + '%'" />
			AND ACCOUNT_LEVEL_PROCESSING_INDICATOR LIKE #{pFiltroAccountLevelProcessingIndicator}
		</if>
		<if  test="filtroOriginalCreditMoneyTransfer != null" >
			<bind name="pFiltroOriginalCreditMoneyTransfer" value="'%' + filtroOriginalCreditMoneyTransfer + '%'" />
			AND ORIGINAL_CREDIT_MONEY_TRANSFER LIKE #{pFiltroOriginalCreditMoneyTransfer}
		</if>
		<if  test="filtroOriginalCreditOnlineGambling != null" >
			<bind name="pFiltroOriginalCreditOnlineGambling" value="'%' + filtroOriginalCreditOnlineGambling + '%'" />
			AND ORIGINAL_CREDIT_ONLINE_GAMBLING LIKE #{pFiltroOriginalCreditOnlineGambling}
		</if>
		<if  test="filtroProductID != null" >
			<bind name="pFiltroProductID" value="'%' + filtroProductID + '%'" />
			AND PRODUCT_ID LIKE #{pFiltroProductID}
		</if>
		<if  test="filtroComboCard != null" >
			<bind name="pFiltroComboCard" value="'%' + filtroComboCard + '%'" />
			AND COMBO_CARD LIKE #{pFiltroComboCard}
		</if>
		<if  test="filtroFastFunds != null" >
			<bind name="pFiltroFastFunds" value="'%' + filtroFastFunds + '%'" />
			AND FAST_FUNDS LIKE #{pFiltroFastFunds}
		</if>
		<if  test="filtroTravelIndicator != null" >
			<bind name="pFiltroTravelIndicator" value="'%' + filtroTravelIndicator + '%'" />
			AND TRAVEL_INDICATOR LIKE #{pFiltroTravelIndicator}
		</if>
		<if  test="filtroR1r2r3 != null" >
			<bind name="pFiltroR1r2r3" value="'%' + filtroR1r2r3 + '%'" />
			AND R1R2R3 LIKE #{pFiltroR1r2r3}
		</if>
		<if  test="filtroAccountFundingSource != null" >
			<bind name="pFiltroAccountFundingSource" value="'%' + filtroAccountFundingSource + '%'" />
			AND ACCOUNT_FUNDING_SOURCE LIKE #{pFiltroAccountFundingSource}
		</if>
		<if  test="filtroSettlementMatch != null" >
			<bind name="pFiltroSettlementMatch" value="'%' + filtroSettlementMatch + '%'" />
			AND SETTLEMENT_MATCH LIKE #{pFiltroSettlementMatch}
		</if>
		<if  test="filtroTravelAccountData != null" >
			<bind name="pFiltroTravelAccountData" value="'%' + filtroTravelAccountData + '%'" />
			AND TRAVEL_ACCOUNT_DATA LIKE #{pFiltroTravelAccountData}
		</if>
		<if  test="filtroAccountRestrictedUse != null" >
			<bind name="pFiltroAccountRestrictedUse" value="'%' + filtroAccountRestrictedUse + '%'" />
			AND ACCOUNT_RESTRICTED_USE LIKE #{pFiltroAccountRestrictedUse}
		</if>
		<if  test="filtroNnssIndicator != null" >
			<bind name="pFiltroNnssIndicator" value="'%' + filtroNnssIndicator + '%'" />
			AND NNSS_INDICATOR LIKE #{pFiltroNnssIndicator}
		</if>
		<if  test="filtroProductSubtype != null" >
			<bind name="pFiltroProductSubtype" value="'%' + filtroProductSubtype + '%'" />
			AND PRODUCT_SUBTYPE LIKE #{pFiltroProductSubtype}
		</if>
		<if  test="filtroReservado2 != null" >
			<bind name="pFiltroReservado2" value="'%' + filtroReservado2 + '%'" />
			AND RESERVADO_2 LIKE #{pFiltroReservado2}
		</if>
		<if  test="filtroTestIndicator != null" >
			<bind name="pFiltroTestIndicator" value="'%' + filtroTestIndicator + '%'" />
			AND TEST_INDICATOR LIKE #{pFiltroTestIndicator}
		</if>
		<if  test="filtroReservado3 != null" >
			<bind name="pFiltroReservado3" value="'%' + filtroReservado3 + '%'" />
			AND RESERVADO_3 LIKE #{pFiltroReservado3}
		</if>
	</sql>
    
    <sql id="fragmentoOrden">
		<if  test="ordenIdBIN != null" >
			ORDER BY
				ID_BIN  ${ordenIdBIN}
		</if>
		<if  test="ordenInicioRango != null" >
			ORDER BY
				INICIO_RANGO  ${ordenInicioRango}
		</if>
		<if  test="ordenFinRango != null" >
			ORDER BY
				FIN_RANGO  ${ordenFinRango}
		</if>
		<if  test="ordenDigitoValidacionChequeo != null" >
			ORDER BY
				DIGITO_VALIDACION_CHEQUEO  ${ordenDigitoValidacionChequeo}
		</if>
		<if  test="ordenLongitudNumeroCuenta != null" >
			ORDER BY
				LONGITUD_NUMERO_CUENTA  ${ordenLongitudNumeroCuenta}
		</if>
		<if  test="ordenTokenIndicador != null" >
			ORDER BY
				TOKEN_INDICATOR  ${ordenTokenIndicador}
		</if>
		<if  test="ordenReservado1 != null" >
			ORDER BY
				RESERVADO_1  ${ordenReservado1}
		</if>
		<if  test="ordenBinProcesador != null" >
			ORDER BY
				BIN_PROCESADOR  ${ordenBinProcesador}
		</if>
		<if  test="ordenDominio != null" >
			ORDER BY
				DOMINIO  ${ordenDominio}
		</if>
		<if  test="ordenRegion != null" >
			ORDER BY
				REGION  ${ordenRegion}
		</if>
		<if  test="ordenPais != null" >
			ORDER BY
				PAIS  ${ordenPais}
		</if>
		<if  test="ordenLargeTicket != null" >
			ORDER BY
				LARGE_TICKET  ${ordenLargeTicket}
		</if>
		<if  test="ordenTechnologyIndicator != null" >
			ORDER BY
				TECHNOLOGY_INDICATOR  ${ordenTechnologyIndicator}
		</if>
		<if  test="ordenArdefRegion != null" >
			ORDER BY
				ARDEF_REGION  ${ordenArdefRegion}
		</if>
		<if  test="ordenArdefPais != null" >
			ORDER BY
				ARDEF_PAIS  ${ordenArdefPais}
		</if>
		<if  test="ordenComercialCardLvl2DataIndicator != null" >
			ORDER BY
				COMERCIAL_CARD_LVL2_DATA_INDICATOR  ${ordenComercialCardLvl2DataIndicator}
		</if>
		<if  test="ordenComercialCardLvl3EnhancedDataIndicator != null" >
			ORDER BY
				COMERCIAL_CARD_LVL3_ENHANCED_DATA_INDICATOR  ${ordenComercialCardLvl3EnhancedDataIndicator}
		</if>
		<if  test="ordenComercialCardPOSPromptingIndicator != null" >
			ORDER BY
				COMERCIAL_CARD_POS_PROMPTING_INDICATOR  ${ordenComercialCardPOSPromptingIndicator}
		</if>
		<if  test="ordenVatEvidence != null" >
			ORDER BY
				VAT_EVIDENCE  ${ordenVatEvidence}
		</if>
		<if  test="ordenOriginalCredit != null" >
			ORDER BY
				ORIGINAL_CREDIT  ${ordenOriginalCredit}
		</if>
		<if  test="ordenAccountLevelProcessingIndicator != null" >
			ORDER BY
				ACCOUNT_LEVEL_PROCESSING_INDICATOR  ${ordenAccountLevelProcessingIndicator}
		</if>
		<if  test="ordenOriginalCreditMoneyTransfer != null" >
			ORDER BY
				ORIGINAL_CREDIT_MONEY_TRANSFER  ${ordenOriginalCreditMoneyTransfer}
		</if>
		<if  test="ordenOriginalCreditOnlineGambling != null" >
			ORDER BY
				ORIGINAL_CREDIT_ONLINE_GAMBLING  ${ordenOriginalCreditOnlineGambling}
		</if>
		<if  test="ordenProductID != null" >
			ORDER BY
				PRODUCT_ID  ${ordenProductID}
		</if>
		<if  test="ordenComboCard != null" >
			ORDER BY
				COMBO_CARD  ${ordenComboCard}
		</if>
		<if  test="ordenFastFunds != null" >
			ORDER BY
				FAST_FUNDS  ${ordenFastFunds}
		</if>
		<if  test="ordenTravelIndicator != null" >
			ORDER BY
				TRAVEL_INDICATOR  ${ordenTravelIndicator}
		</if>
		<if  test="ordenR1r2r3 != null" >
			ORDER BY
				R1R2R3  ${ordenInicioRango}
		</if>
		<if  test="ordenAccountFundingSource != null" >
			ORDER BY
				ACCOUNT_FUNDING_SOURCE  ${ordenAccountFundingSource}
		</if>
		<if  test="ordenSettlementMatch != null" >
			ORDER BY
				SETTLEMENT_MATCH  ${ordenSettlementMatch}
		</if>
		<if  test="ordenTravelAccountData != null" >
			ORDER BY
				TRAVEL_ACCOUNT_DATA  ${ordenTravelAccountData}
		</if>
		<if  test="ordenAccountRestrictedUse != null" >
			ORDER BY
				ACCOUNT_RESTRICTED_USE  ${ordenAccountRestrictedUse}
		</if>
		<if  test="ordenNnssIndicator != null" >
			ORDER BY
				NNSS_INDICATOR  ${ordenNnssIndicator}
		</if>
		<if  test="ordenProductSubtype != null" >
			ORDER BY
				PRODUCT_SUBTYPE  ${ordenProductSubtype}
		</if>
		<if  test="ordenReservado2 != null" >
			ORDER BY
				RESERVADO_2  ${ordenReservado2}
		</if>
		<if  test="ordenTestIndicator != null" >
			ORDER BY
				TEST_INDICATOR  ${ordenTestIndicator}
		</if>
		<if  test="ordenReservado3 != null" >
			ORDER BY
				RESERVADO_3  ${ordenReservado3}
		</if>
    </sql>

    <select id="buscarTodos" resultType="RangoBINVisa" statementType="PREPARED">
       <include refid="consultaVistaMant" />
       <include refid="fragmentoOrden"/>
    </select>
    
	<select id="buscarPorCriterios" parameterType="CriterioBusquedaRangoBinVisa"  resultType="RangoBINVisa" statementType="PREPARED">	
		<include refid="consultaVistaMant" />
		<where>
			<include refid="fragmentoWhere"/>
       		<include refid="fragmentoFiltros"/>
		</where> 
       	<include refid="fragmentoOrden"/>
   	</select>
   	
</mapper>