<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ob.unibanca.sicf.consultasgenerales.mapper.ITipoCambioSBSMapper">
	
	<select id="buscarTodos" resultType="TipoCambioSBS" statementType="PREPARED">
        SELECT 
               A.fecha_tipo_cambio  AS fecha_tipo_cambio
             , A.tipo_cambio		AS tipo_cambio
        FROM MOV_TIPO_CAMBIO_SBS A
    </select>
    
    
    <select id="mantener" parameterType="ParametroMantenimiento"
            statementType="CALLABLE">
        {
            CALL PKG_CONSULTAS.PRC_CON_TIPO_CAMBIO_SBS(
                #{modo,                                 jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.tipoCambio, 			jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.fechaTipoCambio, 		jdbcType=DATE, mode=INOUT},
                #{usuario,                              jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>

</mapper>