<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.reportes.mapper.control.IReporteControlVSSVisaMapper">
    
    <resultMap id="ReporteControlVSSVisaResultMap" type="ReporteControlVSSVisa">
		<result column="tipo_registro" property="tipoRegistro"/>
		<collection javaType="List" ofType="ReporteControlVSSVisaDetalle" property="detalle">
			<result column="id_origen" property="idOrigen"/>
			<result column="descripcion_origen" property="descripcionOrigen"/>
			<result column="id_region" property="idRegion"/>
			<result column="descripcion_region" property="descripcionRegion"/>
			<result column="pais" property="pais"/>
			<result column="id_transaccion_original" property="idTransaccionOriginal"/>
			<result column="descripcion_transaccion_original" property="descripcionTransaccionOriginal"/>
			<result column="transaccion_cuasi_cash" property="transaccionCuasiCash"/>
			<result column="id_programa_comision" property="idProgramaComision"/>
			<result column="descripcion_programa_comision" property="descripcionProgramaComision"/>
			<result column="moneda_compensacion" property="monedaCompensacion"/>
			<result column="descripcion_moneda_compensacion" property="descripcionMonedaCompensacion"/>
			<result column="cantidad" property="cantidad"/>
			<result column="total_fondos" property="totalFondos"/>
			<result column="total_est" property="totalEst"/>
			<result column="total_int" property="totalInt"/>
			<result column="total_isa" property="totalIsa"/>
			<result column="total_oif" property="totalOif"/>
		</collection>
	</resultMap>
    
     <select id="buscarPorFechaProceso" parameterType="CriterioBusquedaReporteControlVSSVisa" statementType="CALLABLE">
        {
            CALL PKG_REPORTE.PRC_REPORTE_CONTROL_VSS_VISA(
                #{fechaProceso,			jdbcType=DATE, mode=IN},
                #{resultado,			jdbcType=CURSOR, mode=OUT, resultMap=ReporteControlVSSVisaResultMap, javaType=java.sql.ResultSet}
              )
        }
    </select>
    
</mapper>
